---
title: Pivotal Platform Breaking Changes
owner: Release Engineering
---

<% current_page.data.title = vars.product_name + " " + vars.v_major_version + " Breaking Changes" %>

This topic describes the breaking changes you need to be aware of when upgrading to <%= vars.product_name %> <%= vars.v_major_version %>. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading <%= vars.product_name %>](https://docs.pivotal.io/platform/2-7/customizing/upgrading-pcf.html).

## <a id='platform'></a> Pivotal Platform

See the following Pivotal Platform breaking changes:

### <a id='scs-2x-not-supported'></a> Pivotal Spring Cloud Services v2.0.x Not Compatible with <%= vars.product_name %> v2.7

Pivotal Spring Cloud Services (SCS) v2.0.x is not compatible with <%= vars.product_name %> v2.7.
You cannot upgrade to Ops Manager v2.7 or <%= vars.product_short %> v2.7 without removing SCS v2.0.x first.

As a result, if you need to use the <code>p-circuit-breaker-dashboard</code> service in SCS v2.0.x, 
you cannot upgrade to Pivotal Platform v2.7. 

If you are running SCS v3.0.x or SCS v3.1.x alongside SCS v2.0.x and do not require `p-circuit-breaker-dashboard` functionality, you can upgrade to Pivotal Platform v2.7. Follow the procedure 
in [How to Upgrade to SCS v3.1](https://docs.pivotal.io/spring-cloud-services/3-1/product-upgrades.html#upgrade-to-3-1). 

After you have successfully upgraded to SCS v3.1.x and have removed SCS v2.0.x, 
proceed with the Pivotal Platform v2.7 upgrade procedure. For more information, see [Upgrading Pivotal Platform](https://docs.pivotal.io/platform/2-7/customizing/upgrading-pcf.html).

## <a id='opsman'></a> Pivotal Operations Manager

See the following Ops Manager breaking changes:

### <a id='renamed-stemcell-endpoint'></a> Stemcell Assignments Endpoint Removed

The `stemcells_assignments` endpoint in the Ops Manager API has been removed.

Instead, operators must use the `stemcell_associations` endpoint, which returns information about all stemcells associated with a product.

For more information, see [Stemcell Associations for Products](https://docs.pivotal.io/platform/2-7/opsman-api/#stemcell-associations-for-products) in the Ops Manager API documentation.

### <a id='bosh-cli-v1'></a> BOSH CLI v1 Not Supported

Ops Manager <%= vars.v_major_version %> does not support v1 of the BOSH CLI.

If you use BOSH CLI v1 commands manually from your workstation or in automation scripts, you need to update your usage to [BOSH CLI v2](https://bosh.io/docs/cli-v2/).

## <a id='pas'></a> <%= vars.app_runtime_full %>

See the following <%= vars.product_short %> breaking changes:

### <a id='no-external-blobstores'></a> You Cannot Install PAS v2.7 with External Blobstores

You cannot install or deploy PAS v2.7 with external blobstores. For more information, see [You Cannot Install PAS v2.7 with External Blobstores](./runtime-rn.html#no-external-blobstores) in _Pivotal Application Service v2.7 Release Notes_.

### <a id='consul-server'></a> Consul Clients Not Supported in <%= vars.product_short %>

The Consul server instance is removed from <%= vars.product_short %>. Tiledev authors must remove any Consul clients from their products to avoid failed deployments.

To remove Consul clients from your products, make the following changes to any `job_type` that is colocated with `consul_agent`:

```
- name: consul_agent
    release: consul
    ...
    manifest: |
      ...
      consul:
        client:
          enabled: "(( $ops_manager.dns_enabled ? false : true ))"
```

For more information about removing Consul clients from your products, see [Tile Authors Must Remove consul_agent](https://docs.pivotal.io/tiledev/2-4/release-notes.html#breaking-consul) in the <%= vars.product_name %> v2.4 Partner Release Notes.

### <a id='props-changed'></a> Changed Properties and Jobs

The following <%= vars.product_short %> tile properties and <%= vars.product_short %> jobs have changed in <%= vars.product_short %> <%= vars.v_major_version %>.

Before upgrading to <%= vars.v_major_version %>, you must update any automation scripts to remove or change references to these properties and jobs.

* UAA properties `uaadb.tls_enabled` and `uaadb.skip_ssl_validation`
  - The UAA properties `uaadb.tls_enabled` and `uaadb.skip_ssl_validation` are removed and replaced by `uaadb.tls`
  - For more information, see [UAA Property uaadb.tls Consolidates TLS Configuration Options](https://docs.pivotal.io/platform/2-7/pcf-release-notes/runtime-rn.html#uaadb) in the <%= vars.product_short %> <%= vars.v_major_version %> release notes.

* Syslog jobs `syslog_adapter` and `syslog_scheduler`, and property `syslog_metrics_to_syslog_enabled`
  - The job instance groups `syslog_adapter` and `syslog_scheduler`,
  and the property `syslog_metrics_to_syslog_enabled` are removed.
  - Agent-based syslog egress renders these items unnecessary.  For more information, see [Agent-Based Syslog Egress Is Enabled by Default](https://docs.pivotal.io/platform/2-7/pcf-release-notes/runtime-rn.html#agent-based-syslog-egress) in the <%= vars.product_short %> <%= vars.v_major_version %> release notes.

* Container networking property `cf_networking_internal_domains`
  - The `cf_networking_internal_domains` is now an array.

* Runtime CredHub property `credhub_key_encryption_passwords`
  - The `credhub_key_encryption_passwords` property is replaced by `credhub_hsm_provider_encryption_keys` for HSM-resident CredHub and `credhub_internal_provider_keys` for internal CredHub.

## <a id='ist'></a> Pivotal Isolation Segment

### <a id='props-changed-ist'></a> Changed Syslog Properties and Jobs

The following Pivotal Isolation Segment tile properties and jobs have been removed in <%= vars.windows_runtime %> <%= vars.v_major_version %>:

* Syslog job `syslog_adapter`
* Syslog job `syslog_scheduler`
* Syslog property `syslog_metrics_to_syslog_enabled`

Before upgrading to <%= vars.v_major_version %>, you must update any automation scripts to remove or change references to these properties and jobs.

These changes mirror <%= vars.product_short %> tile changes described in the [Changed Properties and Jobs](#props-changed) section above.

For more information, see [Agent-Based Syslog Egress Is Enabled by Default](https://docs.pivotal.io/platform/2-7/pcf-release-notes/segment-rn.html#agent-based-syslog-egress) in the Pivotal Isolation Segment <%= vars.v_major_version %> release notes.

### <a id='ist-diego'></a> Isolation Segment Cells Update Diego Securely Over Port 8447

Diego cells deployed by the Isolation Segment tile (IST) communicate  with the Diego file server with HTTPS over port 8447.
Previously, IST cells communicated with HTTP over port 8080 like cells deployed by the PAS tile itself.

If you use isolation segments, you must ensure that port 8447 is open on the Diego Brain file server VM, which is deployed by the PAS tile.

## <a id='pasw'></a> <%= vars.windows_runtime_full %>

See the following <%= vars.windows_runtime_full %> (<%= vars.windows_runtime %>) breaking changes:

### <a id='windows2016'></a> Windows2016 Stack is Deprecated

In <%= vars.windows_runtime_full %> <%= vars.v_major_version %>, the `windows2016` stack is deprecated. Before you upgrade to <%= vars.windows_runtime_full %> <%= vars.v_major_version %>, you can migrate any apps that run on the `windows2016` stack to the `windows` stack.

You can migrate your apps from `windows2016` to `windows` using Stack Auditor, a Cloud Foundry CLI plugin.
For more information, see [Using the Stack Auditor Plugin](https://docs.pivotal.io/platform/adminguide/stack-auditor.html).


### <a id='rdp'></a> RDP is Not Supported

The **Enable Remote Desktop Protocol** field is removed from the <%= vars.windows_runtime %> tile. <%= vars.windows_runtime %> VMs do not support connection through RDP.

Remove references to `.properties.rdp_enabled` in any automated scripts to avoid errors during upgrade.

To access Windows VMs, use `bosh ssh`. To enable `bosh ssh` for Windows VM, select **Enable BOSH-native SSH support on all VMs** in the <%= vars.windows_runtime %> tile.

For more information, see the [Configure VMs](https://docs.pivotal.io/platform/application-service-windows/2-7/installing.html#config-vms) section in _Installing and Configuring <%= vars.windows_runtime %>_.

### <a id='props-changed-pasw'></a> Changed Syslog Properties and Jobs

The following <%= vars.windows_runtime %> tile properties and jobs have been removed in <%= vars.windows_runtime %> <%= vars.v_major_version %>:

* Syslog job `syslog_adapter`
* Syslog job `syslog_scheduler`
* Syslog property `syslog_metrics_to_syslog_enabled`

Before upgrading to <%= vars.v_major_version %>, you must update any automation scripts to remove or change references to these properties and jobs.

These changes mirror <%= vars.product_short %> tile changes described in the [Changed Properties and Jobs](#props-changed) section above.

For more information, see [Agent-Based Syslog Egress Is Enabled by Default](https://docs.pivotal.io/platform/2-7/pcf-release-notes/windows-rn.html#agent-based-syslog-egress) in the <%= vars.windows_runtime_full %> <%= vars.v_major_version %> release notes.

## <a id='pks'></a> <%= vars.k8s_runtime %>

For breaking changes in <%= vars.k8s_runtime %> v1.5, see See [Breaking Changes](https://docs.pivotal.io/pks/1-5/release-notes.html#v1.5.0-breaking-changes) in the _<%= vars.k8s_runtime %> Release Notes_.
