---
title: Pivotal Platform v2.8 Breaking Changes
owner: Release Engineering
---

<% current_page.data.title = vars.platform_name + " " + vars.v_major_version + " Breaking Changes" %>

This topic describes the breaking changes you need to be aware of when upgrading to <%= vars.platform_name %> <%= vars.v_major_version %>. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading <%= vars.platform_name %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).


## <a id='opsman'></a> Pivotal Operations Manager

There are no breaking changes in this release of Ops Manager.

## <a id='pas'></a> Pivotal Application Service (PAS)

See the following PAS breaking changes:

### <a id='syslog-adapters-removed'></a> Syslog Adapters Are Removed

Syslog Adapters are no longer supported 
in PAS v2.8. 

Before upgrading to PAS v2.8, make sure that 
Syslog Agents are enabled in your PAS deployment. 
By default, PAS v2.7 enables Syslog Agents and most deployments automatically enable them.

If, for some reason, you have configured PAS v2.7 to disable Syslog Agents through the UI or by setting `properties.syslog_agent_enabled`  to `false`, then you must enable them prior to the upgrade. 

Otherwise, the upgrade to PAS v2.8 fails in order to prevent potential log loss.

## <a id='ist'></a> Pivotal Isolation Segment

See the following Pivotal Isolation Segment breaking changes:

### <a id='property-renamed'></a> Segment Name Property Is Renamed

The property `.isolated_diego_cell.placement_tag` is renamed `.properties.compute_isolation` and includes three new inputs. This may impact your platform automation scripts.

`.properties.compute_isolation` contains the following inputs:

* `.properties.compute_isolation.disabled` to disable compute isolation

* `.properties.compute_isolation.enabled` to enable compute isolation

* `.properties.compute_isolation.enabled.isolation_segment_name` to add a placement tag for your Diego Cells when compute isolation is enabled

You must update any platform automation scripts that include `.isolated_diego_cell.placement_tag` to use the new `.properties.compute_isolation` name and inputs. You must either disable compute isolation or enable compute isolation and specify a placement tag with these inputs. 

For more information, see and [Compute and Networking Isolation](https://docs.pivotal.io/platform/2-8/pcf-release-notes/segment-rn.html#compute-networking-isolation) in the _Pivotal Isolation Segment v2.8 Release Notes_.

For guidance on setting configuration values, see the [Compute and Networking Isolation](https://docs.pivotal.io/pivotalcf/2-8/customizing/installing-pcf-is.html#compute-networking-isolation) section of the _Installing <%= vars.product_name %> Isolation Segment_ topic.

### <a id='compute-isolation-router-sharding'></a> Compute Isolation and Router Sharding Must Be Configured Simultaneously

In the Isolation Segment v2.8 tile, compute isolation and networking isolation must be configured or disabled simultaneously. In the **Compute and Network Isolation** pane, you can disable compute isolation by selecting **Disable** under **Compute isolation**. If you disable compute isolation, you must set **Router sharding mode** to **No Isolation Segment**. If **Compute isolation** is enabled and **Router sharding mode** is set to **Isolation Segment only**, the Isolation Segment tile fails.

Compute isolation is enabled by default. However, isolation segments do not require compute isolation. For more information, see [Compute and Networking Isolation](https://docs.pivotal.io/platform/2-8/pcf-release-notes/segment-rn.html#compute-networking-isolation) in the _Pivotal Isolation Segment v2.8 Release Notes_.

For more information about configuring or disabling compute and networking isolation, see the [Compute and Networking Isolation](https://docs.pivotal.io/pivotalcf/2-8/customizing/installing-pcf-is.html#compute-networking-isolation) section in the _Installing Pivotal Isolation Segment_ topic.


## <a id='pasw'></a> PAS for Windows

There are no breaking changes in this release of PAS for Windows.

