---
title: Breaking Changes
owner: Release Engineering
---

<% current_page.data.title = vars.platform_name + " " + " and Runtime Breaking Changes" %>

This topic describes the breaking changes you need to be aware of when upgrading to <%= vars.v_major_version %>.
For more information about important preparation steps you must follow before beginning an upgrade,
see [Upgrading <%= vars.platform_name %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).


## <a id='om'></a> <%= vars.ops_manager_full %> <%= vars.v_major_version %>

See the following <%= vars.ops_manager %> <%= vars.v_major_version %> breaking changes:



## <a id='pas'></a> <%= vars.app_runtime_full %> <%= vars.v_major_version %>

See the following <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> breaking changes:


## <a id='pasw'></a> <%= vars.windows_runtime_full %> <%= vars.v_major_version %>

See the following <%= vars.windows_runtime_abbr %> breaking changes:



## <a id='ist'></a> <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

See the following <%= vars.segment_runtime_full %> breaking changes:
