---
title: Pivotal Platform v2.8 Breaking Changes
owner: Release Engineering
---

<% current_page.data.title = vars.platform_name + " " + vars.v_major_version + " Breaking Changes" %>

This topic describes the breaking changes you need to be aware of when upgrading to <%= vars.platform_name %> <%= vars.v_major_version %>. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading <%= vars.platform_name %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).

## <a id='opsman'></a> Pivotal Operations Manager

There are no breaking changes in this release of Ops Manager.

## <a id='pas'></a> Pivotal Application Service (PAS)

See the following PAS breaking changes:

### <a id='credhub-vm'></a> CredHub Requires At Least One CredHub Instance

PAS v2.8 and later requires at least one CredHub instance. If the number of CredHub instances is set to 0, the deployment fails.

If you scaled the number of CredHub instances to 0 in PAS v2.7, check the number of CredHub instances in the **Resource Config** pane of the PAS v2.8 tile and increase to one or more instances before you apply changes for the upgrade.

For more information, see [PAS Must Use At Least One CredHub VM](runtime-rn.html#credhub-vm) in the PAS v2.8 Release Notes.

## <a id='ist'></a> Pivotal Isolation Segment

See the following Pivotal Isolation Segment breaking changes:

### <a id='property-renamed'></a> Segment Name Property Is Renamed

The property `.isolated_diego_cell.placement_tag` is renamed `.properties.compute_isolation` and includes three new inputs. This may impact your platform automation scripts.

`.properties.compute_isolation` contains the following inputs:

* `.properties.compute_isolation.disabled` to disable compute isolation

* `.properties.compute_isolation.enabled` to enable compute isolation

* `.properties.compute_isolation.enabled.isolation_segment_name` to add a placement tag for your Diego Cells when compute isolation is enabled

You must update any platform automation scripts that include `.isolated_diego_cell.placement_tag` to use the new `.properties.compute_isolation` name and inputs. You must either disable compute isolation or enable compute isolation and specify a placement tag with these inputs. 

For more information, see and [Compute and Networking Isolation](https://docs.pivotal.io/platform/2-8/pcf-release-notes/segment-rn.html#compute-networking-isolation) in the _Pivotal Isolation Segment v2.8 Release Notes_.

For guidance on setting configuration values, see the [Compute and Networking Isolation](https://docs.pivotal.io/pivotalcf/2-8/customizing/installing-pcf-is.html#compute-networking-isolation) section of the _Installing <%= vars.product_name %> Isolation Segment_ topic.

### <a id='compute-isolation-router-sharding'></a> Compute Isolation and Router Sharding Must Be Configured Simultaneously

In the Isolation Segment v2.8 tile, compute isolation and networking isolation must be configured or disabled simultaneously. In the **Compute and Network Isolation** pane, you can disable compute isolation by selecting **Disable** under **Compute isolation**. If you disable compute isolation, you must set **Router sharding mode** to **No Isolation Segment**. If **Compute isolation** is enabled and **Router sharding mode** is set to **Isolation Segment only**, the Isolation Segment tile fails.

Compute isolation is enabled by default. However, isolation segments do not require compute isolation. For more information, see [Compute and Networking Isolation](https://docs.pivotal.io/platform/2-8/pcf-release-notes/segment-rn.html#compute-networking-isolation) in the _Pivotal Isolation Segment v2.8 Release Notes_.

For more information about configuring or disabling compute and networking isolation, see the [Compute and Networking Isolation](https://docs.pivotal.io/pivotalcf/2-8/customizing/installing-pcf-is.html#compute-networking-isolation) section in the _Installing Pivotal Isolation Segment_ topic.


## <a id='pasw'></a> PAS for Windows

There are no breaking changes in this release of PAS for Windows.

