---
title: Pivotal Platform v2.10 Breaking Changes
owner: Release Engineering
---

<% current_page.data.title = vars.platform_name + " " + vars.v_major_version + " and Runtime Breaking Changes" %>


This topic describes the breaking changes you need to be aware of when upgrading to <%= vars.v_major_version %>.
For more information about important preparation steps you must follow before beginning an upgrade,
see [Upgrading <%= vars.platform_name %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).


## <a id='om'></a> <%= vars.ops_manager_full %>

See the following <%= vars.ops_manager %> breaking change:

### <a id='credhub-regenerate'></a> CredHub Maestro Removes the "update-transitional latest" Command

Ops Manager v2.10 includes CredHub Maestro v8.0.0.
In this version of CredHub Maestro, the `maestro update-transitional latest` command is removed.

If you have scripts that rely on the `maestro update-transitional latest` command,
remove references to the command before you upgrade to Ops Manager v2.10.

In CredHub Maestro v8.0.0, you run `maestro regenerate ca` to regenerate a certificate authority (CA) and mark the latest version of the CA as transitional.
This command performs both actions, while previous versions of CredHub Maestro use a separate command for each task.

For information about rotating CAs and certificates using CredHub Maestro, see [Advanced Certificate Rotation with CredHub Maestro](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/advanced-certificate-rotation.html).

## <a id='pas'></a> <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>)

See the following <%= vars.app_runtime_abbr %> breaking changes:

### <a id='timestamps'></a> Timestamp Format for Component Logs Replaces Timestamp Format for Diego Logs

The **Format of timestamps in Diego logs** feature is removed from the **App Containers** pane of the TAS for VMs tile. It is replaced by **Timestamp format for component logs** in the **System Logging** pane of the TAS for VMs tile.

TAS for VMs v2.10 automatically configures **Timestamp format for component logs** based on how you configured **Format of timestamps in Diego logs** in TAS for VMs v2.9:

* If the **RFC3339 timestamps** option for **Format of timestamps in Diego logs** is selected before you upgrade to TAS for VMs v2.10, then the **Converge to human-readable RFC3339 format** option for **Timestamp format for component logs** is selected in TAS for VMs v2.10 by default. **Converge to human-readable RFC3339 format** configures TAS for VMs to use RFC3339 timestamps in the logs of several TAS for VMs components.

* If the **Seconds since the Unix epoch** option for **Format of timestamps in Diego logs** is selected before you upgrade to TAS for VMs v2.10, then the **Maintain previous format** option for **Timestamp format for component logs** is selected in TAS for VMs v2.10 by default.

To avoid breaking changes associated with this update, you must:

* Update any automation scripts that reference the removed **Format of timestamps in Diego logs** feature.

* If **RFC3339 timestamps** is selected for **Format of timestamps in Diego logs** before you upgrade to TAS for VMs v2.10, update any external monitoring configuration to account for RFC3339 timestamps in the logs for several TAS for VMs components. For a list of TAS for VMs components that support RFC3339 timestamps in TAS for VMs v2.10, see [Optionally Use Human-Readable Timestamps for Component Logs](runtime-rn.html#timestamps) in _VMware Tanzu Application Service for VMs v2.10 Release Notes_.

For more information about configuring RFC3339 timestamps for component logs, see [System Logging](https://docs.pivotal.io/platform/application-service/2-10/operating/configuring-pas.html) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='aggregate-drains'></a> Aggregate Syslog Drains Contain Logs Only

In TAS for VMs v2.10, aggregate syslog drains contain only logs by default, and do not contain metrics. If you rely on metrics sent through aggregate syslog drains, you must add <code>?include-metrics-deprecated=true</code> to your aggregate drain URLs to continue to receive metrics in the drains.

For more information, see <a href="https://docs.pivotal.io/platform/2-10/release-notes/runtime-rn.html#syslog-no-metrics">Aggregate Syslog Drains Contain Logs Only</a> in the _TAS for VMs v2.10 Release Notes_.


## <a id='pasw'></a> <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>)

See the following <%= vars.windows_runtime_abbr %> breaking changes:



## <a id='ist'></a> <%= vars.segment_runtime_full %>

See the following <%= vars.segment_runtime_full %> breaking changes:
