---
title: Pivotal Platform v2.8 Breaking Changes
owner: Release Engineering
---

<% current_page.data.title = vars.platform_name + " " + vars.v_major_version + " Breaking Changes" %>

This topic describes the breaking changes you need to be aware of when upgrading to <%= vars.platform_name %> <%= vars.v_major_version %>. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading <%= vars.platform_name %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).


## <a id='opsman'></a> <%= vars.ops_manager_full %>

There are no breaking changes in this release of <%= vars.ops_manager %>.


## <a id='pas'></a> <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>)

See the following <%= vars.app_runtime_abbr %> breaking changes:

### <a id="2-8-4-stability"></a> PAS v2.8.4 Stability Issues

<p class="note warning"><strong>IMPORTANT</strong>: Pivotal advises that you do not upgrade to PAS v2.8.4 at this time. Pivotal is investigating issues reported with the stability of PAS v2.8.4.</p>

If you have already upgraded to PAS v2.8.4 and are experiencing instability in your PAS deployment, such as `cf push` failure, contact [Support](https://support.pivotal.io).

### <a id='credhub-vm'></a> CredHub Requires At Least One CredHub Instance

<%= vars.app_runtime_abbr %> v2.8 and later requires at least one CredHub instance. If the number of CredHub instances is set to 0, the deployment fails.

If you scaled the number of CredHub instances to 0 in <%= vars.app_runtime_abbr %> v2.7, check the number of CredHub instances in the **Resource Config** pane of the <%= vars.app_runtime_abbr %> v2.8 tile and increase to one or more instances before you apply changes for the upgrade.

For more information, see [<%= vars.app_runtime_abbr %> Must Use At Least One CredHub VM](runtime-rn.html#credhub-vm) in _<%= vars.app_runtime_full %> v2.8 Release Notes_.

### <a id='syslog-adapters-removed'></a> Syslog Adapters Are Removed

Syslog Adapters are not supported in <%= vars.app_runtime_abbr %> v2.8. If you disabled Syslog Agents on <%= vars.app_runtime_abbr %> v2.7.7, you must enable Syslog Agents before you upgrade to v2.8.x. If you do not enable Syslog Agents prior to upgrade, the upgrade fails in order to prevent potential log loss.

To enable Syslog Agents on <%= vars.app_runtime_abbr %> v2.7.7, do one of the following:

* Go to the **System Logging** pane in the <%= vars.app_runtime_abbr %> tile and select the **Enable agent-based syslog egress for app logs** checkbox.

* Set the `properties.syslog_agent_enabled` property to `true`.


## <a id='pasw'></a> <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>)

There are no breaking changes in this release of <%= vars.windows_runtime_abbr %>.


## <a id='ist'></a> <%= vars.segment_runtime_full %>

See the following <%= vars.segment_runtime_full %> breaking changes:

### <a id='property-renamed'></a> Segment Name Property Is Renamed

The property `.isolated_diego_cell.placement_tag` is renamed `.properties.compute_isolation` and includes three new inputs. This may impact your platform automation scripts.

`.properties.compute_isolation` contains the following inputs:

* `.properties.compute_isolation.disabled` to disable compute isolation

* `.properties.compute_isolation.enabled` to enable compute isolation

* `.properties.compute_isolation.enabled.isolation_segment_name` to add a placement tag for your Diego Cells when compute isolation is enabled

You must update any platform automation scripts that include `.isolated_diego_cell.placement_tag` to use the new `.properties.compute_isolation` name and inputs. You must either disable compute isolation or enable compute isolation and specify a placement tag with these inputs. 

For more information, see [Compute and Networking Isolation](segment-rn.html#compute-networking-isolation) in _<%= vars.segment_runtime_full %> v2.8 Release Notes_.

For guidance on setting configuration values, see [Compute and Networking Isolation](https://docs.pivotal.io/platform/2-8/customizing/installing-pcf-is.html#compute-networking-isolation) in _Installing <%= vars.segment_runtime_full %>_.

### <a id='compute-isolation-router-sharding'></a> Compute Isolation Must Be Enabled If Networking Isolation Is Enabled

In the <%= vars.segment_runtime_full %> <%= vars.v_major_version %> tile, you cannot disable compute isolation and enable networking isolation at the same time. In the **Compute and Network Isolation** pane, you can disable compute isolation by selecting **Disable** under **Compute isolation**. If you disable compute isolation, you must set **Router sharding mode** to **No isolation segment**. If **Compute isolation** is disabled and **Router sharding mode** is set to **Isolation segment only**, the apps in your isolation segment fail to schedule.

Compute isolation is enabled by default. However, isolation segments do not require compute isolation. For more information, see [Compute and Networking Isolation](https://docs.pivotal.io/platform/2-8/pcf-release-notes/segment-rn.html#compute-networking-isolation) in _<%= vars.segment_runtime_full %> v2.8 Release Notes_.

For more information about configuring or disabling compute and networking isolation, see [Compute and Networking Isolation](https://docs.pivotal.io/platform/2-8/customizing/installing-pcf-is.html#compute-networking-isolation) in _Installing <%= vars.segment_runtime_full %>_.
