---
title: Breaking Changes
owner: Release Engineering
---

<% current_page.data.title = vars.platform_name + " " + " and Runtime Breaking Changes" %>

This topic describes the breaking changes you need to be aware of when upgrading to <%= vars.v_major_version %>.
For more information about important preparation steps you must follow before beginning an upgrade,
see [Upgrading <%= vars.platform_name %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).

In addition, this topic lists of components that are either at their end-of-life (EOL) or nearing EOL. Components that are EOL may impact certain apps or deployments that depend on them. 

For more information, see [End-of-Life Components](#end-of-life).

## <a id='om'></a> <%= vars.ops_manager_full %> <%= vars.v_major_version %>

See the following <%= vars.ops_manager %> <%= vars.v_major_version %> breaking changes:

### <a id='maestro'></a> Rotating Certificates in Ops Manager

Before performing certificate rotation with Ops Manager v2.9, you must first upgrade both <%= vars.ops_manager %> and <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) to v2.9. 

If you rotate certificates with Ops Manager v2.9 and Pivotal Application Service 
(PAS) v2.8, you can orphan VMs.

### <a id='maestro-services'></a> Service TLS CA Rotation

Not all  <%= vars.ops_manager %> service tiles are compatible with CredHub Maestro. 
If you use CredHub Maestro to rotate the services TLS certificate authority (CA) and you have incompatible tiles in your deployment, then you may experience services downtime or data loss. 

Before rotating the services TLS CA with CredHub Maestro, you must check that the tiles in your deployment are compatible. For compatibility information, see [CredHub Maestro Tile Compatibility](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/maestro-tile-compatibility.html).

To rotate the services TLS CA, see [Advanced Certificate Rotation with CredHub Maestro](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/advanced-certificate-rotation.html#services-rotation).

### <a id='nsx-t-2-2'></a> Ops Manager v2.9 Incompatible with vSphere Data Center NSX-T v2.2 and Earlier

The BOSH vSphere CPI included with Ops Manager v2.9 does not support NSX-T v2.2 or earlier.

If you are running NSX-T v2.2 or earlier, you must upgrade NSX-T before deploying Ops Manager v2.9.


## <a id='pas'></a> <%= vars.app_runtime_full %> <%= vars.v_major_version %>

See the following <%= vars.app_runtime_abbr %> <%= vars.v_major_version %> breaking changes:

### <a id='credhub-interpolate-with-https'></a> Improper Application HTTP(S) Proxy Configuration breaks CredHub interpolation in container <%= vars.platform_name %> 2.9.6. Please make sure applications [follow the recommended proxy settings](https://docs.pivotal.io/platform/application-service/2-9/operating/config-proxy.html). In order to detect and update applications with improper HTTP(S) proxy, please see [KB 9305](https://community.pivotal.io/s/article/Credhub-Reference-Can-t-Be-Interpolated-Due-To-Improper-HTTP-S-Proxy-Configuration?language=en_US).

### <a id='disable-hostname-validation'></a> Disable Hostname Validation for External Databases on GCP and Azure

This breaking change applies only to deployments where the following
conditions are met:

* In the **Databases** pane, PAS v2.8 is
configured to use an external GCP or Azure database.

* In <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>,
you want to use the same external GCP or Azure database configured
in the **Databases** pane.

* You enabled TLS communication for the GCP or Azure external database by adding a certificate authority (CA) certificate to the **Database CA certificate** field in the **Databases** pane. 

If your deployment meets these conditions, you must disable hostname validation
before you upgrade to <%= vars.v_major_version %>.
Failure to disable hostname validation can cause the upgrade to fail
for deployments that use external databases on GCP or Azure.

For more information about disabling hostname validation, see [Disable Hostname Validation for External Databases on GCP and Azure](https://docs.pivotal.io/platform/2-9/upgrading/checklist.html#disable-hostname-validation) in _Upgrade Preparation Checklist_.


## <a id='pasw'></a> <%= vars.windows_runtime_full %> <%= vars.v_major_version %>

There are no breaking changes in this release of <%= vars.windows_runtime_abbr %>.

## <a id='ist'></a> <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

There are no breaking changes in this release of <%= vars.segment_runtime_full %>.

## <a id='end-of-life'></a> End-of-Life Components

This section lists of components that are either at their end-of-life (EOL) or nearing EOL.

### <a id='buildpack'></a> Buildpack Support Changes

This section lists support changes to buildpacks associated with this release:

* **.NET Core Buildpack**: Support for dotnet-runtime versions 3.0.x will be removed in the first release of the .NET Core buildpack after March 3, 2020.

* **Node.js Buildpack**: Node.js v8.x is removed from the Node.js buildpack v1.7.9 and later because Node.js v8.x is out of support. This removal is known to break App Metrics v1.6.0 to v1.6.2 since those versions of App Metrics rely on Node.js v8.0.

* **Python**: Python v2.7 is removed from the buildpack that ships with TAS for VMs v2.9.0.

If your app depends on any of these language distributions and use the buildpacks packaged for TAS for VMs, you should consider updating the apps and their dependencies prior to upgrading to TAS for VMs v2.9.0.

### <a id='2-6'></a> Ops Manager v2.6 and PAS v2.6

Shortly after Ops Manager and TAS for VMs v2.9 are released, Ops Manager v2.6 and PAS v2.6 reach their end of general support.
