---
title: Pivotal Platform Breaking Changes
owner: Release Engineering
---

<% current_page.data.title = vars.product_name + " " + vars.v_major_version + " Breaking Changes" %>

This topic describes the breaking changes you need to be aware of when upgrading to <%= vars.product_name %> <%= vars.v_major_version %>. For more information about important preparation steps you must follow before beginning an upgrade, see [Upgrading <%= vars.product_name %>](https://docs.pivotal.io/platform/2-7/customizing/upgrading-pcf.html).


## <a id='opsman'></a> Pivotal Operations Manager

See the following Ops Manager breaking changes:

### <a id='renamed-stemcell-endpoint'></a> Stemcell Assignments Endpoint Removed

The `stemcells_assignments` endpoint in the Ops Manager API has been removed.

Instead, operators must use the `stemcell_associations` endpoint, which returns information about all stemcells associated with a product.

For more information, see [Stemcell Associations for Products](https://docs.pivotal.io/pivotalcf/2-7/opsman-api/#stemcell-associations-for-products) in the Ops Manager API documentation.

### <a id='bosh-cli-v1'></a> BOSH CLI v1 Not Supported

Ops Manager <%= vars.v_major_version %> does not support v1 of the BOSH CLI.

If you use BOSH CLI v1 commands manually from your workstation or in automation scripts, you need to update your usage to [BOSH CLI v2](https://bosh.io/docs/cli-v2/).

## <a id='pas'></a> <%= vars.product_full %>

See the following <%= vars.product_short %> breaking changes:

### <a id='consul-server'></a> Consul Clients Not Supported in <%= vars.product_short %>

The Consul server instance is removed from <%= vars.product_short %>. Tiledev authors must remove any Consul clients from their products to avoid failed deployments.

To remove Consul clients from your products, make the following changes to any `job_type` that is colocated with `consul_agent`:

```
- name: consul_agent
    release: consul
    ...
    manifest: |
      ...
      consul:
        client:
          enabled: "(( $ops_manager.dns_enabled ? false : true ))"
```

For more information about removing Consul clients from your products, see [Tile Authors Must Remove consul_agent](https://docs.pivotal.io/tiledev/2-4/release-notes.html#breaking-consul) in the <%= vars.product_name %> v2.4 Partner Release Notes.

### <a id='props-changed'></a> Changed Properties and Jobs

The following <%= vars.product_short %> tile properties and <%= vars.product_short %> jobs have changed in <%= vars.product_short %> <%= vars.v_major_version %>.

Before upgrading to <%= vars.v_major_version %>, you must update any automation scripts to remove or change references to these properties and jobs.

* UAA properties `uaadb.tls_enabled` and `uaadb.skip_ssl_validation`
  - The UAA properties `uaadb.tls_enabled` and `uaadb.skip_ssl_validation` are removed and replaced by `uaadb.tls`
  - For more information, see [UAA Property uaadb.tls Consolidates TLS Configuration Options](https://docs.pivotal.io/platform/2-7/pcf-release-notes/runtime-rn.html#uaadb) in the <%= vars.product_short %> <%= vars.v_major_version %> release notes.

* Syslog jobs `syslog_adapter` and `syslog_scheduler`, and property `syslog_metrics_to_syslog_enabled`
  - The job instance groups `syslog_adapter` and `syslog_scheduler`,
  and the property `syslog_metrics_to_syslog_enabled` are removed.
  - Agent-based syslog egress renders these items unnecessary.  For more information, see [Agent-Based Syslog Egress Is Enabled by Default](https://docs.pivotal.io/platform/2-7/pcf-release-notes/runtime-rn.html#agent-based-syslog-egress) in the <%= vars.product_short %> <%= vars.v_major_version %> release notes.

* Container networking property `cf_networking_internal_domains`
  - The `cf_networking_internal_domains` is now an array.

* Runtime CredHub property `credhub_key_encryption_passwords`
  - The `credhub_key_encryption_passwords` property is replaced by `credhub_hsm_provider_encryption_keys` for HSM-resident CredHub and `credhub_internal_provider_keys` for internal CredHub.

### <a id='diego-port-change'></a> Diego File Server is now Serving Over HTTPS

Diego file server is now serving on port 8447. Port must be open for communications between IST and PAS.

## <a id='ist'></a> Pivotal Isolation Segment

### <a id='props-changed-ist'></a> Changed Syslog Properties and Jobs

The following Pivotal Isolation Segment tile properties and jobs have been removed in <%= vars.product_windows %> <%= vars.v_major_version %>:

* Syslog job `syslog_adapter`
* Syslog job `syslog_scheduler`
* Syslog property `syslog_metrics_to_syslog_enabled`

Before upgrading to <%= vars.v_major_version %>, you must update any automation scripts to remove or change references to these properties and jobs.

These changes mirror <%= vars.product_short %> tile changes described in the [Changed Properties and Jobs](#props-changed) section above.

For more information, see [Agent-Based Syslog Egress Is Enabled by Default](https://docs.pivotal.io/platform/2-7/pcf-release-notes/segment-rn.html#agent-based-syslog-egress) in the Pivotal Isolation Segment <%= vars.v_major_version %> release notes.

## <a id='pasw'></a> <%= vars.product_windows_full %>

See the following <%= vars.product_windows_full %> (<%= vars.product_windows %>) breaking changes:

### <a id='windows2016'></a> Removal of the windows2016 Stack

In <%= vars.product_windows_full %> <%= vars.v_major_version %>, the `windows2016` stack is removed. Before you upgrade to <%= vars.product_windows_full %> <%= vars.v_major_version %>, you must migrate any apps that run on the `windows2016` stack to the `windows` stack.

You can migrate your apps from `windows2016` to `windows` using Stack Auditor, a Cloud Foundry CLI plugin.
For more information, see [Using the Stack Auditor Plugin](https://docs.pivotal.io/platform/adminguide/stack-auditor.html).


### <a id='rdp'></a> RDP is Not Supported

The **Enable Remote Desktop Protocol** field is removed from the <%= vars.product_windows %> tile. <%= vars.product_windows %> VMs do not support connection through RDP.

Remove references to `.properties.rdp_enabled` in any automated scripts to avoid errors during upgrade.

To access Windows VMs, use `bosh ssh`. To enable `bosh ssh` for Windows VM, select **Enable BOSH-native SSH support on all VMs** in the <%= vars.product_windows %> tile.

For more information, see the [Configure VMs](https://docs.pivotal.io/platform/application-service-windows/2-7/installing.html#config-vms) section in _Installing and Configuring <%= vars.product_windows %>_.

### <a id='props-changed-pasw'></a> Changed Syslog Properties and Jobs

The following <%= vars.product_windows %> tile properties and jobs have been removed in <%= vars.product_windows %> <%= vars.v_major_version %>:

* Syslog job `syslog_adapter`
* Syslog job `syslog_scheduler`
* Syslog property `syslog_metrics_to_syslog_enabled`

Before upgrading to <%= vars.v_major_version %>, you must update any automation scripts to remove or change references to these properties and jobs.

These changes mirror <%= vars.product_short %> tile changes described in the [Changed Properties and Jobs](#props-changed) section above.

For more information, see [Agent-Based Syslog Egress Is Enabled by Default](https://docs.pivotal.io/platform/2-7/pcf-release-notes/windows-rn.html#agent-based-syslog-egress) in the <%= vars.product_windows_full %> <%= vars.v_major_version %> release notes.

## <a id='pks'></a> <%= vars.pks_product_short %>

For breaking changes in <%= vars.pks_product_short %> v1.5, see See [Breaking Changes](https://docs.pivotal.io/pks/1-5/release-notes.html) in the _<%= vars.pks_product_short %> Release Notes_.
