---
title: Pivotal Platform v2.10 Feature Highlights
modified_date: false
---

<% current_page.data.title = vars.platform_name + " " + vars.v_major_version + " and Runtime Feature Highlights" %>

 <%# This list comes from combining, selecting, and summarizing all the release notes, and punching them up a bit, informed by marketing -- see the Wiki https://docs-wiki.cfapps.io/wiki/team/release-manager.html#feature-highlights %>

This topic highlights important new features included in <%= vars.platform_name %> <%= vars.v_major_version %>.


## <a id='om'></a> <%= vars.ops_manager_full %> Highlights

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following important major features. For additional information about these and other features included in <%= vars.ops_manager %> <%= vars.v_major_version %>, see [<%= vars.ops_manager_full %> <%= vars.v_major_version %> Release Notes](opsmanager-rn.html).



---

## <a id='pas'></a> <%= vars.app_runtime_full %> Highlights

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following important major features. For additional information about these and other features included in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, see [<%= vars.app_runtime_full %> <%= vars.v_major_version %> Release Notes](runtime-rn.html).
