---
title: Pivotal Platform v2.10 Feature Highlights
modified_date: false
---

<% current_page.data.title = vars.platform_name + " " + vars.v_major_version + " and Runtime Feature Highlights" %>

 <%# This list comes from combining, selecting, and summarizing all the release notes, and punching them up a bit, informed by marketing -- see the Wiki https://docs-wiki.cfapps.io/wiki/team/release-manager.html#feature-highlights %>

This topic highlights important new features included in <%= vars.platform_name %> <%= vars.v_major_version %>.


## <a id='om'></a> <%= vars.ops_manager_full %> Highlights

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following important major features. For additional information about these and other features included in <%= vars.ops_manager %> <%= vars.v_major_version %>, see [<%= vars.ops_manager_full %> <%= vars.v_major_version %> Release Notes](opsmanager-rn.html).



---

## <a id='pas'></a> <%= vars.app_runtime_full %> Highlights

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following important major features.

+ Operators can configure the type of key used for sticky sessions. See [Configurable Sticky Session Cookie Names](./runtime-rn.html#sticky-cookies).

+ Enable a consistent human-readable timestamp format for component logs. See [Optionally Use Human-Readable Timestamps for Component Logs](runtime-rn.html#timestamps).

+ Compatibility with cf CLI v7 allows you to do the following:
  + Push updates to apps without incurring downtime. See [Rolling App Deployments](https://docs.pivotal.io/platform/application-service/2-10/devguide/deploy-apps/rolling-deploy.html).
  + Exercise granular control over the `cf push` process. See [Running cf push Sub-Step Commands](https://docs.pivotal.io/platform/application-service/2-10/devguide/push-sub-commands.html).
  + Use a single command to push apps that run multiple processes. See [Pushing an App with Multiple Processes](https://docs.pivotal.io/platform/application-service/2-10/devguide/multiple-processes.html).
  + Run additional processes in the same container as your app. [Pushing Apps with Sidecar Processes](https://docs.pivotal.io/platform/application-service/2-10/devguide/sidecars.html).
  + Add metadata to resources such as spaces and apps. See [Using Metadata](https://docs.pivotal.io/platform/application-service/2-10/adminguide/metadata.html).

For additional information about these and other features included in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, see [<%= vars.app_runtime_full %> <%= vars.v_major_version %> Release Notes](runtime-rn.html).
