---
title: Pivotal Platform v2.10 Feature Highlights
modified_date: false
---

 <%# This list comes from combining, selecting, and summarizing all the release notes, and punching them up a bit, informed by marketing -- see the Wiki https://docs-wiki.cfapps.io/wiki/team/release-manager.html#feature-highlights %>

This topic highlights important new features included in Pivotal Platform v<%= vars.current_major_version %>.


## <a id='om'></a> Pivotal Operations Manager Highlights

Ops Manager v<%= vars.current_major_version %> includes the important major features. For additional information about these and other features included in Ops Manager v<%= vars.current_major_version %>, see [Pivotal Operations Manager v2.10 Release Notes](https://docs.pivotal.io/pivotalcf/2-10/pcf-release-notes/opsmanager-rn.html).



---

## <a id='pas'></a>Pivotal Application Service (PAS) Highlights

PAS v<%= vars.current_major_version %> includes the following important major features. For additional information about these and other features included in PAS v<%= vars.current_major_version %>, see [Pivotal Application Service v2.10 Release Notes](https://docs.pivotal.io/pivotalcf/2-9/pcf-release-notes/runtime-rn.html).
