---
title: Ops Manager and Runtime Feature Highlights
modified_date: false
---

<% current_page.data.title = vars.platform_name + " " + vars.v_major_version + " and Runtime Feature Highlights" %>

<p class="note"><strong>Note:</strong> Pivotal Platform is now part of VMware Tanzu.</p>

This topic highlights important new features included in <%= vars.platform_name %>
<%= vars.v_major_version %>.

## <a id='om'></a> <%= vars.ops_manager %> Highlights

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following important major
features. For additional information about these and other features included in
<%= vars.ops_manager %> <%= vars.v_major_version %>, see [<%= vars.ops_manager_full %>
<%= vars.v_major_version %> Release Notes](opsmanager-rn.html).

### <a id='deployment-log-improved'></a> Improved Deployment Log Display

<%= vars.ops_manager %> <%= vars.v_major_version %> provides UI and performance improvements to the
deployment log display, including separate pages for historical logs and streaming logs. Each step
in these pages is collapsable, with indicators that show whether the step was successful, failed,
or not yet executed.

Additional UI and performance improvements to the deployment log display:

* Deployment logs render more quickly
* One-click view of a stage with errors
* Start and end time are clearly displayed
* Stages are more clearly delineated

### <a id='om-api-rotate-credhub-certs'></a> <%= vars.ops_manager %> API Rotates BOSH CredHub Certificates and Certificate Authorities

The `certificate_authorities` API endpoints in <%= vars.ops_manager %> <%= vars.v_major_version %>
rotates certificates in BOSH CredHub as well as in <%= vars.ops_manager %> if the following
conditions are met:

* <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %> or later is installed.
* <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) is not installed.

The <%= vars.ops_manager %> API rotates both Certificate Authorities and leaf certificates.
However, some certificates in MySQL for VMware Tanzu and VMware Tanzu GemFire are not rotated.

### <a id='authentication-update'></a> View and Update <%= vars.ops_manager %> Authentication Settings

Operators can view and update the current authentication settings through the
<%= vars.ops_manager %> UI and API at any time. Operators can set authentication to one of the
following:

* **Internal Authentication** (default)
* **LDAP**
* **SAML (SSO)**

### <a id='advanced-mode-fields'></a> Modifications to Locked and Unlockable Fields

Operators can update the BOSH Director properties after initial deployment by first unlocking them
in Advanced Mode.

This feature also includes:

* Improved response status and errors from the API endpoint
* Visual identification when customers enter advanced mode

You can access these fields in the **Director Config** pane. For unlockable fields, you
can also modify the values of these settings by using the `/api/v0/staged/director/properties`
<%= vars.ops_manager %> API endpoint in Advanced Mode.

### <a id='domain-style'></a> Support for Virtual-Hosted-Style URLs for Amazon S3 Blobstores

<%= vars.ops_manager %> supports virtual-hosted-style, or domain-style, URLs for Amazon
S3-compatible blobstores. Operators can use virtual-hosted-style URLs for S3-compatible blobstores
before AWS ends support for path-style URLs.

This feature allows operators to:

* Use host-style S3 bucket URLs
* View and update proxy settings using the API
* Update the decryption passphrase using the API
* Use an encrypted private key for a CredHub HSM
* Re-create the BOSH Director VM during an Apply Change

### <a id='openapi-documentation'></a> API Documentation Follows OpenAPI Specification

<%= vars.ops_manager %> API documentation follows the OpenAPI Specification as documented in
[OpenAPI Specification](https://github.com/OAI/OpenAPI-Specification/) in GitHub.

This update provides operators with a machine-parsable version of the <%= vars.ops_manager %> API
documentation and improves general formatting.

---

## <a id='tas'></a> <%= vars.app_runtime_full %> Highlights

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes
the following important major features. For additional information about these and other features
included in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, see
[<%= vars.app_runtime_full %> <%= vars.v_major_version %> Release Notes](runtime-rn.html).

### <a id='app-log-rate-limits'></a> Configurable App Logging Rate Limits

Operators can limit the number of log entries that each app instance generates per second by
configuring the **App log rate limit (beta)** in the **App Containers** pane.

These limits prevent app instances from overloading the Loggregator Agent with logs, so that the
Loggregator Agent does not drop logs for other app instances co-located on a Diego Cell. These limits can
also keep excessive logging from depleting critical resources required by Diego to remain in a
healthy state.

Operators can set a limit for <%= vars.app_runtime_abbr %> Diego Cells and a separate limit for
isolated Diego Cells.

### <a id='app-timeout-interval'></a> Configurable App Graceful Shutdown Period

Operators can configure the timeout interval between `TERM` and `KILL` signals for graceful
shutdowns in the **App graceful shutdown period** field in the **Advanced Features** pane.
<%= vars.app_runtime_abbr %> sends these signals to containers during a graceful shutdown to handle
in-flight requests. When a process requires more than the default 10-second timeout interval to
complete properly, the Operator can increase the timeout interval to an appropriate value.

Operators can set a timeout interval for <%= vars.app_runtime_abbr %> Diego Cells and a separate
timeout interval for isolated Diego Cells.

### <a id='route-emitter-to-nats-encryption'></a> Route Emitter to NATS Encrypted Communication

Operators can configure the Diego Route Emitter to send encrypted messages to NATS over TLS.

This feature reduces reliance on security policy exceptions or security add-ons to meet security
compliance requirements.

---

## <a id='tas-windows'></a> <%= vars.windows_runtime_full %> Highlights

<%= vars.windows_runtime_full %> <%= vars.v_major_version %> (<%= vars.windows_runtime_abbr %>)
includes the following important major features. For additional information about these and other
features included in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>, see
[<%= vars.windows_runtime_full %> <%= vars.v_major_version %> Release Notes](windows-rn.html).

### <a id='windows-app-log-rate-limits'></a> Configurable App Logging Rate Limits

Operators can limit the number of log entries that each app instance in an isolation segment
generates per second by configuring the **App log rate limit (beta)** in the **App Containers** pane
of the <%= vars.segment_runtime_full %> tile.

These limits prevent app instances from overloading the Loggregator Agent with logs, so that the
Loggregator Agent does not drop logs for other app instances co-located on a Diego Cell. These limits can
also prevents app from reporting inaccurate app metrics in the Cloud Foundry Command Line Interface
(cf CLI) or increasing the CPU usage on the Diego Cell.

### <a id='externalized-event-logs'></a> Externalized Event Logs

Operators can use the `EventLog.Stream.Console` NuGet Package to stream app and Windows event logs
to the console.

### <a id='signed-url-support'></a> Signed URL Support for Windows VMs

Operators can use signed URLs for communication between the BOSH agent and the blobstore
for Windows VMs.

### <a id='signed-url-support'></a> Improvements to Stembuild

Stembuild improvements include:

* Automatically obtain updated root certificates from the Windows Update Server
* Keeps up-to-date with the most recent version of OpenSSH

<p class="note"><strong>Note:</strong> Stembuild requires outbound network access to the Windows
Update Server. Without this access, operators must update root certificates when necessary.</p>

## <a id='pks'></a> <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) v1.7 Highlights

<%= vars.k8s_runtime_abbr %> v1.7 includes the following important major features. 
For additional information about these and other features included in <%= vars.k8s_runtime_abbr %> v1.7, 
see [Release Notes](https://docs.pivotal.io/pks/1-7/release-notes.html) 
in the <%= vars.k8s_runtime_abbr %> documentation.

### <a id='tls-1-2'></a> Enhanced Internal Component Communication Security

<%= vars.k8s_runtime_abbr %> v1.7 uses TLS v1.2+ with strong ciphers for all internal component communication.

### <a id='service-mesh'></a> VMware Tanzu Service Mesh Support

<%= vars.k8s_runtime_abbr %> v1.7 supports integration with the VMware Tanzu Service Mesh by VMware NSX (NSX-SM).  
For more information, see 
[VMware Tanzu Service Mesh by VMware NSX (Beta)](https://docs.pivotal.io/pks/1-7/nsxt-service-mesh.html).   

### <a id='kubernetes-profiles'></a> Kubernetes Profile Support

<%= vars.k8s_runtime_abbr %> v1.7 adds Kubernetes Profile support 
enabling cluster administrators and cluster managers to 
customize Kubernetes component settings for any clusters that they provision.
For more information, see 
[Validated vs Experimental Customizations](https://docs.pivotal.io/pks/1-7/k8s-profiles.html#validated) 
in _Using Kubernetes Profiles_.

### <a id='bbr'></a> Support for Backing Up and Restoring Stateless Workloads

<%= vars.k8s_runtime_abbr %> v1.7 supports backing up and restoring stateless 
workloads networked with vSphere with NSX-T. 

### <a id='monitoring'></a> Enhanced Monitoring

<%= vars.k8s_runtime_abbr %> v1.7 adds new Kubernetes monitoring enhancements 
and support for monitoring Node Exporter metrics. For more information, see 
[Telegraf](https://docs.pivotal.io/pks/1-7/installing-pks-vsphere.html#telegraf) 
in the _Installation_ topic for your IaaS.
