---
title: Pivotal Platform Feature Highlights
modified_date: false
---

 <%# This list comes from combining, selecting, and summarizing all the release notes, and punching them up a bit, informed by marketing -- see the Wiki https://docs-wiki.cfapps.io/wiki/team/release-manager.html#feature-highlights %>

<% current_page.data.title = vars.platform_name + " " + vars.v_major_version + " Feature Highlights" %>

This topic highlights important new features included in <%= vars.platform_name %> <%= vars.v_major_version %>.


## <a id='om'></a> <%= vars.ops_manager_full %> Highlights

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following important major features. For more information about these and other features included in <%= vars.ops_manager %> <%= vars.v_major_version %>, see [<%= vars.ops_manager_full %> <%= vars.v_major_version %> Release Notes](opsmanager-rn.html).

### <a id='resource-config-pane'></a> Resource Config Pane is Redesigned

The <%= vars.ops_manager %> **Resource Config Pane** is redesigned. The updated pane includes improved error handling to help you more easily troubleshoot. It also includes additional configuration options for each job based on IaaS.

### <a id='nsx'></a> NSX-T and NSX-V Configuration in <%= vars.ops_manager %>

The **Resource Config** pane in <%= vars.ops_manager %> includes fields for configuring instance groups in deployments with vSphere NSX-T or NSX-V.

### <a id='certificate-expiration'></a> View Expiration Dates for Certificates

You can view the expiration date for certificates in your environments based on information provided by BOSH and CredHub. This is part of a larger initiative to provide users with more control over the rotation of credentials in their environments.

### <a id='audit-events'></a> View Request Parameters in User Activity Logs

The <%= vars.ops_manager %> `audit_log.txt` file includes request parameters. This provides additional information about requests made in the Ops Manager UI, such as the timestamp of the request and the username that made the request.

To access the `audit_log.txt` file, SSH into the <%= vars.ops_manager %> VM and navigate to `/var/log/opsmanager/audit_log.txt`.

### <a id='gss'></a> Forward Deployment Information to Pivotal Support

You can download a Platform Information Bundle as a ZIP file from the <%= vars.ops_manager %> UI or API. The bundle includes <%= vars.ops_manager %> logs, deployed manifests and configurations, and BOSH deployment diagnostics.

The contents of the bundle help Pivotal Support more quickly address any issues in your deployment.

---

## <a id='pas'></a> <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) Highlights

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following important major features. For additional information about these and other features included in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, see [<%= vars.app_runtime_full %> <%= vars.v_major_version %> Release Notes](runtime-rn.html).

### <a id='java-app-sidecars'></a> Java Apps Support Sidecars (Beta)

You can push Java apps with sidecars. Sidecars allow you to run additional processes in the same container as your app. This is useful for processes that depend on each other or must run in the same container.

Pushing apps with sidecars is a beta feature that released with <%= vars.app_runtime_abbr %> v2.6.0.

### <a id='rolling-app'></a> Rolling App Deployments is GA

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes GA support for rolling app deployments. Rolling app deployments offer near-zero downtime for app pushes and restarts.

Use the `--strategy rolling` and `no-wait` flags in the cf CLI to do rolling deployments.

### <a id='rotate-ccdb-key'></a> Rotate Cloud Controller Encryption Key

You can rotate the Cloud Controller Database (CCDB) encryption key, which encrypts sensitive data such as app environment variables.

### <a id='inactive-mysql'></a> Enable Inactive MySQL Port for Auditing and Reporting

You can run auditing and reporting queries on a MySQL node that is not currently serving traffic. By running these queries on an inactive node, the active MySQL nodes continue to serve requests with no effect on performance.

### <a id='mtls-routing-api'></a> Enhanced Security for Routing API with mTLS

Traffic between the Routing API and other routing components is secured with mutual TLS (mTLS) encryption. This provides additional security for communication between routing components in <%= vars.app_runtime_abbr %>.

### <a id='syslog-agent'></a> Syslog Agents Enabled by Default

Syslog Agents are enabled by default, and the option to disable Syslog Agents is removed. Syslog Agents run on host VMs and component VMs, increase the number of syslog drain service bindings supported by the Loggregator system, and reduce the workload for Loggregator VMs.

### <a id='ldap-nfs'></a> nfsbroker Back End is in CredHub

The nfsbroker back end is migrated to CredHub. This allows you to specify LDAP credentials when you create an NFS Volume Service instance.

### <a id='app-redeployments'></a> Manage App Re-Deployments and Revisions in Apps Manager

You can do the following in Apps Manager to manage app re-deployments and revisions:

- View revisions for an app.
- Deploy a revision of an app.
- View the deployment status of an app revision.
- View the environment variables associated with an app revision.

### <a id='apps-manager-redesign'></a> Apps Manager UI Redesign

The Apps Manager UI is redesigned with improved navigation and an updated look and feel. The improved navigation appears in a panel on the left side of the screen, which allows you to more quickly access settings and resources for the orgs, spaces, apps, and services in your environment.

---

## <a id='pasw'></a> <%= vars.windows_runtime_full %> Highlights

<%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) <%= vars.v_major_version %> includes the following important major features. For additional information about these and other features included in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>, see [<%= vars.windows_runtime_full %> <%= vars.v_major_version %> Release Notes](windows-rn.html).

### <a id='visual-c-redistributables'></a> Pre-Installed Visual C++ Redistributables

<%= vars.windows_runtime_abbr %> %= vars.v_major_version %> improves the developer experience with pre-installed Microsoft Visual C++ Redistributables for .NET apps.

### <a id='windows-mtls'></a> Secure mTLS Communication from Gorouter (Beta) to Windows containers

Windows AIs provide secure mTLS communication from Gorouter to Windows containers. This allows for PCI security compliance for Windows container networking.

### <a id='microsoft-baseline-standard'></a> Windows Stemcells Follow Microsoft Baseline Security Standard

Stemcells for Windows Server 2019 VMs follow the Microsoft Baseline Security Standard. This improves the security for Windows stemcells and better aligns the Windows stemcell hardening practices with an industry standard.

### <a id='rdp-removed-bosh-ssh'></a> RDP Support is Removed in Favor of BOSH SSH

<p class="note warning"><strong>Warning:</strong> This feature is a breaking change. For more information, see <a href="./breaking-changes.html#rdp">RDP is Not Supported</a> in <em><%= vars.platform_name %> <%= vars.v_major_version %> Breaking Changes</em>.</p>

The **Enable Remote Desktop Protocol** field is removed from the <%= vars.windows_runtime_abbr %> tile. <%= vars.windows_runtime_abbr %> VMs do not support connection through RDP.

This is part of a larger effort to achieve platform parity with Linux VMs by enabling `bosh ssh` for all actions related to the Windows VMs.
