---
title: PCF v2.7 Feature Highlights
modified_date: false
---

 <%# This list comes from combining, selecting, and summarizing all the release notes, and punching them up a bit, informed by marketing -- see the Wiki https://docs-wiki.cfapps.io/wiki/team/release-manager.html#feature-highlights %>

This topic highlights important new features included in Pivotal Cloud Foundry (PCF) v<%= vars.current_major_version %>.


## <a id='om'></a> PCF Ops Manager Highlights

Ops Manager v<%= vars.current_major_version %> includes the important major features. For additional information about these and other features included in Ops Manager v<%= vars.current_major_version %>, see [PCF Ops Manager v2.7 Release Notes](https://docs.pivotal.io/pivotalcf/2-7/pcf-release-notes/opsmanager-rn.html).

### <a id='certificate-expiration'></a> View Expiration Dates for Certificates

You can view the expiration date for certificates in your environments based on information provided by BOSH and CredHub. This is part of a larger initiative to provide users with more control over the rotation of credentials in their environments. 

### <a id='nsx'></a> NSX-T and NSX-V Configuration in Ops Manager

The **Resource Config** page in Ops Manager is updated to include fields for configuring instance groups in deployments with vSphere NSX-T or NSX-V.

### <a id='audit-events'></a> Audit User Activity in Ops Manager

Ops Manager includes more detailed logs for auditing user actions and events. For example, you can view and track all Ops Manager login attempts.

### <a id='gss'></a> Forward Deployment Information for Quicker Support

You can download a support bundle as a ZIP file from the Ops Manager UI or API. The support bundle includes Ops Manager logs, deployed manifests and configurations, and BOSH deployment diagnostics.

The contents of the support bundle help Pivotal Support more quickly address any issues in your deployment.

---

## <a id='pas'></a> Pivotal Application Service (PAS) Highlights

PAS v<%= vars.current_major_version %> includes the following important major features. For additional information about these and other features included in PAS v<%= vars.current_major_version %>, see [Pivotal Application Service v2.6 Release Notes](https://docs.pivotal.io/pivotalcf/2-6/pcf-release-notes/runtime-rn.html).

### <a id='rolling-app'></a> Rolling App Deployments is GA

PAS v2.7 includes GA support for rolling app deployments. This feature offers near-zero downtime for app pushes and restarts, and was originally released as a beta feature in PAS v2.4.

Use the `--strategy rolling` and `no-wait` flags in the cf CLI to do rolling deployments.  

### <a id='rotate-ccdb-key'></a> Rotate Cloud Controller Encryption Key

You can rotate the Cloud Controller Database (CCDB) encryption key, which encrypts sensitive data such as app environment variables.

### <a id='app-redeployments'></a> Manage App Re-Deployments and Revisions in Apps Manager

You can do the following in Apps Manager: 

- View revisions for an app  
- Deploy a revision of an app 
- View the deployment status of an app revision
- View the environment variables associated with an app revision
 

### <a id='syslog-agent'></a> Syslog Agents Replace Syslog Adapter

Syslog Agents are enabled by default, and the option to disable Syslog Agents is removed. Syslog Agents increase the number of syslog drain service bindings supported by the Loggregator system and reduce the workload for Loggregator VMs, including Syslog Adapters.  

### <a id='ldap-nfs'></a> nfsbroker Back End Is in CredHub

The nfsbroker back end is migrated to CredHub. This allows you to specify LDAP credentials when you create an NFS Volume Service instance rather than when binding one, when LDAP authentication is enabled.

---

## <a id='pas-windows'></a> PAS for Windows Highlights

PAS for Windows v<%= vars.current_major_version %> includes the important major features. For additional information about these and other features included in Ops Manager v<%= vars.current_major_version %>, see [PAS for Windows v2.7 Release Notes](https://docs.pivotal.io/pivotalcf/2-7/pcf-release-notes/windows-rn.html).


### <a id='visual-c-redistributables'></a> Pre-Installed Visual C++ Redistributables

PAS for Windows v2.7 improves the developer experience with pre-installed Microsoft Visual C++ Redistributables for .NET apps.

### <a id='windows-mtls'></a> Secure mTLS Communication to Gorouter (Beta)

Windows AIs provide secure mTLS communication to the GoRouter using Nginx. 

### <a id='microsoft-baseline-standard'></a> 

Windows Server 2019 VMs are compliant with Microsoft Baseline Security Standard
