---
title: Pivotal Platform v2.10 Feature Highlights
modified_date: false
---

<% current_page.data.title = vars.platform_name + " " + vars.v_major_version + " and Runtime Feature Highlights" %>

 <%# This list comes from combining, selecting, and summarizing all the release notes, and punching them up a bit, informed by marketing -- see the Wiki https://docs-wiki.cfapps.io/wiki/team/release-manager.html#feature-highlights %>

This topic highlights important new features included in <%= vars.platform_name %> <%= vars.v_major_version %>.


## <a id='om'></a> <%= vars.ops_manager_full %> Highlights

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following important major features.
For additional information about these features in <%= vars.ops_manager %>
<%= vars.v_major_version %>, see [<%= vars.ops_manager_full %> <%= vars.v_major_version %> Release Notes](opsmanager-rn.html).

+ Ops Manager v2.10 is the long-term supported (LTS) version of Ops Manager. See [Long-Term Support for Ops Manager v2.10](opsmanager-rn.html#lts).

+ In Advanced Mode, you can override some Ops Manager properties that cannot be changed
  through the Ops Manager UI or API.
  See [BOSH Director Manifest Overrides](opsmanager-rn.html#bosh-overrides) and
  [Override Runtime Config Properties Using the Ops Manager API](opsmanager-rn.html#runtime-config-overrides).

+ A new page in the UI that lists certificates with their expiration dates.
  See [View Certificates in the Ops Manager UI](opsmanager-rn.html#certs-om-ui).

+ CredHub Maestro performs basic safety checks when rotating certificates.
  See [CredHub Maestro Runs Safety Checks During Certificate Rotation](opsmanager-rn.html#safety-checks).

---

## <a id='pas'></a> <%= vars.app_runtime_full %> Highlights

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following important major features.
For additional information about these and other features included in <%= vars.app_runtime_abbr %>
<%= vars.v_major_version %>, see [<%= vars.app_runtime_full %> <%= vars.v_major_version %> Release Notes]
(runtime-rn.html).

**TAS for VMs**

+ Operators can configure the names of keys that are used for sticky sessions.
See [Configurable Sticky Session Cookie Names](./runtime-rn.html#sticky-cookies).

+ Operators can enable a consistent, human-readable timestamp format for <%= vars.app_runtime_abbr %> component logs.
See [Optionally Use Human-Readable Timestamps for Component Logs](runtime-rn.html#timestamps).

**TAS for VMs [Windows]**

+ Communication between Route Emitters and NATS uses TLS for improved security.
See [Route Emitters Communicate with NATS Over TLS](windows-rn.html#route-emitter-nats-tls).

+ Stemcell automation for Windows is generally available.
See [Creating a Windows Stemcell for vSphere Using stembuild](http://docs.pivotal.io/platform/application-service-windows/2-10/create-vsphere-stemcell-automatically.html).

+ The HWC buildpack adds support for 32-bit .NET Framework apps.
See [HWC Buildpack](https://docs.pivotal.io/platform/application-service/2-10/buildpacks/hwc/index.html).

**Scaling**

+ Scheduler allows you to set memory and disk limits for tasks.
See [Scheduler Release Notes](https://docs.pivotal.io/scheduler/1-2/release-notes.html).

+ App Autoscaler includes updates for scheduling limit changes and using rules based on HTTP throughput.
See [Improvements to App Autoscaler](runtime-rn.html#autoscaler).

**Observability**

+ Metric Store v1.4 is generally available.
  See [Metric Store Release Notes](https://docs.pivotal.io/metric-store/1-4/release-notes.html).

+ App Metrics v2.0 is generally available.
  See [App Metrics Release Notes and Known Issues](https://docs.pivotal.io/app-metrics/2-0/rn-ki.html).

**cf CLI v7**

TAS for VMs v2.10 is compatible with the cf CLI v7.

New features in the cf CLI v7 simplify development and deployment of apps.
For more information, see [TAS for VMs Is Compatible with cf CLI v7](runtime-rn.html#cf-cli).
