---
title: Pivotal Operations Manager v2.8 Release Notes
owner: Ops Manager
---

Pivotal Platform is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Platform](http://docs.pivotal.io/pivotalcf/2-8/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Operations Manager <%= vars.v_major_version %>.

## <a id='releases'></a> Releases

### <a id="2-8-0-rc-3"></a> 2.8.0 Release Candidate 3

Ops Manager release candidate 3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.0-build.176*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.12</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.8.0</td></tr><tr><td>BOSH DNS</td><td>1.16.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.2</td></tr><tr><td>CredHub</td><td>2.5.9</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.5*</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.0.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.3</td></tr><tr><td>BOSH CLI</td><td>6.1.1</td></tr><tr><td>Credhub CLI</td><td>2.6.1</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr><tr><td>Telemetry</td><td>1.0.0</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-8-0-rc-2"></a> 2.8.0 Release Candidate 2

- **[Feature]** TLS is always enabled for the internal blobstore. You can no longer toggle TLS for the internal blobstore with the UI or API.
- **[Feature]** Sets the NGINX `worker_processes` property of the BOSH internal blobstore to `auto` to resolve failures during deployments where there were not enough workers.
- **[Bug Fix]** Resolves issue where help text for the **Enable signed URLs** checkbox was not legible when the director is deployed.

Ops Manager release candidate 2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.0-build.175*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.12</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.8.0</td></tr><tr><td>BOSH DNS</td><td>1.16.0*</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.2*</td></tr><tr><td>CredHub</td><td>2.5.9*</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.4*</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.0.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.3</td></tr><tr><td>BOSH CLI</td><td>6.1.1</td></tr><tr><td>Credhub CLI</td><td>2.6.1</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr><tr><td>Telemetry</td><td>1.0.0</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-8-0-rc-1"></a> 2.8.0 Release Candidate 1

Ops Manager release candidate 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.0-build.165*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.12</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.8.0</td></tr><tr><td>BOSH DNS</td><td>1.15.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.0*</td></tr><tr><td>CredHub</td><td>2.5.8*</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.3*</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.0.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.3*</td></tr><tr><td>BOSH CLI</td><td>6.1.1</td></tr><tr><td>Credhub CLI</td><td>2.6.1</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr><tr><td>Telemetry</td><td>1.0.0*</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-8-0-beta-2"></a> 2.8.0 Beta 2

- **[Feature]** Tile authors can create a required dropdown select input without a pre-selected value
- **[Bug Fix]** Ops Manager VM creates a root partition that is properly sized

Ops Manager v2.8.0 Beta 2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.0-build.156*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.12*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.8.0</td></tr><tr><td>BOSH DNS</td><td>1.15.0</td></tr><tr><td>Metrics Server</td><td>0.0.24*</td></tr><tr><td>System Metrics</td><td>1.0.1</td></tr><tr><td>CredHub</td><td>2.5.7*</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.2</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.0.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.2*</td></tr><tr><td>BOSH CLI</td><td>6.1.1</td></tr><tr><td>Credhub CLI</td><td>2.6.1</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr><tr><td>Telemetry</td><td>0.0.6*</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-8-0-beta-1"></a> 2.8.0 Beta 1

* **[Feature]** Operators can configure BOSH to use short-lived, signed URLs to communicate more securely with the blobstore.
* **[Bug Fix]** Users cannot select a `null` dropdown property for a mandatory field.
* **[Bug Fix]** In the BOSH Director tile, when an operator configures **Create Availability Zones**, **Create Networks**, or **Syslog** and clicks **Save**, a saving spinner icon appears.

Ops Manager v2.8.0 Beta 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.0-build.142*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.5*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.8.0*</td></tr><tr><td>BOSH DNS</td><td>1.15.0</td></tr><tr><td>Metrics Server</td><td>1.0.0</td></tr><tr><td>System Metrics</td><td>1.0.1*</td></tr><tr><td>CredHub</td><td>2.5.6</td></tr><tr><td>Syslog</td><td>11.6.0*</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.2*</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79*</td></tr><tr><td>Azure CPI</td><td>37.0.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.1</td></tr><tr><td>BOSH CLI</td><td>6.1.1</td></tr><tr><td>Credhub CLI</td><td>2.6.1*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr><tr><td>Telemetry</td><td>0.0.5*</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-8-0-alpha-3"></a> 2.8.0 Alpha 3

- **[Feature]** Operators can use the Ops Manager API `/api/v0/staged/director/properties` endpoint to configure BOSH CredHub to use a highly available Hardware Security Module (HSM)
- **[Feature]** Operators can specify a list of CAs to exclude when generating certificates with the `/api/v0/certificate_authorities` endpoint
- **[Feature]** Operators can use the `DELETE /api/v0/staged` endpoint to revert pending changes
- **[Feature]** Ops Manager installs a system metrics agent on all platform VMs to emit system metrics. For more information, see [All Platform VMs Emit System Metrics](#opsman-metrics).

Ops Manager v2.8.0 Alpha 3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.0-build.135*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.30</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.7.0</td></tr><tr><td>BOSH DNS</td><td>1.15.0*</td></tr><tr><td>Metrics Server</td><td>1.0.0</td></tr><tr><td>CredHub</td><td>2.5.6</td></tr><tr><td>Syslog</td><td>11.5.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.1*</td></tr><tr><td>BPM</td><td>1.1.5*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>37.0.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.1</td></tr><tr><td>BOSH CLI</td><td>6.1.1*</td></tr><tr><td>Credhub CLI</td><td>2.6.0</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr><tr><td>Telemetry</td><td>0.0.4*</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-8-0-alpha-2"></a> 2.8.0 Alpha 2

* **[Feature]** Operators can use NSX-T with Principal Identity certificate authentication
* **[Feature]** `zero_if` optionally lets operators choose an instance count of `0` when the `zero_if` condition is not active and the `allow_manual_selection_of_zero` is set to  `true`
* **[Feature]** Tile authors can add optional dependencies to a tile. The existing top-level key `requires_product_versions` has an `optional` key for each listed product.
* **[Feature]** Provides new accessors for Telemetry: IaaS type and Director GUID
* **[Feature]** Tile authors can define an install-time verifier to run a HTTP/s request
* **[Feature]** Updates BOSH DNS runtime config and example runtime config to have properties at the job level instead of the addon level. This is a requirement of the newer BOSH version used by Ops Manager. Other product that use runtime configs must update as well.
* **[Feature]**  Begins consuming credhub-release from the Pivotal CredHub LTS repo to ensure users will be able to consume patches
* **[Feature]** The Telemetry tile is available in the sidebar by default
* **[Feature]** Operators can visually distinguish the required and optional dependencies of a given product on the _Review Pending Changes_ page
* **[Feature]** API shows which dependencies are optional and their status
* **[Feature]** Tile authors can declare default values based on optional dependencies to shape the default configuration of products
* **[Bug Fix]** Ops Manager API shows deployed certificates when only the BOSH Director has been deployed

Ops Manager v2.8.0 Alpha 2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.0-build.118*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.30*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.7.0*</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>1.0.0</td></tr><tr><td>CredHub</td><td>2.5.6</td></tr><tr><td>Syslog</td><td>11.5.0*</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.0*</td></tr><tr><td>BPM</td><td>1.1.4*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78*</td></tr><tr><td>Azure CPI</td><td>37.0.0*</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.1</td></tr><tr><td>BOSH CLI</td><td>6.1.0</td></tr><tr><td>Credhub CLI</td><td>2.6.0*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-8-0-alpha-1"></a> 2.8.0 Alpha 1

* **[Feature]** Bulk Rotation of Certificates in CredHub.
	* The Ops Manager API for rotating certificate authorities and leaf certificates now also rotates certificate authorities and leaf certificates stored in CredHub. For more information about rotating certificates using the Ops Manager API, see [Rotating Certificates](https://docs.pivotal.io/platform/2-7/security/pcf-infrastructure/api-cert-rotation.html).
* **[Feature]** Tile developers can specify static values for verifier properties.
	* The properties of a form or install-time verifier can now be specified as a static value, in addition to being a reference to a tile or job property.
* **[Feature]** Tile developers can implement an HTTP install-time verifier
	* There may be conditions that a tile authors deems it unsafe for an operator to start a deployment.
  A new install-time verifier is available that can make requests to a specified HTTP endpoint,
  and prevents the deployment if the response is not successful.
  Tile authors can also specify that the verifier should only run on major or minor upgrades.
* **[Feature]** Removes tracking and verification of the BOSH DNS CA, as this responsibility is now handled by maestro. Specifically, this update removes the following:
	* The `deployed_product_certificate_versions` table in the Ops Manager database
	* The `CertificateRotationVerifier` verifier
* **[Feature]** Operators can back up the Director UAA database with BBR
* **[Feature]** Tile authors can add optional dependencies to a tile using the `optional` key under `requires_product_versions`
* **[Feature]** Tile authors can check if an optional dependency is present using the `.present?` accessor
* **[Feature]** Upgrades to maestro v3
* **[Feature]** Upgrades to Node v12
* **[Feature]** Upgrades to Capybara v3.28.0

Ops Manager v2.8.0 Alpha 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.0-build.71</td>
  </tr>
  <tr><td>Stemcell</td><td>456.30</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.7.0</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>1.0.0</td></tr><tr><td>CredHub</td><td>2.5.6</td></tr><tr><td>Syslog</td><td>11.5.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.0</td></tr><tr><td>BPM</td><td>1.1.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>37.0.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.1</td></tr><tr><td>BOSH CLI</td><td>6.1.0</td></tr><tr><td>Credhub CLI</td><td>2.6.0</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr><tr><td>Telemetry</td><td>0.0.2</td></tr>
  </tbody>
</table>


## <a id='major-features'></a> New Features in Ops Manager <%= vars.v_major_version %>

Ops Manager <%= vars.v_major_version %> includes the following major features:

### <a id='maestro-rotate-ca'></a> CredHub Maestro Rotates BOSH DNS Certificate Authorities

CredHub Maestro rotates BOSH DNS CAs and runs safety checks.

CredHub Maestro is a CLI for discovering and rotating CredHub-managed certificates. For more information about using CredHub Maestro, see [Rotating Certificates](https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/api-cert-rotation.html), [Getting Started with CredHub Maestro](https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/getting-started-with-maestro-cli.html), and [Advanced Certificate Rotation with CredHub Maestro](https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/advanced-certificate-rotation.html).

### <a id='nsxt-cert-auth'></a> Certificate Authentication to vSphere NSX Manager

For Pivotal Platform deployments on vSphere that use NSX networking, the BOSH Director can authenticate to the NSX Manager with a certificate and private key, as well as with a username and password.

This change means that the BOSH Director, NSX-T Container Plugin (NCP), and Enterprise PKS can all authenticate to the NSX Manager with a certificate and private key.
BOSH Director uses NSX to network and secure platform components, NCP uses NSX-T to network and secure app containers, and Enterprise PKS uses NSX to create load balancers.

For how to configure BOSH Director authentication to NSX, see the [Step 2: Configure vCenter](https://docs.pivotal.io/platform/ops-manager/2-8/vsphere/config.html#vcenter-config) section
of the _Configuring BOSH Director on vSphere_ topic.

### <a id='opsman-metrics'></a> All Platform VMs Emit System Metrics

The `runtime_config` code in Ops Manager v2.8 installs a system metrics agent on all Pivotal Platform VMs.
This lets [Pivotal Healthwatch](https://docs.pivotal.io/pcf-healthwatch), [Pivotal App Metrics](https://docs.pivotal.io/app-metrics) and other platform tools consume VM metrics from PAS, PKS, hosted services, and any other products deployed by Ops Manager.

System metrics report usage and status of VM memory, disk, CPU, network, load, and swap space.
See a complete list of metrics in the [`system-metrics-release` repo](https://github.com/cloudfoundry/system-metrics-release/blob/develop/docs/system-metrics-agent.md#vm-metrics).

Before Ops Manager v2.8, the metrics agent was installed only on Pivotal Application Service (PAS) VMs, and VMs deployed by other products did not emit the system metrics described above.

### <a id='enable-signed-urls'></a> BOSH VMs Can Use Signed URLs to Communicate with Blobstore

You can configure BOSH VMs with Xenial stemcell line 621 to generate short-lived, pre-signed URLs for communication between the BOSH Agent and blobstore. This improves security because BOSH Agents no longer use credentials to communicate with the blobstore and VM disks no longer store blobstore credentials. These short-lived URLs are signed with appropriate permissions based on the type of VM and the type of objects.

To enable this feature, select the **Enable blobstore signed URLs** checkbox in the **Director Config** pane of the Ops Manager tile. This feature is disabled by default.

For more information, see the [BOSH Director configuration topic for your IaaS](https://docs.pivotal.io/platform/ops-manager/2-8/).

### <a id='tls-always-enabled-for-internal-blobstore'></a> TLS Always Enabled for Internal Blobstore

TLS is now always enabled for the internal blobstore. You can no longer toggle TLS for the internal blobstore with the UI or API.

Pivotal recommends that you enable TLS for the internal blobstore before you upgrade. You can do this by selecting **Enable TLS** in the **Director Config** pane. There may be errors if the blobstore CA is expired.

### <a id='optional-dependencies'></a> Ops Manager UI and API Show More Information about Dependencies

Ops Manager v2.8 changes the way dependencies appear when you selectively deploy products. When you click **Review Pending Changes** in the Ops Manager UI, each product lists its dependencies in the **Depends on** section. When you make a request to the `pending_changes` Ops Manager API endpoint, the response lists each product's dependencies in the `depends_on` section.

See the following table for information about how dependencies appear in the Ops Manager UI and API:

<table>
  <tr>
    <th>UI Appearance</th>
    <th width="22%">API Status Key</th>
    <th>Explanation</th>
    <th>Can Apply Changes?</th>
  </tr>
  <tr>
    <td>Dependency listed in green text</td>
    <td><code>satisfied</code></td>
    <td>The correct version of the dependency is installed.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Dependency listed in green text, followed by (optional)</td>
    <td><code>satisfied</code></td>
    <td>The correct version of the dependency is installed, although it is optional.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Dependency listed in red text</td>
    <td><code>unsatisfied</code></td>
    <td>An incompatible version of the dependency is installed. You must update the dependency to apply changes.</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Dependency listed in red text, followed by (optional)</td>
    <td><code>unsatisfied</code></td>
    <td>An incompatible version of the dependency is installed, but the dependency is optional.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Dependency listed in gray text, followed by (optional)</td>
    <td><code>not_present</code></td>
    <td>No version of the dependency is installed, but it is optional.</td>
    <td>Yes</td>
  </tr>
</table>

### <a id='om-time-verifier'></a> HTTP Install-Time Verifier
Tile authors can define an `HttpSuccessVerifier` install-time verifier that calls an
HTTP endpoint on the broker.

Ops Manager executes this verifier after you click **Apply Changes**.
If the HTTP response is not successful, the deployment fails and
the verifier displays a warning message.

Tile authors can use this verifier
to check if all service instances on an existing broker are on the current version.
This prevents service instances from becoming orphaned after an upgrade.
Tile authors can also specify that the verifier should only run on major or minor upgrades.

For more information,
see [install\_time\_verifiers](https://docs.pivotal.io/tiledev/2-8/property-template-references.html#top-verifier)
section in _Property and Template References_ in the Tile Developer documentation.


### <a id='revert-staged-changes'></a> Revert Staged Changes With the API

You can use the `DELETE /api/v0/staged` Ops Manager API endpoint to revert all staged changes in Ops Manager. For more information, see [Revert staged changes](https://docs.pivotal.io/platform/2-8/opsman-api/#streaming-current-installation-log) in the Ops Manager API documentation.

### <a id='multiple-hsm-hosts'></a> Configure Multiple HSMs With the API

You can use the `PUT /api/v0/staged/director/properties` endpoint of the Ops Manager API to configure multiple hardware security modules (HSMs) for BOSH CredHub. For more information, see [Updating director and Iaas properties (Experimental)](https://docs.pivotal.io/platform/2-8/opsman-api/#updating-director-and-iaas-properties-experimental) in the Ops Manager API documentation.

### <a id='telemetry'></a> Pivotal Telemetry for Ops Manager Is Imported by Default

Pivotal Ops Manager v2.8 and later automatically imports the Pivotal Telemetry for Ops Manager tile.
When you install Pivotal Ops Manager, the Pivotal Telemetry tile appears under **IMPORT A PRODUCT**.
Using Pivotal Telemetry for Ops Manager is optional and the tile does not
share product usage data until you configured it.

For more information,
see [Pivotal Telemetry for Ops Manager](http://docs.pivotal.io/pivotal-telemetry/1-1/index.html)


## <a id='known-issues'></a> Known Issues

* Known issues to come as features and dependencies are implemented in <%= vars.v_major_version %> release candidates.


### <a id='credhub-generated-field'></a> Reset Manually Set Certificates in CredHub Before Rotating Certificates with Maestro CLI

If you have manually set any certificates in CredHub on Ops Manager v2.6 or earlier, you need to reset those certificates before using the CredHub Maestro CLI to rotate CredHub certificates. The Maestro CLI is located on the Ops Manager VM.

Resetting these certificates is not a required condition for the Ops Manager v2.8 upgrade. You can reset them either before or after the upgrade.

To reset a certificate in CredHub, see [Reviewing and Resetting Manually Set Certificates in CredHub](https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/manual-credhub-certificate.html).
For more information about Maestro, see [CredHub Maestro Rotates BOSH DNS Certificate Authorities](#maestro-rotate-ca).
