---
title: Pivotal Operations Manager Release Notes
owner: Ops Manager
---

<% current_page.data.title = vars.ops_manager_full  + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.ops_manager_full %> <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following minor releases:

### <a id="2-7-22"></a> 2.7.22

**Release Date:** August 19, 2020

* **[Bug Fix]:** Ops Manager does not crash after you change the LDAP authentication group.

* **[Bug Fix]:** The Support Bundle downloads successfully for deploy records that do not have timestamps.

Ops Manager v2.7.22 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.22-build.352*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.116*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.24.0*</td></tr><tr><td>Metrics Server</td><td>0.1.0*</td></tr><tr><td>CredHub</td><td>2.5.12</td></tr><tr><td>CredHub Maestro</td><td>1.0.4</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.26*</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.11</td></tr><tr><td>BOSH CLI</td><td>6.3.1</td></tr><tr><td>Credhub CLI</td><td>2.8.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-7-21"></a> 2.7.21

**Release Date:** July 31, 2020

Ops Manager v2.7.21 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.21-build.342*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.115*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.12</td></tr><tr><td>CredHub Maestro</td><td>1.0.4</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.25</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.11</td></tr><tr><td>BOSH CLI</td><td>6.3.1</td></tr><tr><td>Credhub CLI</td><td>2.8.0*</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-7-20"></a> 2.7.20

**Release Date:** July 17, 2020

* **[Bug Fix]:** When you have any tiles staged that have not been fully configured or are otherwise not ready to be deployed, `PrivilegeVerifier` shows a warning instead of an error when you attempt to **Apply Changes**.

* **[Bug Fix]:** For the `hm_emailer_options.recipients` key, the `PUT /api/v0/staged/director/properties` endpoint accepts the format used by `GET /api/v0/staged/director/properties` endpoint for this key in addition to the existing format accepted.

<%= vars.ops_manager %> v2.7.20 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.20-build.339*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.114</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.12</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.25*</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.11</td></tr><tr><td>BOSH CLI</td><td>6.3.1*</td></tr><tr><td>CredHub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-19"></a> 2.7.19

**Release Date:** July 1, 2020

* **[Bug Fix]:** NSX configuration settings are applied to jobs defined in the BOSH Director manifest, including the BOSH Director VM.
* **[Bug Fix]:** BOSH Director can deploy on OpenStack environments with multiple regions.
* **[Bug Fix]:** The Ops Manager `/api/v0/staged/director/properties` endpoint returns S3 and GCS blobstore credentials.
* **[Bug Fix]:** `IaasConfigurationVerifier` connects to the correct authentication endpoint on Azure Government environments.
* **[Bug Fix]:** Ops Manager UAA allows spaces and escaped characters in LDAP external group names.
* **[Bug Fix]:** rsyslog service starts automatically upon starting the Ops Manager VM.

<%= vars.ops_manager %> v2.7.19 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.19-build.333*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.114*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.12*</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.24*</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.11</td></tr><tr><td>BOSH CLI</td><td>6.3.0*</td></tr><tr><td>CredHub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-18"></a> 2.7.18

**Release Date:** May 22, 2020

<%= vars.ops_manager %> v2.7.18 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.18-build.315*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.112</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.23*</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.11</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>CredHub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-17"></a> 2.7.17

**Release Date:** May 18, 2020

* **[Feature Improvement]**: The `GET /api/v0/deployed/certificates` API call returns a list of all the
  products associated with each certificate, including the product GUIDs.

<%= vars.ops_manager %> v2.7.17 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.17-build.313*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.112*</td></tr><tr><td>BBR SDK</td><td>1.18.0*</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.21.0*</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.22</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.11*</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>CredHub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-16"></a> 2.7.16

* **[Feature]** Ops Manager and BOSH Director support the Hong Kong region in AWS.
* **[Bug Fix]** Fixes issue where rsyslog stops forwarding logs after first log rotation.

<%= vars.ops_manager %> v2.7.16 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.16-build.305*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.110*</td></tr><tr><td>BBR SDK</td><td>1.17.4</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.17.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.22*</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.9</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>CredHub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


### <a id="2-7-15"></a> 2.7.15

* **[Security Fix]** Ops Manager generates UAA logs. Upgrade to v2.7.15 to ensure that all authentication activity through UAA is logged. 
* **[Feature]** Ops Manager removes extraneous carriage returns and line feeds in certificates.
* **[Bug Fix]** The Ops Manager logs list property changes after you click **Apply Changes**.
* **[Bug Fix]** CredHub-generated variables are not displayed in plain text on the streaming and historical log pages.
* **[Bug Fix]** Resolves [Stemcell Library Warns That Stemcells with Triple-Digit Minor Release Numbers Are Out of Date](#triple-digit-stemcell).

<%= vars.ops_manager %> v2.7.15 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.15-build.296*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.104*</td></tr><tr><td>BBR SDK</td><td>1.17.4*</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.17.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.21*</td></tr><tr><td>BPM</td><td>1.1.8*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.9*</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>CredHub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-14"></a> 2.7.14

* **[Feature]** Operators can configure multiple certificates in the **Server SSL Cert** field during **LDAP Server** configuration.
* **[Bug Fix]** Deployed certificates endpoint show `configurable: true` for CredHub certificates marked as `generated: null`.
* **[Bug Fix]** The `/api/v0/staged/products/:guid/properties` <%= vars.ops_manager %> API endpoint rejects malformed secret properties.
* **[Bug Fix]** Non-configurable jobs that default to zero instances do not appear in the **Resource Config** pane.
* **[Bug Fix]** <%= vars.ops_manager %> marks RSA certificates with extra characters as invalid before deployment.

<%= vars.ops_manager %> v2.7.14 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.14-build.284*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.100*</td></tr><tr><td>BBR SDK</td><td>1.17.3*</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.17.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.19*</td></tr><tr><td>BPM</td><td>1.1.7</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.7</td></tr><tr><td>BOSH CLI</td><td>6.2.1*</td></tr><tr><td>CredHub CLI</td><td>2.7.0*</td></tr><tr><td>BBR CLI</td><td>1.7.2*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-13"></a> 2.7.13

<%= vars.ops_manager %> v2.7.13 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.13-build.264*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.98*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.17.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.17*</td></tr><tr><td>BPM</td><td>1.1.7*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.7</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.7.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-12"></a> 2.7.12

<%= vars.ops_manager %> v2.7.12 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.12-build.260*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.96*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.17.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.11*</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.16</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.7*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.7.0*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-11"></a> 2.7.11

* **[Bug Fix]** Fixes issue where multi-datacenter vSphere always deploys BOSH Director to the first vCenter configured in <%= vars.ops_manager %>.
* **[Bug Fix]** Fixes issue where tiles that contain build numbers in `product_version` incorrectly fail to meet the requirements for `minimum_version_for_upgrade version`.
* **[Bug Fix]** Fixes performance issues with the <%= vars.ops_manager %> change log page.
* **[Bug Fix]** Fixes issue where setting the **HTTP(S) Proxy** in <%= vars.ops_manager %> to an empty value causes **Apply Changes** to fail.

<%= vars.ops_manager %> v2.7.11 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.7.11-build.251*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.93*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.17.0*</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.9</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.16</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.5*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-10"></a> 2.7.10

* **[Feature]** Operators can access the <%= vars.ops_manager %> `/api/v0/support_bundle` <%= vars.ops_manager %> API endpoint to download a ZIP file with the <%= vars.ops_manager %> diagnostic report.
* **[Feature]** Multiple LDAP server URLs can be passed to `LDAPBindVerifier`.
* **[Bug Fix]** Fixes upgrade issue for deployments where operators have used the `add_job_to_instance_group` <%= vars.ops_manager %> API endpoint.
* **[Bug Fix]** **Apply Changes** no longer fails when tiles use the `allow_encrypted_key` feature.

<%= vars.ops_manager %> v2.7.10 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.7.10-build.245*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.84*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.16.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.9</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.16</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.4</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-9"></a> 2.7.9

* **[Feature]** Operators can use an encrypted private key for **Provider Client Certificate Private Key** when configuring HSM in BOSH.
* **[Feature]** Operators can use an encrypted private key in Tile settings.

<%= vars.ops_manager %> v2.7.9 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.7.9-build.239*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.77</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.4.3</td></tr><tr><td>BOSH DNS</td><td>1.16.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.9</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.16</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.4*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-8"></a> 2.7.8

<%= vars.ops_manager %> v2.7.8 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.7.8-build.234*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.77*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.4.3*</td></tr><tr><td>BOSH DNS</td><td>1.16.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.9</td></tr><tr><td>Syslog</td><td>11.6.1*</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.16</td></tr><tr><td>BPM</td><td>1.1.6*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.3</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-7"></a> 2.7.7

* **[Feature]** In Advanced Mode after a successful deployment, operators can update host, port, and database properties under **External MySQL Database** in the **Director Config** pane of the BOSH Director tile.
* **[Bug Fix]** After a successful deployment, operators can update the username under **External MySQL Database** in the **Director Config** pane of the BOSH Director tile.

<%= vars.ops_manager %> v2.7.7 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.7.7-build.229*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.74*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.4.2</td></tr><tr><td>BOSH DNS</td><td>1.16.0*</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.9*</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.16</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.3</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.2*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-6"></a> 2.7.6

<%= vars.ops_manager %> v2.7.6 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.7.6-build.223*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.69</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.4.2</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.8*</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.16</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.3*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.1</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-5"></a>2.7.5

<%= vars.ops_manager %> v2.7.5 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.7.5-build.218*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.69</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.4.2</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.7</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.16*</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.2</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.1</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-4"></a>2.7.4

* **[Feature]** Operators can configure multiple HSM hosts in BOSH CredHub using the <%= vars.ops_manager %> API.
* **[Security Fix]** When an operator makes a request to the UAA server, the server does not log credentials within the query parameters.

<%= vars.ops_manager %> v2.7.4 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.7.4-build.216*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.69*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.4.2</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.7*</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.15</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.2*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.1</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-3"></a>2.7.3

* **[Bug Fix]** Fixes the unbound variable in UAA that causes BOSH Director to fail.

<%= vars.ops_manager %> v2.7.3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.7.3-build.208*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.51*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.4.2</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.6</td></tr><tr><td>Syslog</td><td>11.6.0*</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.15*</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.1</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.1*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-2"></a> 2.7.2

* **[Security Fix]** This patch addresses [CVE-2019-15587](https://nvd.nist.gov/vuln/detail/CVE-2019-15587).
* **[Feature]** Operators see a warning about unrecognized verifiers instead of failing an **Apply Changes**.
* **[Feature]** Operators can use the `DELETE /api/v0/staged` <%= vars.ops_manager %> API endpoint to revert pending changes.
* **[Bug Fix]** <%= vars.ops_manager %> API shows correct message for a given product when enabling or disabling unknown verifier.
* **[Bug Fix]** Operators cannot modify vSphere availability zones that are associated with a deployed product with the <%= vars.ops_manager %> API.
* **[Bug Fix]** <%= vars.ops_manager %> does not show the **Revert** button in the UI after **Apply Changes**.
* **[Bug Fix]** Users are allowed to uncheck all options in a `multi_select_options` property that is nested under a selector.

<%= vars.ops_manager %> v2.7.2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.7.2-build.201*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.40*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.4.2*</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.5.6</td></tr><tr><td>Syslog</td><td>11.5.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.14*</td></tr><tr><td>BPM</td><td>1.1.5*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78*</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.1</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.0</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-1"></a> 2.7.1

* **[Feature]** Improves Nginx security configuration. Nginx now uses a more secure cipher suite and updates OpenSSL DH parameters to prevent fingerprinting.
* **[Feature]** External database password is not frozen after a successful deploy.
* **[Feature]** Begins consuming credhub-release from the Pivotal CredHub LTS repo to ensure users will be able to consume patches.
* **[Bug Fix]** Root CA certificate is only written to disk when it has changed.
* **[Bug Fix]** Add AWS AMI IDs for eu-west-3 and eu-north-1 to the PDFs on Pivotal Network.
* **[Bug Fix]** Tomcat logs from the UAA process are readable by the syslog user.
* **[Bug Fix]** When an operator exports a runtime config-only tile from <%= vars.ops_manager %> v2.6 on AWS, they can successfully import their `installation.zip` into <%= vars.ops_manager %> v2.7. Previously, there was a 5th-generation AWS instance schema migration failure.
* **[Bug Fix]** Submitting a form with multiple unselected selector properties does not raise a `500` error.
* **[Bug Fix]** Resolves an issue in which <%= vars.ops_manager %> hangs during **Apply Changes**.
* **[Bug Fix]** <%= vars.ops_manager %> API shows deployed certificates when only BOSH Director has been deployed.

<%= vars.ops_manager %> v2.7.1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.7.1-build.189*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.30*</td></tr><tr><td>BBR SDK</td><td>1.17.2*</td></tr><tr><td>BOSH Director</td><td>270.4.1</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24*</td></tr><tr><td>CredHub</td><td>2.5.6*</td></tr><tr><td>Syslog</td><td>11.5.0*</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.10*</td></tr><tr><td>BPM</td><td>1.1.3</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.1</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.6.0*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-7-0"></a> 2.7.0

<%= vars.ops_manager %> v2.7.0 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.7.0-build.161*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.16*</td></tr><tr><td>BBR SDK</td><td>1.17.1*</td></tr><tr><td>BOSH Director</td><td>270.4.1*</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.5.3*</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.4</td></tr><tr><td>BPM</td><td>1.1.3</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.1</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>CredHub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.2*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


## <a id='how-to-upgrade'></a> How to Upgrade

To upgrade to <%= vars.ops_manager_full %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).


## <a id='major-features'></a> New Features in <%= vars.ops_manager %> <%= vars.v_major_version %>

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following major features:

### <a id='resource-config'></a> Resource Config Redesign

<%= vars.ops_manager %> <%= vars.v_major_version %> introduces a redesigned **Resource Config** pane. The new **Resource Config** pane appears in every <%= vars.ops_manager %> product tile, including BOSH Director.

In the redesigned **Resource Config** pane, you can expand the row that contains each job to reveal additional configuration options. The additional options that you can configure depend on your IaaS. For example, if you use vSphere, you can configure NSX-T or NSX-V settings within each job row.

The new <%= vars.ops_manager %> **Resource Config** pane also has improved error handling. When there is an error, <%= vars.ops_manager %> displays both a banner and an error message next to the field that contains the error. When a value you enter violates the constraints of a job, <%= vars.ops_manager %> highlights the corresponding **Instances**, **VM Type**, and **Persistent Disk Type** fields and displays an error message about the violation.

For more information, see the _Resource Config_ section of the BOSH Director configuration topic for your IaaS:

- [Configuring BOSH Director on AWS](https://docs.pivotal.io/platform/2-7/om/aws/config-manual.html#pcfaws-om-rscestem)
- [Configuring BOSH Director on AWS Using Terraform](https://docs.pivotal.io/platform/2-7/om/aws/config-terraform.html#pcfaws-om-rscestem)
- [Configuring BOSH Director on Azure Manually](https://docs.pivotal.io/platform/2-7/om/azure/config-manual.html#resource-config)
- [Configuring BOSH Director on Azure Using Terraform](https://docs.pivotal.io/platform/2-7/om/azure/config-terraform.html#resource)
- [Configuring BOSH Director on GCP Manually](https://docs.pivotal.io/platform/2-7/om/gcp/config-manual.html#resource-config)
- [Configuring BOSH Director on GCP Using Terraform](https://docs.pivotal.io/platform/2-7/om/gcp/config-terraform.html#resource-config)
- [Configuring BOSH Director on OpenStack](https://docs.pivotal.io/platform/2-7/om/openstack/config.html#resource-config)
- [Configuring BOSH Director on vSphere](https://docs.pivotal.io/platform/2-7/om/vsphere/config.html#resource-config)

### <a id="cron"></a> Valid cron Input Verification

For `string` type form fields in tiles, <%= vars.ops_manager %> supports a `constraints.must_be_cron_schedule` attribute that verifies whether the input is a valid `cron` expression. Tiles can use this attribute for fields that schedule backups, for example. For information about the `string` blueprint type, see [string](https://docs.pivotal.io/tiledev/property-template-references.html#string) in _Property and Template References_ in the <%= vars.platform_name %> Tile Developer Guide.

### <a id='sanitize-certs'></a> <%= vars.ops_manager %> Sanitizes Certificate Input for Carriage Returns and Line Feeds

When you reset the value of a certificate in an <%= vars.ops_manager %> tile, <%= vars.ops_manager %> sanitizes the certificate for carriage returns and line feeds. This prevents BOSH from interpreting the certificate you reset as a new certificate and recreating VMs. You do not need to manually remove newline characters such as `\n`.

### <a id='all-certs'></a> API Call Returns All Certs

Calling the <%= vars.ops_manager %> API `deployed/certificates` endpoint returns listings for the root certificate authority (CA), NATS CA, and certificates that <%= vars.ops_manager %> stores in CredHub, in addition to leaf-level certificates that <%= vars.ops_manager %> stores directly.

For more information, see [List All RSA Certificates](https://docs.pivotal.io/platform/2-7/security/pcf-infrastructure/managing-certificates.html#list-rsa-certs) in _Managing Certificates with the <%= vars.ops_manager %> API_.

### <a id='download-support-zip'></a> Download a Platform Information Bundle from the <%= vars.ops_manager %> UI or API

You can download a Platform Information Bundle as a ZIP file from the <%= vars.ops_manager %> UI or API. The bundle includes <%= vars.ops_manager %> logs, deployed manifests and configurations, and BOSH deployment diagnostics.

The contents of the bundle help Pivotal Support more quickly address any issues in your deployment.

To download the ZIP file from the UI, click **Support** in the footer of any page in the <%= vars.ops_manager %> UI.

To download the ZIP file from the <%= vars.ops_manager %> API, use the `/api/v0/support_bundle` endpoint. For more information, see [Support Bundle](https://docs.pivotal.io/platform/2-7/opsman-api/#support-bundle) in the <%= vars.ops_manager %> API documentation.

### <a id='audit-logs'></a> BOSH Director Access Events Appear in Syslog Output

Syslog output includes BOSH Director access events when syslog is enabled in <%= vars.ops_manager %>.

BOSH Director access events correspond to the execution of BOSH CLI commands. The addition of these events allows you to audit BOSH Director access and activity for security monitoring purposes.

For more information, see [Syslog](https://docs.pivotal.io/platform/2-7/customizing/pcf-interface.html#syslog) in _Using the <%= vars.ops_manager %> Interface_ and [Logging API Access](https://bosh.io/docs/director-access-events/) in the BOSH documentation.

### <a id='audit-user-activity'></a> Request Parameters in <%= vars.ops_manager %> User Activity Logs

The <%= vars.ops_manager %> `audit_log.txt` file includes request parameters. This provides additional information about requests made in the <%= vars.ops_manager %> UI, such as the timestamp of the request and the username that made the request.

These request parameters improve <%= vars.ops_manager %> logs for auditing user activity.

To access the `audit_log.txt` file, SSH into the <%= vars.ops_manager %> VM and navigate to `/var/log/opsmanager/audit_log.txt`.

For more information about the types of user activity that you can audit in the <%= vars.ops_manager %> logs, see [Auditing User Activity in <%= vars.ops_manager %>](https://docs.pivotal.io/platform/2-7/opsguide/auditing-ops-man.html).

### <a id='gcs-bbr'></a> BBR Backs Up GCS Blobstore

BOSH Backup and Restore (BBR) backs up BOSH Director blobstores that save externally to Google Cloud Storage (GCS), as configured in the **Director Config** pane. For more information, see [External Storage Support Across <%= vars.platform_name %> Versions](https://docs.pivotal.io/platform/2-7/customizing/backup-restore/backup-pcf-bbr.html#version-compatibility) in _Backing Up <%= vars.platform_name %> with BBR_.

### <a id='opsman-rename'></a> PCF <%= vars.ops_manager %> Renamed to <%= vars.ops_manager_full %>

PCF <%= vars.ops_manager %> is renamed to <%= vars.ops_manager_full %> in the Installation Dashboard. Additionally, the file names for <%= vars.ops_manager %> downloads are renamed in Pivotal Network.


## <a id='known-issues'></a> Known Issues

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following known issues:

### <a id='log'></a> Log Page Accuracy and Behavior

The **Change Log** page may not show the correct results of each **Apply Changes** deploy attempt, and the **Installation Log** may omit later logs that show whether the deployment succeeded or how it failed.

For more information and a workaround, see [Operations Manager changelog does not show any errors after failed deployment](https://community.pivotal.io/s/article/operations-manager-change-logs-does-not-show-any-errors) in the Pivotal Knowledge Base.

The **Installation Log** also takes time to load, and the link menu for each stage of the deployment scrolls away when you scroll down through the log output.

You access the **Installation Log** page from the **Change Log** page by clicking the **Logs** button for a listed deployment event.

### <a id='uaa-logs'></a> Syslog Does Not Receive UAA Audit Logs

Audit logs from the <%= vars.ops_manager %> UAA component do not forward to a syslog server due to file permission issues.

This issue is resolved in Ops Manager v2.7.15.

### <a id="monit"></a> Monit Inaccurately Reports Health of UAA

When BOSH Director reboots, Monit may report UAA as running, even though its process state is unhealthy. The Monit start scripts for UAA use the UAA `/healthz` endpoint to verify UAA is running, but the `/healthz` endpoint does not know there is a database requirement. Monit detects UAA is healthy, even though UAA is stuck, and never restarts it.

To fix this, run `monit restart uaa` to restart UAA after Postgres is running.

For more information, see [Monit reports UAA running on BOSH Director when it is actually unhealthy](https://community.pivotal.io/s/article/monit-reports-uaa-running-on-bosh-director-when-it-is-actually-unhealthy) in the Pivotal Knowledge Base.

### <a id='credhub-generated-field'></a> Reset Manually Set Certificates in CredHub

If you have manually set any certificates in CredHub on <%= vars.ops_manager %> v2.6 or earlier, Pivotal recommends that you reset these certificates to prevent their accidental rotation in <%= vars.ops_manager %> v2.8. You only need to perform this action before rotating certificates in <%= vars.ops_manager %> v2.8. It is not required as part of the <%= vars.ops_manager %> v2.7 upgrade.

<%= vars.ops_manager %> v2.7 includes CredHub v2.5, which adds a field that tracks whether a certificate has been manually set or generated. However, existing certificates from <%= vars.ops_manager %> v2.6 and earlier are not migrated to use this field. After you upgrade to <%= vars.ops_manager %> v2.7, manually set CredHub certificates are assigned a `null` value in the `generated` field.

When instructed to rotate certificates using the `certificate_authorities/active/regenerate` <%= vars.ops_manager %> API endpoint, <%= vars.ops_manager %> v2.8 does a bulk rotation of all certificates where `generated` is set to either `true` or `null`. To prevent rotation of a manually set certificate in CredHub, you should reset the certificate, which updates the `generated` field to `false`.

To reset a certificate in CredHub, see [Reviewing and Resetting Manually Set Certificates in CredHub](https://docs.pivotal.io/platform/2-7/security/pcf-infrastructure/manual-credhub-certificate.html).

### <a id='unresponsive-agent'></a> BOSH VMs Report Unresponsive Agent After Activating New Root CA

<%= partial "/pcf/certs/recreate-service-instances" %>

### <a id='triple-digit-stemcell'></a> Stemcell Library Warns That Stemcells with Triple-Digit Minor Release Numbers Are Out of Date

In <%= vars.ops_manager %> v2.7.14 and earlier, when you upload a stemcell with a triple-digit minor release number to the <%= vars.ops_manager %> Stemcell Library, you see a warning that the stemcell is out of date.

This is because <%= vars.ops_manager %> erroneously interprets triple-digit minor release numbers, such as Ubuntu Xenial stemcell 456.100, as being older than double-digit minor release numbers, such as Ubuntu Xenial stemcell 456.98. The Stemcell Library then erroneously lists the most recent double-digit minor release stemcell you uploaded as the required stemcell.

You can use stemcells with triple-digit minor release numbers and ignore the warning.

This issue is resolved in <%= vars.ops_manager %> v2.7.15.
