---
title: Pivotal Operations Manager v2.8 Release Notes
owner: Ops Manager
---

This topic contains release notes for <%= vars.ops_manager_full %> <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='2-8-12'></a> 2.8.12

**Release Date:** August 19, 2020

Ops Manager v2.8.12 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.12-build.291*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.78*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.24.0*</td></tr><tr><td>Metrics Server</td><td>0.1.0*</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.12</td></tr><tr><td>CredHub Maestro</td><td>4.1.2</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.18</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.3.0*</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.11</td></tr><tr><td>BOSH CLI</td><td>6.3.1</td></tr><tr><td>Credhub CLI</td><td>2.8.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.0.3</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id='2-8-11'></a> 2.8.11

**Release Date:** July 31, 2020

* **[Bug Fix]:** If you have a tile that is not configured and you apply changes,
  you receive a warning message but changes to other configured tiles are applied.
  In earlier patches, the apply changes failed.
  This only happened on vSphere environments.

* **[Bug Fix]:** For the `hm_emailer_options.recipients` key,
    the `PUT` `/api/v0/staged/director/properties` endpoint accepts the format used by `GET`
    `/api/v0/staged/director/properties` endpoint for this key in addition to the existing format accepted.

* **[Bug Fix]:** Version checks for tile dependencies confirm the major, minor, and patch numbers
 but not build numbers.

Ops Manager v2.8.11 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.11-build.288*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.77*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.12</td></tr><tr><td>CredHub Maestro</td><td>4.1.2</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.18*</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.11</td></tr><tr><td>BOSH CLI</td><td>6.3.1*</td></tr><tr><td>Credhub CLI</td><td>2.8.0*</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.0.3</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id='2-8-10'></a> 2.8.10

**Release Date:** July 1, 2020

* **[Bug Fix]:** NSX configuration settings are applied to jobs defined in the BOSH Director manifest, including the BOSH Director VM.
* **[Bug Fix]:** BOSH Director can deploy on Openstack environments with multiple regions.
* **[Bug Fix]:** The Ops Manager API `/api/v0/staged/director/properties` endpoint returns S3 and GCS blobstore credentials.
* **[Bug Fix]:** `IaasConfigurationVerifier` connects to the correct authentication endpoint on Azure Government environments.
* **[Bug Fix]:** Ops Manager UAA allows spaces and escaped characters in LDAP external group names.
* **[Bug Fix]:** rsyslog service starts automatically upon starting the Ops Manager VM.

<%= vars.ops_manager %> v2.8.10 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.10-build.281*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.76*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.12*</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.17*</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.11</td></tr><tr><td>BOSH CLI</td><td>6.3.0*</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.0.3</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='2-8-9'></a> 2.8.9

**Release Date:** May 22, 2020

<%= vars.ops_manager %> v2.8.9 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.9-build.268*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.74</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.16*</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.11</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.0.3</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='2-8-8'></a> 2.8.8

**Release Date:** May 18, 2020

* **[Bug Fix]**: Ensure that the BOSH Director and BOSH Agent use the same keys for S3 Blobstores.
* **[Feature Improvement]**: The `GET /api/v0/deployed/certificates` API call returns a list of all the
  products associated with each certificate, including the product GUIDs.

<%= vars.ops_manager %> v2.8.8 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.8-build.266*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.74*</td></tr><tr><td>BBR SDK</td><td>1.18.0*</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0*</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.15</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.11*</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.0.3</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='2-8-7'></a> 2.8.7

* **[Feature]** Ops Manager and BOSH Director support the Hong Kong region in AWS.
* **[Bug Fix]** Fixes issue where rsyslog stops forwarding logs after first log rotation.
* **[Bug Fix]** Fixes issue where some upgraded Ops Managers do not have the UAA Restricted Client Secret property set properly. This property is needed for the Telemetry tile. 
* **[Bug Fix]** Fixes issue where CAs created or added before Ops Manager v2.8 cannot be deleted on v2.8 or later.

<%= vars.ops_manager %> v2.8.7 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.7-build.257*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.71*</td></tr><tr><td>BBR SDK</td><td>1.17.4</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.17.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.15*</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.9*</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.0.3</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='2-8-6'></a> 2.8.6

* **[Bug Fix]** The Ops Manager logs list property changes after you click **Apply Changes**. 
* **[Bug Fix]** CredHub-generated variables are not displayed in plain text on the streaming
  and historical log pages.
* **[Bug Fix]** Resolves [Stemcell Library Warns That Stemcells with Triple-Digit Minor Release Numbers Are Out of Date](#triple-digit-stemcell).

<%= vars.ops_manager %> v2.8.6 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.6-build.247*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.64*</td></tr><tr><td>BBR SDK</td><td>1.17.4*</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.17.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.14*</td></tr><tr><td>BPM</td><td>1.1.8*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.7</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>CredHub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.0.3</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id='2-8-5'></a> 2.8.5

* **[Feature]** Operators can configure multiple certificates in the **Server SSL Cert** field during **LDAP Server** configuration.
* **[Feature]** Adds the **Vm-Host Affinity Rule** dropdown to the **Availability Zones** pane.
* **[Bug Fix]** Deployed certificates endpoint show `configurable: true` for CredHub certs marked as `generated: null`.
* **[Bug Fix]** BOSH DNS certificates are regenerated during a certificate rotation when BOSH and product are redeployed.
* **[Bug Fix]** The `/api/v0/staged/products/:guid/properties` <%= vars.ops_manager %> API endpoint rejects malformed secret properties.
* **[Bug Fix]** Non-configurable jobs that default to zero instances do not appear in the **Resource Config** pane.
* **[Bug Fix]** <%= vars.ops_manager %> marks RSA certificates with extra characters as invalid before deployment.

<%= vars.ops_manager %> v2.8.5 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.5-build.234*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.59*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.17.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.11*</td></tr><tr><td>BPM</td><td>1.1.7*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.7</td></tr><tr><td>BOSH CLI</td><td>6.2.1*</td></tr><tr><td>CredHub CLI</td><td>2.7.0*</td></tr><tr><td>BBR CLI</td><td>1.7.2*</td></tr><tr><td>Telemetry</td><td>1.0.3*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-8-4-withdrawn"></a> 2.8.4 - Withdrawn

<p class="note warning"><strong> Warning:</strong> This release has been removed from VMware Tanzu Network because it shipped with an unintentional breaking change in BOSH DNS which causes <%= vars.windows_runtime_full %> deployments to fail. </p>

* **[Feature]** Adds **VM-HOST Affinity Rule** dropdown to the **Availability Zones** pane. This dropdown is available if you have availability zones (AZs) on vSphere. In the dropdown, you can select either **MUST** or **SHOULD** to add a Distributed Resource Scheduler (DRS) rule for the AZ.   

<%= vars.ops_manager %> v2.8.4 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.4-build.224*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.57*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.18.0*</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.9*</td></tr><tr><td>BPM</td><td>1.1.7*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.7</td></tr><tr><td>BOSH CLI</td><td>6.2.1*</td></tr><tr><td>CredHub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.7.0</td></tr><tr><td>Telemetry</td><td>1.0.1</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-8-3"></a> 2.8.3

* **[Bug Fix]** Multi-datacenter vSphere configurations deploys to the datacenter that matches to the availability zone and network the operator has selected.

<%= vars.ops_manager %> v2.8.3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.3-build.217*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.51*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.11.1*</td></tr><tr><td>BOSH DNS</td><td>1.17.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11*</td></tr><tr><td>CredHub</td><td>2.5.11*</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.5</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.2.0*</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.7*</td></tr><tr><td>BOSH CLI</td><td>6.2.0</td></tr><tr><td>CredHub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.7.0*</td></tr><tr><td>Telemetry</td><td>1.0.1*</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-8-2"></a> 2.8.2

* **[Bug Fix]** Fixes performance issues with the <%= vars.ops_manager %> change log page.
* **[Bug Fix]** Fixes issue where setting the **HTTP(S) Proxy** in <%= vars.ops_manager %> to an empty value causes apply changes to fail.

<%= vars.ops_manager %> v2.8.2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.8.2-build.203*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.41</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.10.0</td></tr><tr><td>BOSH DNS</td><td>1.17.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.9*</td></tr><tr><td>CredHub</td><td>2.5.9</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.5</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.0.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.5*</td></tr><tr><td>BOSH CLI</td><td>6.2.0*</td></tr><tr><td>CredHub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr><tr><td>Telemetry</td><td>1.0.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table> 

### <a id="2-8-1"></a> 2.8.1

* **[Feature]** Operators can use an encrypted private key for **Provider Client Certificate Private Key** when configuring HSM in BOSH.
* **[Feature]** Operators can use an encrypted private key in Tile settings.
* **[Bug Fix]** System metrics certificate is redacted in BOSH output.
* **[Bug Fix]** Fixes upgrade issue for deployments where operators have used the `add_job_to_instance_group` <%= vars.ops_manager %> API endpoint.
* **[Bug Fix]** **Apply Changes** no longer fails when tiles use the `allow_encrypted_key` feature.

<%= vars.ops_manager %> v2.8.1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.8.1-build.198*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.41*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.10.0</td></tr><tr><td>BOSH DNS</td><td>1.17.0*</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.8*</td></tr><tr><td>CredHub</td><td>2.5.9</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.5</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.0.0</td></tr><tr><td>Google CPI</td><td>30.0.0*</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.4*</td></tr><tr><td>BOSH CLI</td><td>6.1.1</td></tr><tr><td>CredHub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr><tr><td>Telemetry</td><td>1.0.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-8-0"></a> 2.8.0

* See [New Features in <%= vars.ops_manager %> v2.8](#major-features)
* See [Breaking Changes](breaking-changes.html)

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.8.0-build.187*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.29*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.10.0</td></tr><tr><td>BOSH DNS</td><td>1.16.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.5*</td></tr><tr><td>CredHub</td><td>2.5.9</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.5</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>79</td></tr><tr><td>Azure CPI</td><td>37.0.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.3</td></tr><tr><td>BOSH CLI</td><td>6.1.1</td></tr><tr><td>CredHub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr><tr><td>Telemetry</td><td>1.0.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


## <a id='how-to-upgrade'></a> How to Upgrade

To upgrade to <%= vars.ops_manager %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](https://docs.pivotal.io/pivotalcf/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).


## <a id='major-features'></a> New Features in <%= vars.ops_manager %> <%= vars.v_major_version %>

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following major features:

### <a id='maestro-rotate-ca'></a> CredHub Maestro Rotates BOSH DNS Certificate Authorities

CredHub Maestro rotates BOSH DNS CAs and runs safety checks.

CredHub Maestro is a CLI for discovering and rotating CredHub-managed certificates. For more information about using CredHub Maestro, see [Rotating Certificates](https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/api-cert-rotation.html), [Getting Started with CredHub Maestro](https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/getting-started-with-maestro-cli.html), and [Advanced Certificate Rotation with CredHub Maestro](https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/advanced-certificate-rotation.html).

### <a id='nsxt-cert-auth'></a> Certificate Authentication to vSphere NSX Manager

For <%= vars.platform_name %> deployments on vSphere that use NSX networking, the BOSH Director can authenticate to the NSX Manager with a certificate and private key, as well as with a username and password.

This change means that the BOSH Director, NSX-T Container Plugin (NCP), and Enterprise PKS can all authenticate to the NSX Manager with a certificate and private key. BOSH Director uses NSX to network and secure platform components, NCP uses NSX-T to network and secure app containers, and Enterprise PKS uses NSX to create load balancers.

For how to configure BOSH Director authentication to NSX, see [Step 2: Configure vCenter](https://docs.pivotal.io/platform/ops-manager/2-8/vsphere/config.html#vcenter-config) in _Configuring BOSH Director on vSphere_.

### <a id='opsman-metrics'></a> All Platform VMs Emit System Metrics

The `runtime_config` code in <%= vars.ops_manager %> v2.8 installs a system metrics agent on all <%= vars.platform_name %> VMs. This lets [Pivotal Healthwatch](https://docs.pivotal.io/pcf-healthwatch), [Pivotal App Metrics](https://docs.pivotal.io/app-metrics) and other platform tools consume VM metrics from <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>), <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>), hosted services, and any other products deployed by <%= vars.ops_manager %>.

System metrics report usage and status of VM memory, disk, CPU, network, load, and swap space. For a complete list of metrics, see [VM Metrics](https://github.com/cloudfoundry/system-metrics-release/blob/develop/docs/system-metrics-agent.md#vm-metrics) in _System Metrics Agent_ in the System Metrics repository on GitHub.

Before <%= vars.ops_manager %> v2.8, the metrics agent was installed only on <%= vars.app_runtime_abbr %> VMs, and VMs deployed by other products did not emit the system metrics described above.

### <a id='tls-always-enabled-for-internal-blobstore'></a> TLS Always Enabled for Internal Blobstore

TLS is now always enabled for the internal blobstore. You can no longer toggle TLS for the internal blobstore with the UI or API.

<%= vars.recommended_by %> recommends that you enable TLS for the internal blobstore before you upgrade. You can do this by selecting **Enable TLS** in the **Director Config** pane. There may be errors if the blobstore CA is expired.

### <a id='optional-dependencies'></a> Specify Optional Tile Dependencies

You can specify tile dependencies as optional.
To add optional dependencies, use the `optional: true` field under the
`requires_product_versions` property in the tile directory's `tile.yml` file.

For more information about the difference between required and optional dependencies, see [Dependencies](https://docs.pivotal.io/tiledev/2-8/tile-structure.html#dependencies) in _How Tiles Work_.

### <a id='dependency-information'></a> UI and API Show More Information about Dependencies

<%= vars.ops_manager %> v2.8 changes the way dependencies appear when you selectively deploy products. When you click **Review Pending Changes** in the <%= vars.ops_manager %> UI, each product lists its dependencies in the **Depends on** section. When you make a request to the `pending_changes` <%= vars.ops_manager %> API endpoint, the response lists each product's dependencies in the `depends_on` section.

See the following table for information about how dependencies appear in the <%= vars.ops_manager %> UI and API:

<table>
  <tr>
    <th>UI Appearance</th>
    <th width="22%">API Status Key</th>
    <th>Explanation</th>
    <th>Can Apply Changes?</th>
  </tr>
  <tr>
    <td>Dependency listed in green text</td>
    <td><code>satisfied</code></td>
    <td>The correct version of the dependency is installed.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Dependency listed in green text, followed by (optional)</td>
    <td><code>satisfied</code></td>
    <td>The correct version of the dependency is installed, although it is optional.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Dependency listed in red text</td>
    <td><code>unsatisfied</code></td>
    <td>An incompatible version of the dependency is installed. You must update the dependency to apply changes.</td>
    <td>No</td>
  </tr>
  <tr>
    <td>Dependency listed in red text, followed by (optional)</td>
    <td><code>unsatisfied</code></td>
    <td>An incompatible version of the dependency is installed, but the dependency is optional.</td>
    <td>Yes</td>
  </tr>
  <tr>
    <td>Dependency listed in gray text, followed by (optional)</td>
    <td><code>not_present</code></td>
    <td>No version of the dependency is installed, but it is optional.</td>
    <td>Yes</td>
  </tr>
</table>

### <a id='om-time-verifier'></a> HTTP Install-Time Verifier

Tile authors can define an `HttpSuccessVerifier` install-time verifier that calls an HTTP endpoint on the broker.

<%= vars.ops_manager %> executes this verifier after you click **Apply Changes**. If the HTTP response is not successful, the deployment fails and the verifier displays a warning message.

Tile authors can use this verifier to check if all service instances on an existing broker are on the current version. This prevents service instances from becoming orphaned after an upgrade. Tile authors can also specify that the verifier should only run on major or minor upgrades.

### <a id='revert-staged-changes'></a> Revert Staged Changes With the API

You can use the `DELETE /api/v0/staged` <%= vars.ops_manager %> API endpoint to revert all staged changes in <%= vars.ops_manager %>. For more information, see [Revert staged changes](https://docs.pivotal.io/platform/2-8/opsman-api/#streaming-current-installation-log) in the <%= vars.ops_manager %> API documentation.

### <a id='multiple-hsm-hosts'></a> Configure Multiple HSMs With the API

You can use the `PUT /api/v0/staged/director/properties` endpoint of the <%= vars.ops_manager %> API to configure multiple hardware security modules (HSMs) for BOSH CredHub. For more information, see [Updating director and Iaas properties (Experimental)](https://docs.pivotal.io/platform/2-8/opsman-api/#updating-director-and-iaas-properties-experimental) in the <%= vars.ops_manager %> API documentation.

### <a id='telemetry'></a> Pivotal Telemetry for <%= vars.ops_manager %> Is Imported by Default

<%= vars.ops_manager %> automatically imports the Pivotal Telemetry for <%= vars.ops_manager %> tile. When you install <%= vars.ops_manager %>, the Pivotal Telemetry tile appears under **IMPORT A PRODUCT**.

This tile collects product usage data, which helps Pivotal improve our products and services. Using Pivotal Telemetry for <%= vars.ops_manager %> is optional, and the tile does not share product usage data until you add and configure it.

For more information, see the [Pivotal Telemetry for <%= vars.ops_manager %>](https://docs.pivotal.io/pivotal-telemetry/index.html) documentation.

### <a id='vm-affinity-rule'></a> Ability to Set the VM-Host Affinity Rule to "Should" for Clusters in vSphere

In <%= vars.ops_manager %> v2.8.5 and later, you can modify the **VM-Host Affinity Rule** for a cluster in the **Availability Zones** pane.

By default, **VM-Host Affinity Rule** is set to **MUST**, which means that all VMs in the cluster must run on hosts in the specified host group. There are no exceptions.

Changing the value to **SHOULD** means that during normal operations, VMs in the cluster are run on hosts in the specified host group. However, vSphere can start these VMs in another host group in the event of an AZ failure. This flexibility helps ensure high availability for stretched cluster topologies in vSphere.

For information on changing this setting in the Ops Manager UI, see [Configuring BOSH Director on vSphere](https://docs.pivotal.io/platform/ops-manager/2-9/vsphere/config.html#create-az). To change the setting with the Ops Manager API, see [Ops Manager API Documentation](https://docs.pivotal.io/platform/2-9/opsman-api/#tag/Availability-Zones/paths/~1api~1v0~1staged~1director~1availability_zones~1{az_guid}/put).

For more information about VM-Host Affinity Rules, see [VM-Host Affinity Rules
](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.resmgmt.doc/GUID-2FB90EF5-7733-4095-8B66-F10D6C57B820.html) in the vSphere documentation.

For more information about stretched clusters, see [Introduction to Stretched Clusters
](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.vsan-planning.doc/GUID-1BDC7194-67A7-4E7C-BF3A-3A0A32AEECA9.html) in the vSphere documentation.


## <a id='known-issues'></a> Known Issues

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following known issues:

### <a id='credhub-generated-field'></a> Reset Manually Set Certificates in CredHub Before Rotating Certificates with CredHub Maestro CLI

If you have manually set any certificates in CredHub on <%= vars.ops_manager %> v2.6 or earlier, you need to reset those certificates before using the CredHub Maestro CLI to rotate CredHub certificates. The CredHub Maestro CLI is available on the <%= vars.ops_manager %> VM.

Resetting these certificates is not a required condition for the <%= vars.ops_manager %> v2.8 upgrade. You can reset them either before or after the upgrade.

To reset a certificate in CredHub, see [Reviewing and Resetting Manually Set Certificates in CredHub](https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/manual-credhub-certificate.html). For more information about CredHub Maestro, see [CredHub Maestro Rotates BOSH DNS Certificate Authorities](#maestro-rotate-ca).

### <a id='unresponsive-agent'></a> BOSH VMs Report Unresponsive Agent After Activating New Root CA

<%= partial "/pcf/certs/recreate-service-instances" %>

### <a id='triple-digit-stemcell'></a> Stemcell Library Warns That Stemcells with Triple-Digit Minor Release Numbers Are Out of Date

In <%= vars.ops_manager %> v2.8.5 and earlier, when you upload a stemcell with a triple-digit minor release number to the <%= vars.ops_manager %> Stemcell Library, you see a warning that the stemcell is out of date.

This is because <%= vars.ops_manager %> erroneously interprets triple-digit minor release numbers, such as Ubuntu Xenial stemcell 456.100, as being older than double-digit minor release numbers, such as Ubuntu Xenial stemcell 456.98. The Stemcell Library then erroneously lists the most recent double-digit minor release stemcell you uploaded as the required stemcell.

You can use stemcells with triple-digit minor release numbers and ignore the warning.

This issue is resolved in <%= vars.ops_manager %> v2.8.6.
