---
title: PCF Ops Manager v2.6 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-6/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager <%= vars.v_major_version %>.

## <a id="releases"></a> Releases

Ops Manager <%= vars.v_major_version %> includes the following minor releases:

### <a id="2-6-19"></a> 2.6.19

* **[Feature]** Multiple LDAP server URLs can be passed to LDAPBindVerifier
* **[Feature]** Operators can use an encrypted private key for Provider Client Certificate Private Key when configuring HSM in BOSH
* **[Feature]** Operators can use an encrypted private key in Tile settings

Ops Manager v2.6.19 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.19-build.267*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.146</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>269.0.9</td></tr><tr><td>BOSH DNS</td><td>1.16.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.4.2</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.6</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.8*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

### <a id="2-6-18"></a> 2.6.18

Ops Manager v2.6.18 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.18-build.263*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.146*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>269.0.9*</td></tr><tr><td>BOSH DNS</td><td>1.16.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.4.2</td></tr><tr><td>Syslog</td><td>11.6.1*</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.6</td></tr><tr><td>BPM</td><td>1.1.6*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.7</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-6-17"></a> 2.6.17

Ops Manager v2.6.17 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.17-build.256*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.143*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>269.0.8</td></tr><tr><td>BOSH DNS</td><td>1.16.0*</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.4.2</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.6</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.7</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.2*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>



### <a id="2-6-16"></a> 2.6.16

Ops Manager v2.6.16 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.16-build.252*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.141</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>269.0.8</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.4.2</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.6*</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.7*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.1</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-6-15"></a>2.6.15

* **[Feature]** Operators can configure multiple HSM hosts in BOSH CredHub using the Ops Manager API.
* **[Security Fix]**: When an operator makes a request to the UAA server, the server does not log credentials within the query parameters.

Ops Manager v2.6.15 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.15-build.246*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.141*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>269.0.8</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.4.2</td></tr><tr><td>Syslog</td><td>11.6.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.5</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.6</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.1</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-6-14"></a> 2.6.14

- **[Feature Improvement]** Ops Manager on Azure runs the `chrony` service, which uses the hardware clock to sync local VM time with the Azure hypervisor.

Ops Manager v2.6.14 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.14-build.243*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.133*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>269.0.8*</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.4.2</td></tr><tr><td>Syslog</td><td>11.6.0*</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.5</td></tr><tr><td>BPM</td><td>1.1.5</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0*</td></tr><tr><td>AWS CPI</td><td>78</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.6*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.1*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-6-13"></a> 2.6.13

- **[Security Fix]** This patch addresses [CVE-2019-15587](https://nvd.nist.gov/vuln/detail/CVE-2019-15587)
- **[Feature]** Operators can use the `DELETE /api/v0/staged` endpoint to revert pending changes
- **[Bug Fix]** API shows correct message for a given product when enabling or disabling unknown verifier
- **[Bug Fix]** Operators cannot modify vSphere availability zones that are associated with a deployed product with the API
- **[Bug Fix]** Ops Manager does not show the **Revert** button in the UI after Apply Changes
- **[Bug Fix]** Users are allowed to uncheck all options in a `multi_select_options` property that is nested under a selector

Ops Manager v2.6.13 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.13-build.233*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.126*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>269.0.7*</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.4.2</td></tr><tr><td>Syslog</td><td>11.5.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.5*</td></tr><tr><td>BPM</td><td>1.1.5*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>78*</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.0</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-6-12"></a> 2.6.12

- **[Bug Fix]** AWS AMI IDs for `eu-west-3` and `eu-north-1` are included in PDF on Pivotal Network

Ops Manager v2.6.12 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.12-build.222*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.103*</td></tr><tr><td>BBR SDK</td><td>1.17.2*</td></tr><tr><td>BOSH Director</td><td>269.0.6</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>CredHub</td><td>2.4.2*</td></tr><tr><td>Syslog</td><td>11.5.0*</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.4*</td></tr><tr><td>BPM</td><td>1.1.3</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.6.0*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>


### <a id="2-6-11"></a> 2.6.11

Ops Manager v2.6.11 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.11-build.210*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.97*</td></tr><tr><td>BBR SDK</td><td>1.17.1</td></tr><tr><td>BOSH Director</td><td>269.0.6</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.24*</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.3</td></tr><tr><td>BPM</td><td>1.1.3</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.3</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-6-10"></a> 2.6.10

* **[Security Fix]** Updates mariadb to v10.4

Ops Manager v2.6.10 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.10-build.207*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.93*</td></tr><tr><td>BBR SDK</td><td>1.17.1</td></tr><tr><td>BOSH Director</td><td>269.0.6</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.3</td></tr><tr><td>BPM</td><td>1.1.3</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.3</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>


### <a id="2-6-9"></a> 2.6.9

* **[Feature]** Operator can make changes to UAA group mappings using a BOSH admin client when Ops Manager is configured with LDAP
* **[Feature]** LDAP configuration includes a **Group Max Search Depth** field
* **[Bug Fix]** Footer on React pages includes the correct copyright date
* **[Bug Fix]** Redirect to the changelog page when an installation fails
* **[Bug Fix]** Credentials are not shown in UI or API for restricted users

Ops Manager v2.6.9 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.9-build.201*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.89*</td></tr><tr><td>BBR SDK</td><td>1.17.1*</td></tr><tr><td>BOSH Director</td><td>269.0.6*</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.3*</td></tr><tr><td>BPM</td><td>1.1.3</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.3*</td></tr><tr><td>BBR CLI</td><td>1.5.2*</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-6-8"></a> 2.6.8

* **[Bug fix]** Custom UI banners now show on React pages such as **Stemcell Library** and **Review Pending Changes**

Ops Manager v2.6.8 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.8-build.192*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.81*</td></tr><tr><td>BBR SDK</td><td>1.17.0</td></tr><tr><td>BOSH Director</td><td>269.0.5</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.2</td></tr><tr><td>BPM</td><td>1.1.3*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>


### <a id="2-6-7"></a> 2.6.7

* **[Feature]** `/api/v0/deployed/certificates?expires_within=` does not display `saml_service_provider_cert` if Ops Manager is not using SAML.
* **[Feature]** Operators can set `recursor_selection` in the DNS runtime config through the OpsManager API
* **[Feature]** The OpsManager web server (nginx) does not allow TLSv1 and TLSv1.1
* **[Feature]** Enhance blobstore verifier error messaging
* **[Feature]** Enforce required value for public SSH key in when installing Ops Manager on vSphere
* **[Feature]** Enable audit checks on BOSH CLI commands. Events now appear in the Director syslog.
* **[Bug fix]** Update BBR to 1.x to fix postgres db backup
* **[Bug fix]** Resolves an issue in which Ops Manager set the Director ephemeral disk size to the Operator’s selected **PERSISTENT DISK** size. Now Ops Manager sets the ephemeral disk size as specified in the **VM TYPE** field.
* **[Bug fix]** Azure SSH private key is redacted in the UI
* **[Bug Fix]** Syslog addon correctly injected into manifest for service brokers that enable OpsManager's consistent syslog


Ops Manager v2.6.7 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.7-build.187*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.72</td></tr><tr><td>BBR SDK</td><td>1.17.0*</td></tr><tr><td>BOSH Director</td><td>269.0.5</td></tr><tr><td>BOSH DNS</td><td>1.12.0*</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.2</td></tr><tr><td>BPM</td><td>1.1.2*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>77*</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-6-6"></a> 2.6.6

Ops Manager v2.6.6 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.6-build.179*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.72*</td></tr><tr><td>BBR SDK</td><td>1.15.1</td></tr><tr><td>BOSH Director</td><td>269.0.5*</td></tr><tr><td>BOSH DNS</td><td>1.11.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.2</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.5*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-6-5"></a> 2.6.5

* **[Bug Fix]** Ops Manager UI and API accurately reports if an Azure region supports AZs. The verifier fails if the region does not support AZs.

Ops Manager v2.6.5 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.5-build.173*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.70*</td></tr><tr><td>BBR SDK</td><td>1.15.1</td></tr><tr><td>BOSH Director</td><td>269.0.3</td></tr><tr><td>BOSH DNS</td><td>1.11.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.2</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.3</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-6-4"></a> 2.6.4

* **[Security Fix]** Fixes the UAA `client.write` scope vulnerability.

Ops Manager v2.6.4 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.4-build.166*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.64</td></tr><tr><td>BBR SDK</td><td>1.15.1</td></tr><tr><td>BOSH Director</td><td>269.0.3</td></tr><tr><td>BOSH DNS</td><td>1.11.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.2*</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.3*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-6-3"></a> 2.6.3

* **[Bug Fix]** Ops Manager allows the PKS v1.5 tile to upload

Ops Manager v2.6.3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.3-build.163*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.64*</td></tr><tr><td>BBR SDK</td><td>1.15.1</td></tr><tr><td>BOSH Director</td><td>269.0.3</td></tr><tr><td>BOSH DNS</td><td>1.11.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.2</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2*</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>



### <a id="2-6-2"></a> 2.6.2

* **[Security Fix]** This patch addresses [CVE-2019-11479](https://nvd.nist.gov/vuln/detail/CVE-2019-11479)

Ops Manager v2.6.2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.2-build.159*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.60*</td></tr><tr><td>BBR SDK</td><td>1.15.1</td></tr><tr><td>BOSH Director</td><td>269.0.3</td></tr><tr><td>BOSH DNS</td><td>1.11.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.2</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.1</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-6-1"></a> 2.6.1

* **[Security Fix]** This patch addresses [CVE-2019-11477](https://nvd.nist.gov/vuln/detail/CVE-2019-11477) and [CVE-2019-11478](https://nvd.nist.gov/vuln/detail/CVE-2019-11478)
* **[Feature]** Ops Manager now passes **Trusted Certificates** from the **Security** pane to the `uaa.ca_certs` property of UAA to avoid failures in the pre-start script run by UAA.
* **[Bug Fix]** Non-configurable collection record properties do not require configuration in the UI or API
* **[Bug Fix]** ops-manifest does not break if a RSA certificate is passed as a property value
* **[Bug Fix]** vSphere verifier does not fail if all the fields are blank

Ops Manager v2.6.1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.1-build.156*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.45*</td></tr><tr><td>BBR SDK</td><td>1.15.1</td></tr><tr><td>BOSH Director</td><td>269.0.3*</td></tr><tr><td>BOSH DNS</td><td>1.11.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20*</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.1*</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.2*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.1*</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>

### <a id="2-6-0"></a> 2.6.0

Ops Manager v2.6.0 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.6.0-build.138*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.34*</td></tr><tr><td>BBR SDK</td><td>1.15.1</td></tr><tr><td>BOSH Director</td><td>269.0.2*</td></tr><tr><td>BOSH DNS</td><td>1.11.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>71.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.0*</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.1</td></tr><tr><td>BOSH CLI</td><td>5.5.1*</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>

    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>

  </tbody>
</table>


## <a id='major-features'></a> New Features in Ops Manager <%= vars.v_major_version %>

Ops Manager <%= vars.v_major_version %> includes the following major features:

### <a id="multiple-stemcell"></a> Ops Manager Supports Multiple Stemcells for Products

<p class="note breaking"><strong>Breaking Changes:</strong> There are breaking changes for API users related to this feature. For more information, see <a href="./breaking-changes.html#opsman">PCF Ops Manager</a> in <em>PCF v2.6 Breaking Changes</em>.</p>

Ops Manager supports products that require multiple stemcells. This means it is no longer necessary to deploy separate tiles for products that require different stemcells.

The following features and API endpoints enable support for products with multiple stemcells:

* The **Review Pending Changes** page includes the OS and version number of all stemcells associated with each product. The **Review Pending Changes** page also displays a message that indicates when a new stemcell is added to a product.

* The **Stemcell Library** includes a dropdown for each additional required stemcell. You can use this dropdown to add multiple stemcells to each product. The **Stemcell Library** also displays the OS and version number of the stemcells associated with each deployed and staged product.

* You can assign one or more stemcells to a product with the multi-stemcell API, `PATCH /api/v0/stemcells_associations`. `GET /api/v0/stemcells_associations` returns information on all stemcells assigned to products in your deployment.

* The `added_products` property of the `/api/v0/diagnostic_report` endpoint returns the filename, OS, and version number of all stemcells associated with each product in your deployment.

* For products with multiple stemcells, you can view available stemcell updates using the Pivotal Network integration sidebar or the  `pivotal_network/stemcell_updates` API endpoint.

For more information about the API endpoints that enable support for products with multiple stemcells, see the [Ops Manager API documentation](https://docs.pivotal.io/pivotalcf/2-6/opsman-api/).

For more information about using multiple stemcells as a tile developer, see [Support for Multiple Stemcells](https://docs.pivotal.io/tiledev/2-6/release-notes.html) in the _PCF v2.6 Partners Release Notes_.

### <a id="folder-names"></a> vSphere Operators Can Use Whitespace in Folder Names

vSphere's vCenter allows you to designate folder names with multiple words separated by spaces. That ability is reflected in Ops Manager. You can specify folder names in vCenter using spaces between words and Ops Manager will accept them as valid.

For an example of folder names with spaces, see [Using the Cisco Nexus 1000v Switch with Ops Manager](http://docs.pivotal.io/pivotalcf/2-6/customizing/nexus-switch.html).

### <a id="vsphere-properties"></a> Tile Developers Can Implement a Form Verifier to Confirm vSphere Properties

An operator configuring a product tile on a vSphere deployment must configure vSphere properties. Incorrect configuration can cause deployment failures, and can be difficult to troubleshoot effectively. An optional form verifier is available that notifies tile operators when they have configured vSphere properties incorrectly.

For more information about this form verifier, see the [*install\_time\_verifiers*](https://docs.pivotal.io/tiledev/2-6/property-template-references.html#top-verifier) section in *Property and Template References* in the tile developer documentation.

### <a id="blobstore-backups"></a> Added Strategies for Backing Up BOSH Blobstore to S3

The BOSH Director tile > **Director Config** pane supports multiple strategies for backing up the BOSH Director blobstore to external S3 buckets:

* **S3 with versioning**: Back up to prior version of blobstore bucket.
* **S3 without versioning**: Back up to S3 bucket dedicated to blobstore backup.

See the _Director Config Page_ section of the _Configuring BOSH Director_ topic for your IaaS, which you can navigate to from the [IaaS-Specific Deployment Guidelines](https://docs.pivotal.io/pivotalcf/2-6/customizing/deploy-bosh-om.html#contents) section of the _Deploying BOSH and Ops Manager_ topic.

### <a id="pre-deploy-check-endpoint"></a> API Endpoint Returns Deployment Configuration Details

The `/api/v0/staged/products/:product_guid/pre_deploy_check` Ops Manager API endpoint now validates for
missing configurations. The endpoint performs a dry run of Apply Changes verifiers and reports any failures that might
occur when triggering Apply Changes. This endpoint allows operators to discover which configurations
need attention without having to manually search the Ops Manager UI or wait for Apply Changes to fail.

For example, you can check whether a product has not been assigned a stemcell, network, or availability zone.
You can also check exactly which properties are invalid and which `install_time` verifiers might fail.

For more information, see [Running a pre-deploy check for the staged BOSH Director](https://docs.pivotal.io/pivotalcf/2-6/opsman-api/#running-a-pre-deploy-check-for-the-staged-bosh-director) in the Ops Manager API documentation.

### <a id='monitor-port'></a> Operators Can Specify a Monitor Port When Defining an NSX Load Balancer

The Ops Manager API allows you to specify a monitor port when defining an NSX load balancer with the `monitor_port` parameter. This means the monitor port value does not default to the same value as the traffic port.

For more information, see [Configuring resources for a job (Experimental)](http://docs.pivotal.io/pivotalcf/2-4/opsman-api/#configuring-resources-for-a-job-experimental) in the Ops Manager API documentation.

### <a id='port-optional'></a> Operators Not Required to Specify a Port for NSX Load Balancers

The Ops Manager API no longer requires you to specify a port for NSX load balancers. When a port is not specified, the TCP router relies on a default port that is specified by other components in the system.

This feature helps to support NSX load balancer compatibility with Gorouter, which requires a monitor port of `8080` and a traffic port of `80`.

For more information, see [Configuring resources for a job (Experimental)](http://docs.pivotal.io/pivotalcf/2-6/opsman-api/#configuring-resources-for-a-job-experimental) in the Ops Manager API documentation.

### <a id='automatic-ca'></a> Fresh Installations of Ops Manager Create New Default Certificate Authority in CredHub

When installing Ops Manager v2.6, Ops Manager creates a new default certificate authority (CA) in the BOSH Director CredHub under `/services/tls_ca`. This CA can generate TLS certificates.

When upgrading to Ops Manager v2.6 from Ops Manager v2.5, any CA that already exists does not get overwritten.

For more information about certificates and certificate authorities, see [Certificates and TLS in PCF](https://docs.pivotal.io/pivotalcf/2-6/security/pcf-infrastructure/certificates-index.html).

### <a id='changelog'></a> Improved Change Log Page

The Ops Manager Change Log page has an improved UI, with deployment status and build times listed individually for each product, as well as for the deployment as a whole.

For more information, see the [Change Log Page](http://docs.pivotal.io/pivotalcf/2-6/customizing/pcf-interface.html#changelog) section in the _Using the Ops Manager Interface_ topic.

### <a id='deploy-times'></a> Product Deployment Times from API and Change Log Page

Ops Manager publishes deployment times for individual products and whole deployments.

The Ops Manager API returns `started_at` and `finished_at` timestamps from its `/api/v0/installations` endpoint.

The Ops Manager UI **Change Log** page publishes these start and end timestamps, and durations calculated from them. For more information about viewing start and end timestamps on the **Change Log** page, see [Improved Change Log Page](#changelog).

### <a id='syslog-template'></a> Ops Manager Syslog Template Available for Service Broker Tiles

Tile developers can use the Ops Manager Syslog template form for their service broker tiles. The template makes tile users’ experience more consistent and secure. Tile developers can apply the Syslog template using the `opsmanager_syslog` key in their tile’s `metadata.yml` file.

For more information about the Syslog template, see [Syslog Form Template Available for Tile Authors](https://docs.pivotal.io/pivotalcf/2-4/pcf-release-notes/opsmanager-rn.html#syslog).

### <a id='aws-regions'></a> Ops Manager Adds Support for All AWS Regions

The Ops Manager **AWS Config** pane includes an open text field for AWS region. This field allows you to input any AWS region when configuring BOSH Director on AWS.

For more information about adding an AWS region in Ops Manager, see [Step 2: AWS Config Page](https://docs.pivotal.io/pivotalcf/2-6/om/aws/config-terraform.html#aws-config).

### <a id='5th-gen-instances'></a> AWS Deployments Use 5th Generation Instances

Ops Manager v2.6 uses the latest generation of instances for AWS deployments. When you upgrade to Ops Manager v2.6, your VM types convert to the corresponding 5th generation instance types, such as `t2` to `t3` and `c4` to `c5`.

If you are using a custom instance type catalog, your VM types that are used and available do not change.

These instance types are supported by Xenial stemcells and Trusty stemcell 3586 and later. Stemcells earlier than Trusty stemcell 3586 fail to boot Ops Manager.

For more information about AWS instance types, see [Amazon EC2 Instance Types](https://aws.amazon.com/ec2/instance-types/) in the AWS documentation.

### <a id='compiled-bosh-release'></a> Compiled Release Assets Included in BOSH Deployment Manifest

Ops Manager now automatically includes the `exported_from` field in the `releases` section of the BOSH deployment manifest file.
The `exported_from` field contains the compiled release assets for the deployment and prevents BOSH from
updating every VM with later versions of packages during a BOSH deployment.
This saves time and reduces unexpected VM updates.

For example, the `exported_from` field in the following manifest file specifies that the deployment
uses the packages from the release compiled against version `250.4` of `ubuntu-xenial`:

```
releases:
- name: bpm
  url: https://s3.amazonaws.com/bosh-compiled-release-tarballs/bpm-0.12.3-ubuntu-xenial-250.4.tgz
  version: 0.12.3
  exported_from:
  - os: ubuntu-xenial
    version: 250.4
```

For more information about using the `exported_from` field, see [Locking Compiled Releases](https://bosh.io/docs/locking-compiled-releases/) in the BOSH documentation.

### <a id="api-improvements"></a> Other Ops Manager API Improvements

In addition to features described above, the Ops Manager v2.6 API also includes the following changes:

- Operators can override the NATS maximum payload. Deployments with a large number of custom domains may use certificates that are larger than the default 1 MB NATS payload size. As a workaround, operators can override the default maximum. For more information, see [Updating director and Iaas properties (Experimental)](http://docs.pivotal.io/pivotalcf/2-6/opsman-api/#updating-director-and-iaas-properties-experimental) in the Ops Manager API documentation.

- When a request to `POST /api/v0/installations` fails to trigger Apply Changes, the response contains more details about which products are not fully configured. For more information, see [Triggering an installation](http://docs.pivotal.io/pivotalcf/2-6/opsman-api/#triggering-an-installation) in the Ops Manager API documentation.


## <a id='known-issues'></a> Known Issues

This release contains the following known issues:

### <a id="service-broker"></a> Ops Manager Syslog Template Is Not Supported for Service Broker Tiles

Ops Manager syslog template does not propagate to service broker tiles.
Tile developers with service broker tiles should continue to use their own syslog configurations.
Service broker tiles with the syslog template configured do not display the syslog template.

For more information about the Syslog template, see
[Syslog Form Template Available for Tile Authors](https://docs.pivotal.io/tiledev/2-4/release-notes.html#syslog).

### <a id="bad-link-failed-install"></a> Incorrect Link for Failed Installations in Ops Manager UI

When an installation fails, the Ops Manager UI presents a hyperlink to the installation log in the pop-up window.
This link is currently non-functional.

To work around this issue, click on **Change Log** in the Ops Manager Installation Dashboard to view product installation logs.

### <a id="credhub-db-migration-failure"></a> CredHub Database Migration Failure

When the CredHub database fails to migrate with a `Flyway` exception, it may be caused by an issue with the `flyway_schema_history` table.

For information on how to address the issue, see [Database Migration Failure](https://github.com/pivotal-cf/credhub-release/blob/master/docs/known-issues.md#database-migration-failure) in GitHub.
