---
title: PCF Ops Manager v2.8 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-8/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager <%= vars.v_major_version %>.


## <a id='releases'></a> Releases

### <a id="2-8-0-alpha-2"></a> 2.8.0 Alpha 2

* **[Feature]** Operators can use NSX-T with Principal Identity certificate authentication
* **[Feature]** `zero_if` optionally lets operators choose an instance count of `0`
* **[Feature]** Tile authors can add optional dependencies to a tile. The existing top-level key `requires_product_versions` has an `optional` key for each listed product.
* **[Feature]** Provides new accessors for Telemetry: IaaS type and Director GUID
* **[Feature]** Tile authors can define an install time verifier to run a HTTP/s request
* **[Feature]** Updates BOSH DNS runtime config and example runtime config to have properties at the job level instead of the addon level. This is a requirement of the newer BOSH version used by Ops Manager. Other product that use runtime configs must update as well.
* **[Feature]**  Begins consuming credhub-release from the Pivotal CredHub LTS repo to ensure users will be able to consume patches
* **[Feature]** The Telemetry tile is available in the sidebar by default 
**[Feature]** Operators can visually distinguish the required and optional dependencies of a given product on the _Review Pending Changes_ page
* **[Feature]** API shows which dependencies are optional and their status
* **[Feature]** Tile authors can declare default values based on optional dependencies to shape the default configuration of products
* **[Bug Fix]** Ops Manager API shows deployed certificates when only the BOSH Director has been deployed
 
Ops Manager v2.8.0 Alpha 2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.0-build.118*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.30*</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.7.0*</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>1.0.0</td></tr><tr><td>CredHub</td><td>2.5.6</td></tr><tr><td>Syslog</td><td>11.5.0*</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.0*</td></tr><tr><td>BPM</td><td>1.1.4*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>78*</td></tr><tr><td>Azure CPI</td><td>37.0.0*</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.1</td></tr><tr><td>BOSH CLI</td><td>6.1.0</td></tr><tr><td>Credhub CLI</td><td>2.6.0*</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-8-0-alpha-1"></a> 2.8.0 Alpha 1

* **[Feature]** Bulk Rotation of Certificates in CredHub. 
	* The Ops Manager API for rotating certificate authorities and leaf certificates now also rotates certificate authorities and leaf certificates stored in CredHub. For more information about rotating certificates using the Ops Manager API, see [Rotating Certificates](https://docs.pivotal.io/platform/2-7/security/pcf-infrastructure/api-cert-rotation.html).
* **[Feature]** Tile developers can specify static values for verifier properties. 
	* The properties of a form or install time verifier can now be specified as a static value, in addition to being a reference to a tile or job property.
* **[Feature]** Tile developers can implement an install time HTTP verifier
	* There may be conditions that a tile developer deems it unsafe for an operator to start a deployment. A new install time verifier is available that can make requests to a specified HTTP endpoint, and prevents the deployment if the response is not successful. Tile developers can also specify that the verifier should only run on major or minor upgrades. 
* **[Feature]** Removes tracking and verification of the BOSH DNS CA, as this responsibility is now handled by maestro. Specifically, this update removes the following:
	* The `deployed_product_certificate_versions` table in the Ops Manager database
	* The `CertificateRotationVerifier` verifier 
* **[Feature]** Operators can back up the Director UAA database with BBR
* **[Feature]** Tile authors can add optional dependencies to a tile using the `optional` key under `requires_product_versions`
* **[Feature]** Tile authors can check if an optional dependency is present using the `.present?` accessor  
* **[Feature]** Upgrades to maestro v3
* **[Feature]** Upgrades to Node v12
* **[Feature]** Upgrades to Capybara v3.28.0

Ops Manager v2.8.0 Alpha 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.8.0-build.71</td>
  </tr>
  <tr><td>Stemcell</td><td>456.27</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.5.0</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>1.0.0</td></tr><tr><td>CredHub</td><td>2.5.6</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.1.0</td></tr><tr><td>BPM</td><td>1.1.3</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>77</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53.0.1</td></tr><tr><td>BOSH CLI</td><td>6.1.0</td></tr><tr><td>Credhub CLI</td><td>2.5.3</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr>
  
  </tbody>
</table>



## <a id='major-features'></a> New Features in Ops Manager <%= vars.v_major_version %>

Ops Manager <%= vars.v_major_version %> includes the following major features:

### <a id='om-api-rotate-credhub-certs'></a> Ops Manager API Rotates CredHub Certificates and Certificate Authorities

<p class="note warning"><strong>Warning:</strong> This feature causes a breaking change. For more information, see <a href="./breaking-changes.html#credhub-generated-field">Reset Manually Set Certificates in CredHub Before Upgrade</a>.</p>

When you rotate certificate authorities and leaf certificates using the `certificate_authorities/active/regenerate` Ops Manager API endpoint, the API includes certificate authorities and leaf certificates stored in CredHub.

For more information about rotating certificates using the Ops Manager API, see [Rotating Certificates](https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/api-cert-rotation.html). For more information about the `certificate_authorities/active/regenerate` endpoint, see [Rotate Certificates](https://docs.pivotal.io/pivotalcf/2-2/opsman-api/#create-root-certificate-authorities) in the Ops Manager API documentation.

### <a id='maestro-rotate-ca'></a> Maestro Rotates BOSH DNS Certificate Authorities

Maestro rotates BOSH DNS CAs and runs safety checks.

Maestro is a service for configuring and managing the infrastructure that serves and supports containerized apps. For more information about Maestro, see the [Maestro documentation](https://maestro.readthedocs.io/en/latest/overview.html).

### <a id='opsman-metrics'></a> System Metrics Agents in Ops Manager Runtime Config

Before Ops Manager v2.8 and Pivotal Application Service (PAS) v2.8, an agent on each PAS VM emitted system metrics for its memory, disk, CPU, network, load, and swap space status and usage.

In Ops Manager v2.8, this agent is in the Ops Manager runtime config, which installs it on all Pivotal Platform VMs, not just PAS components.
This enables Healthwatch and App Metrics to consume metrics from PAS VMs, PKS VMs, and any other VMs deployed by Ops Manager.

See a list of VM system metrics in the [`system-metrics-release`](https://github.com/cloudfoundry/system-metrics-release/blob/develop/docs/system-metrics-agent.md#vm-metrics) repo.


## <a id='known-issues'></a> Known Issues

* Known issues to come as features and dependencies are implemented in <%= vars.v_major_version %> release candidates.

