---
title: Pivotal Operations Manager v2.9 Release Notes
owner: Ops Manager
---

This topic contains release notes for <%= vars.ops_manager_full %> <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id='2-9-alpha'></a> 2.9.0 Alpha 1

* **[Feature]** Operators can view and update internal authentication settings by using the <%= vars.ops_manager %> `/api/v0/settings/authentication` API endpoint or by accessing the **Settings** pane of the <%= vars.ops_manager %> UI.
* **[Feature]** Operators can update the <%= vars.ops_manager %> decryption passphrase by using the <%= vars.ops_manager %> `/api/v0/settings/decryption-passphrase` API endpoint.
* **[Feature]** Operators can view and update proxy settings in <%= vars.ops_manager %> by using the <%= vars.ops_manager %> `/api/v0/settings/proxy_settings` API endpoint.
* **[Feature]** When in Advanced Mode, operators can update additional fields related to blobstore location, Luna HSM, GCS blobstore and S3 blobstore settings in the **Director Config** screen after deploying the BOSH Director. Previously the fields were frozen after deployment.
* **[Feature]** <%= vars.ops_manager %> supports domain-style URLs as the default for configuring AWS S3 compatible blobstores.
* **[Feature]** <%= vars.ops_manager %> API documentation now follows the OpenAPI Specification (OAS). This update provides operators with a machine-parsable version of the <%= vars.ops_manager %> API docs and improves general formatting.
* **[UI Improvement]** When in Advanced Mode, operators see a special banner in the <%= vars.ops_manager %> UI.

<%= vars.ops_manager %> <%= vars.v_major_version %>.0 Alpha 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.9.0-build.59</td>
  </tr>
  <tr><td>Stemcell</td><td>621.50</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.11.0</td></tr><tr><td>BOSH DNS</td><td>1.17.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.10</td></tr><tr><td>CredHub</td><td>2.5.9</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.13.0</td></tr><tr><td>BPM</td><td>1.1.6</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>80</td></tr><tr><td>Azure CPI</td><td>37.0.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>53.0.5</td></tr><tr><td>BOSH CLI</td><td>6.2.0</td></tr><tr><td>Credhub CLI</td><td>2.6.2</td></tr><tr><td>BBR CLI</td><td>1.5.2</td></tr><tr><td>Telemetry</td><td>1.0.0</td></tr>

  </tbody>
</table>


## <a id='how-to-upgrade'></a> How to Upgrade

[Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html) contains instructions for upgrading to <%= vars.ops_manager_full %> <%= vars.v_major_version %>.


## <a id='major-features'></a> New Features in <%= vars.ops_manager %> <%= vars.v_major_version %>

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following major features:

### <a id='om-api-rotate-credhub-certs'></a> <%= vars.ops_manager %> API Rotates CredHub Certificates and Certificate Authorities

When you rotate certificate authorities and leaf certificates using the `certificate_authorities/active/regenerate` <%= vars.ops_manager %> API endpoint, the API includes certificate authorities and leaf certificates stored in CredHub.

<p class="note"><strong>Note:</strong> <%= vars.ops_manager %> does not rotate the CredHub certificates for MySQL for <%= vars.platform_name %> and Pivotal CloudCache services.</p>

For more information about rotating certificates using the <%= vars.ops_manager %> API, see [Rotating Certificates](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/api-cert-rotation.html). For more information about the `certificate_authorities/active/regenerate` endpoint, see [Rotate Certificates](https://docs.pivotal.io/pivotalcf/2-9/opsman-api/#create-root-certificate-authorities) in the <%= vars.ops_manager %> API documentation.

### <a id='authentication-update'></a> View and Update <%= vars.ops_manager %> Internal Authentication Settings

Operators can view and update the current internal authentication settings through the <%= vars.ops_manager %> UI and API. 

To view and update authentication settings through the <%= vars.ops_manager %> UI:

1. Go to the <%= vars.ops_manager %> **Settings** pane and click **Internal Authentication Settings**. 

1. Edit the current settings and then click **Update**. 

For more information about accessing the **Settings** pane, see [Setting Page](https://docs.pivotal.io/platform/ops-manager/2-9/pcf-interface.html#settings) in _Using the <%= vars.ops_manager %> Interface_.

To view and update authentication settings through the <%= vars.ops_manager %> API, you can send a valid JSON object to the `/api/v0/settings/authentication` endpoint. 

### <a id='advanced-mode-banner'></a> Advanced Mode UI Banner

<%= vars.ops_manager %> displays a banner in the UI when you are in Advanced Mode. This helps you understand when you are in Advanced Mode. It also helps ensure that you remember to exit Advanced Mode.

For more information about how to enable Advanced Mode in <%= vars.ops_manager %>, see [How to Enable Advanced Mode in the <%= vars.ops_manager %>](https://community.pivotal.io/s/article/How-to-Enable-Advanced-Mode-in-the-Ops-Manager) in the Pivotal Knowledge Base.

### <a id='advanced-mode-fields'></a> Modifications to Unlockable Fields

<%= vars.ops_manager %> <%= vars.v_major_version %> changes which fields 
are unlockable after you apply changes and deploy the BOSH Director. 

In the **Director Config** pane, you can now unlock:

* **Blobstore Location**
* Under **S3 Compatible Blobstore**:
    * **S3 Endpoint**
    * **S3 Bucket Name**
    * Under **S3 Signature Version**
        * **S3 Signature Version**
        * Under **V4 Signature**
            * **Region**
    * Under **S3 Backup Strategy**:
        * Under **Copy into an additional bucket**:
            * **Backup Bucket Region**
            * **Backup Bucket Name**
* Under **GCS Blobstore**:
    * **Bucket Name**
    * **Storage Class**
    * **Service Account Key**

You can no longer unlock:

* In the **CredHub Encryption Provider** section:
    * **Encryption Key Name**
    * **Provider Partition**

For unlockable fields, you can also modify the values of these settings by using the `api/v0/staged/director/properties` <%= vars.ops_manager %> API endpoint.

To unlock these fields or properties in the UI or by API, you must use <%= vars.ops_manager %>'s Advanced Mode.

For more information about fields that can be unlocked in Advanced Mode, see the [Unlockable Fields](https://docs.pivotal.io/platform/2-9/customizing/lock-on-deploy.html#unlock) section in _<%= vars.ops_manager %> Fields That Lock On Deploy_.

### <a id='domain-style'></a> Support for Virtual-Hosted-Style URLs for AWS S3 Blobstores

<%= vars.ops_manager %> supports virtual-hosted-style, or domain-style, URLs for AWS S3-compatible blobstores. This allows you to use virtual-hosted-style URLs for S3-compatible blobstores before AWS ends support for path-style URLs after September 30, 2020.

For more information about the end of support for path-style S3 bucket URLs, see [Amazon S3 Path Deprecation Plan – The Rest of the Story](https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/) in the AWS News Blog.

You can specify either path-style or domain-style URLs for S3-compatible blobstores in the **S3 URLs Style** dropdown in the Ops Manager **Director Config** pane. 

If you used S3-compatible blobstores on <%= vars.platform_name %> v2.8, Ops Manager specifies path-style URLs for the blobstores <%= vars.platform_name %> v2.9 by default. This helps ensure compatibility on upgrade to <%= vars.platform_name %> v2.9.

To specify domain-style URLs for an S3-compatible blobstore:

1. Go to the <%= vars.ops_manager %> **Director Config** pane.

1. For **Blobstore Location**, select **S3 Compatible Blobstore**.

1. For the **S3 URLs Style** dropdown, select domain-style URL.

For more information about the difference between path-style and virtual-hosted-style URLs, see [Virtual Hosting of Buckets](https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html) in the AWS documentation.

### <a id='open-api-spec-docs'></a> <%= vars.ops_manager %> API Documentation Uses the Open API Specification

In <%= vars.ops_manager %> <%= vars.v_major_version %>, <%= vars.ops_manager %> API documentation adopts the Open API Specification (OAS). In addition to general format improvements, this update provides operators with a machine-parsable version of the <%= vars.ops_manager %> API docs.

For more information about OAS, see the [OpenAPI Specification](https://github.com/OAI/OpenAPI-Specification) repository on GitHub.

### <a id='credhub-keys'></a> Ops Manager Enforces Persistent Active CredHub Encryption Key

Ops Manager places extra safeguards around the `/api/v0/staged/director/properties` endpoint to ensure that you cannot accidentally delete active CredHub encryption keys through the Ops Manager API:

* You must always have an active key.
* You cannot remove keys that are currently active. You can only remove keys after they have been deactivated.

To delete an active CredHub key, you must first deactivate it and activate a new or existing key.

For more information, see [Delete Key](https://docs.pivotal.io/platform/2-9/customizing/hsm-config.html#delete-key) in _Preparing CredHub HSMs for Configuration_.


## <a id='known-issues'></a> Known Issues

* Known issues to come as features and dependencies are implemented in <%= vars.v_major_version %> release candidates.
