---
title: PCF Ops Manager v2.7 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-7/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager <%= vars.v_major_version %>.

## <a id='releases'></a> Releases

### <a id="alpha-2"></a> 2.7 Alpha 2

* **[Breaking Change]** Non-configurable properties within a collection / selector are no longer configurable through API.
* **[Feature]** The **Resource Config** pane in Ops Manager has been redesigned. 
* **[Feature]** `audit_log.txt` now includes the request body.
* **[Feature]** Ops Manager stores and exposes when UAA clients **Apply Changes** through API.
* **[Feature]** The **credhub.certificates.concatenate_cas** property is set to `true` to enable future rotation using maestro.
* **[Bug Fix]** Ops Manager logs requests that result in a 500 error to `audit_log.txt`.
* **[Bug Fix]** Fix alignment issues on Unlock Account and Ensure Availability pages.  


Ops Manager v2.7 Alpha 2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.0-build.83*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.64*</td></tr><tr><td>BBR SDK</td><td>1.15.1</td></tr><tr><td>BOSH Director</td><td>270.2.0*</td></tr><tr><td>BOSH DNS</td><td>1.12.0*</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>72.0</td></tr><tr><td>BPM</td><td>1.1.0*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0*</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.1*</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43*</td></tr><tr><td>vSphere CPI</td><td>53*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2*</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="alpha-1"></a> 2.7 Alpha 1

* **[New Feature]**: Operators can back up an external GCS blobstore for BOSH Director
* **[Bug Fix]**: Setting an instance count of a job to `0` removes the need to upload and assign the stemcell
* **[Bug Fix]**: Tile upload fails when `use_stemcell` refers to and undeclared stemcell OS

Ops Manager v2.7 Alpha 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.0-build.29</td>
  </tr>
  <tr><td>Stemcell</td><td>315.26</td></tr><tr><td>BBR SDK</td><td>1.15.1</td></tr><tr><td>BOSH Director</td><td>269.0.2</td></tr><tr><td>BOSH DNS</td><td>1.11.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>72.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.1</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
  
  </tbody>
</table>


## <a id='major-features'></a> New Features in Ops Manager <%= vars.v_major_version %>

Ops Manager <%= vars.v_major_version %> includes the following major features:

## <a id='known-issues'></a> Known Issues

* Known issues to come as features and dependencies are implemented in <%= vars.v_major_version %> release candidates.

