---
title: Pivotal Operations Manager v2.10 Release Notes
owner: Ops Manager
---

This topic contains release notes for <%= vars.ops_manager_full %> <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases



## <a id='how-to-upgrade'></a> How to Upgrade

To upgrade to <%= vars.ops_manager_full %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).


## <a id='major-features'></a> New Features in <%= vars.ops_manager %> <%= vars.v_major_version %>

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following major features:


## <a id='known-issues'></a> Known Issues

* Known issues to come as features and dependencies are implemented in <%= vars.ops_manager %> <%= vars.v_major_version %> release candidates.