---
title: PCF Ops Manager v2.7 Release Notes
owner: Ops Manager
---

Pivotal Cloud Foundry is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Cloud Foundry](http://docs.pivotal.io/pivotalcf/2-7/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Cloud Foundry (PCF) Ops Manager <%= vars.v_major_version %>.

## <a id='releases'></a> Releases

### <a id="beta-1"></a> 2.7 Beta 1

* **[Feature]** You can download a ZIP file containing various diagnostic files using the Ops Manager API or UI. For more information, see [Support Bundle](https://docs.pivotal.io/pivotalcf/2-7/opsman-api/#support-bundle) in the Ops Manager API documentation. To access the support bundle using the UI, click **Support** in the footer of Ops Manager. New API endpoints for diagnostics, Ops Manager logs, and apply changes logs support this feature. 
* **[Feature]** You can see all Ops Manager root and NATS certificate authorities (CAs) in the deployed certificates endpoint. For more information, see [Listing the Root Certificate Authorities](https://docs.pivotal.io/pivotalcf/2-7/opsman-api/#listing-the-root-certificate-authorities) in the Ops Manager API documentation.
* **[Feature]** Ops Manager sanitizes new line characters in certificates in a consistent way so that VMs are not recreated unnecessarily when certificates are submitted within the UI or the API.
* **[Features]** When an input value violate constraints for jobs configured on the **Resource Config**
pane, Ops Manager highlights the associated `Instances`, `VM types`, and `Persistent Disk Types`
fields and displays an explanatory error messages about the violation.

Ops Manager v2.7 Beta 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.0-build.127*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.1</td></tr><tr><td>BBR SDK</td><td>1.16.0*</td></tr><tr><td>BOSH Director</td><td>270.4.0</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.5.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.1</td></tr><tr><td>BPM</td><td>1.1.0</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="alpha-3"></a> 2.7 Alpha 3

* **[Feature]** Ops Managers now verifies cron expressions for tiles that require them for scheduling backups. See [Valid cron Input Verification](#cron) below.
* **[Feature]** For vSphere users, NSX-V and NSX-T are now configurable in the the **Resource Config** pane of the BOSH Director tile. Properties for NSX-V are: Security groups and lbs. Properties for NSX-T are: ns groups, vif type, and lb.
* **[Feature]** The Ops Manager **Resource Config** UI has improved error handling. When there is an error, Ops Manager displays both a banner and an error message next to the field containing the error. 
* **[Feature]** The `/api/v0/deployed/certificates` now displays the Ops Manager root and NATS CAs 
* **[Feature]** This alpha release features additional changes from the redesign of the **Resource Config** pane. 
* **[Feature]** As part of the redesign of the **Resource Config** pane, the **Load Balancer** and **Internet Connected** fields are now under a dropdown menu.
* **[Feature]** On OpenStack, operators can assign floating IP addresses to Ops Manager jobs.
* **[Feature]** Users can now see all CredHub managed certificates from `/api/v0/deployed/certificates`
* **[Breaking Change]** CredHub managed certificates returned from `/api/v0/deployed/certificates` do not contain the `valid_from` and `issuer` fields. 



Ops Manager v2.7 Alpha 3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.0-build.112*</td>
  </tr>
  <tr><td>Stemcell</td><td>456.1*</td></tr><tr><td>BBR SDK</td><td>1.15.1</td></tr><tr><td>BOSH Director</td><td>270.4.0*</td></tr><tr><td>BOSH DNS</td><td>1.12.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.5.0*</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>73.4.1*</td></tr><tr><td>BPM</td><td>1.1.0</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.1</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43</td></tr><tr><td>vSphere CPI</td><td>53</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>



### <a id="alpha-2"></a> 2.7 Alpha 2

* **[Breaking Change]** Non-configurable properties within a collection / selector are no longer configurable through API.
* **[Feature]** The **Resource Config** pane in Ops Manager has been redesigned. 
* **[Feature]** `audit_log.txt` now includes the request body.
* **[Feature]** Ops Manager stores and exposes when UAA clients **Apply Changes** through API.
* **[Feature]** The **credhub.certificates.concatenate_cas** property is set to `true` to enable future rotation using maestro.
* **[Bug Fix]** Ops Manager logs requests that result in a 500 error to `audit_log.txt`.
* **[Bug Fix]** Fix alignment issues on Unlock Account and Ensure Availability pages.  


Ops Manager v2.7 Alpha 2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.0-build.83*</td>
  </tr>
  <tr><td>Stemcell</td><td>315.64*</td></tr><tr><td>BBR SDK</td><td>1.15.1</td></tr><tr><td>BOSH Director</td><td>270.2.0*</td></tr><tr><td>BOSH DNS</td><td>1.12.0*</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>72.0</td></tr><tr><td>BPM</td><td>1.1.0*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0*</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.1*</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>43*</td></tr><tr><td>vSphere CPI</td><td>53*</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.5.2*</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="alpha-1"></a> 2.7 Alpha 1

* **[New Feature]**: Operators can back up an external GCS blobstore for BOSH Director
* **[Bug Fix]**: Setting an instance count of a job to `0` removes the need to upload and assign the stemcell
* **[Bug Fix]**: Tile upload fails when `use_stemcell` refers to and undeclared stemcell OS

Ops Manager v2.7 Alpha 1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.7.0-build.29</td>
  </tr>
  <tr><td>Stemcell</td><td>315.26</td></tr><tr><td>BBR SDK</td><td>1.15.1</td></tr><tr><td>BOSH Director</td><td>269.0.2</td></tr><tr><td>BOSH DNS</td><td>1.11.0</td></tr><tr><td>Metrics Server</td><td>0.0.22</td></tr><tr><td>CredHub</td><td>2.4.0</td></tr><tr><td>Syslog</td><td>11.4.0</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>72.0</td></tr><tr><td>BPM</td><td>1.0.4</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>20.0.0</td></tr><tr><td>AWS CPI</td><td>75</td></tr><tr><td>Azure CPI</td><td>36.0.0</td></tr><tr><td>Google CPI</td><td>29.0.1</td></tr><tr><td>OpenStack CPI</td><td>42</td></tr><tr><td>vSphere CPI</td><td>52.1.1</td></tr><tr><td>BOSH CLI</td><td>5.5.1</td></tr><tr><td>Credhub CLI</td><td>2.4.0</td></tr><tr><td>BBR CLI</td><td>1.5.1</td></tr>
  
  </tbody>
</table>


## <a id='major-features'></a> New Features in Ops Manager <%= vars.v_major_version %>

Ops Manager <%= vars.v_major_version %> includes the following major features:

### <a id='resource-config'></a>Resource Config Redesign

Ops Manager <%= vars.v_major_version %> introduces a redesigned **Resource Config**
pane. The new **Resource Config** pane appears in every Ops Manager product tile,
including the BOSH Director.

In the redesigned **Resource Config** pane, you can expand the row that contains
each job to reveal additional configuration options. The additional options that
you can configure depend on your IaaS. For example, if you use vSphere, you can
configure NSX-T or NSX-V settings within each job row.

The new Ops Manager **Resource Config** pane also has improved error handling. When
there is an error, Ops Manager displays both a banner and an error message next to
the field that contains the error. When a value you enter violates the constraints
of a job, Ops Manager highlights the corresponding **Instances**, **VM Type**, and
**Persistent Disk Type** fields and displays an error message about the violation.

For more information, see the _Resource Config_ section of the BOSH Director configuration topic for your IaaS:

- [Configuring BOSH Director on AWS](https://docs.pivotal.io/pivotalcf/2-7/om/aws/config-manual.html#pcfaws-om-rscestem)
- [Configuring BOSH Director on AWS Using Terraform](https://docs.pivotal.io/pivotalcf/2-7/om/aws/config-terraform.html#pcfaws-om-rscestem)
- [Configuring BOSH Director on Azure Manually](https://docs.pivotal.io/pivotalcf/2-7/om/azure/config-manual.html#resource-config)
- [Configuring BOSH Director on Azure Using Terraform](https://docs.pivotal.io/pivotalcf/2-7/om/azure/config-terraform.html#resource)
- [Configuring BOSH Director on GCP Manually](https://docs.pivotal.io/pivotalcf/2-7/om/gcp/config-manual.html#resource-config)
- [Configuring BOSH Director on GCP Using Terraform](https://docs.pivotal.io/pivotalcf/2-7/om/gcp/config-terraform.html#resource-config)
- [Configuring BOSH Director on OpenStack](https://docs.pivotal.io/pivotalcf/2-7/om/openstack/config.html#resource-config)
- [Configuring BOSH Director on vSphere](https://docs.pivotal.io/pivotalcf/2-7/om/vsphere/config.html#resource-config)

### <a id="cron"></a> Valid cron Input Verification

For `string` type form fields in tiles, Ops Manager supports a `constraints.must_be_cron_schedule` attribute
that verifies whether the input is a valid `cron` expression.
Tiles can use this attribute for fields that schedule backups, for example.
For information about the `string` blueprint type,
see [string](http://docs.pivotal.io/tiledev/property-template-references.html#string).


## <a id='known-issues'></a> Known Issues

* Known issues to come as features and dependencies are implemented in <%= vars.v_major_version %> release candidates.

