---
title: Ops Manager v2.10 Release Notes
owner: Ops Manager
---

<% current_page.data.title = vars.ops_manager_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.ops_manager_full %> <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id="2-10-0"></a> v2.10.0

**Release Date:** July 31, 2020

* See [New Features in <%= vars.ops_manager %> v2.10](#major-features).
* See [Breaking Changes](breaking-changes.html).

<%= vars.ops_manager %> v2.10.0 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.10.0-build.48</td>
  </tr>
  <tr><td>Stemcell</td><td>621.77</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.8.0</td></tr><tr><td>CredHub Maestro</td><td>8.0.1</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.18</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.0.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>54.1.0</td></tr><tr><td>BOSH CLI</td><td>6.3.1</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.1</td></tr>

  </tbody>
</table>


## <a id='how-to-upgrade'></a> How to Upgrade

To upgrade to <%= vars.ops_manager_full %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).


## <a id='major-features'></a> New Features in <%= vars.ops_manager %> <%= vars.v_major_version %>

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following major features:

### <a id='lts'></a> Long-Term Support for Ops Manager v2.10

Ops Manager v2.10 is the long-term supported (LTS) version of Ops Manager. Ops Manager v2.10 will be supported through April 2024.

Over the lifecycle of Ops Manager v2.10, VMware will release security patches that occasionally include feature enhancements and maintenance updates.

The migration period for upgrading to Ops Manager v2.10 is from August 2020 to March 2021. To accommodate this migration and provide customers with additional time to upgrade to Ops Manager v2.10, Ops Manager v2.7 will be supported through March 31, 2021.

For more information about Ops Manager v2.10 LTS, please reach out to your Account Team.

### <a id="bosh-overrides"></a> BOSH Director Manifest Overrides

In Ops Manager v2.10, you can use the `/api/v0/staged/director/overrides`
Ops Manager API endpoint to override properties in the BOSH Director manifest.
With this endpoint, you can only override properties that appear
in the instance groups and networks sections of the manifest.

You must be in Advanced Mode to use this feature.

For more information about this feature,
see [Overriding Manifest Properties in Advanced Mode](https://docs.pivotal.io/platform/ops-manager/2-10/overriding-properties-advanced.html).

For information on the Ops Manager API endpoints related to this feature, see [Advanced Manifest Configuration](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration) in Ops Manager API Documentation.


### <a id="runtime-config-overrides"></a> Override Runtime Config Properties

In Ops Manager v2.10, you can override the runtime config properties for BOSH DNS and System Metrics.

You must be in Advanced Mode to use this feature.

You use the `/api/v0/staged/director/runtime_configs/overrides` endpoint in the runtime configs
to override properties:

<table>
  <tr>
    <th>Runtime Config Names</th>
    <th>Add-on Names</th>
  </tr>
  <tr>
    <td><code>ops_manager_dns_runtime</code></td>
    <td><ul>
      <li><code>bosh_dns</code></li>
      <li><code>bosh_dns_windows</code></li>
    </ul></td>
  </tr>
  <tr>
    <td><code>ops_manager_system_metrics_runtime</code></td>
    <td><ul>
      <li><code>system_metrics_agent</code></li>
      <li><code>system_metrics_agent_windows</code></li>
    </ul></td>
  </tr>
</table>

For example, although you cannot change the log level for the BOSH DNS logs through the Ops Manager UI,
you can change the log level using the <code>/api/v0/staged/director/runtime_configs/overrides</code> endpoint.
Increase the log level to `DEBUG` for more information
or decrease the level for less verbose logs.

For more information, see:

+ [Overriding Manifest Properties in Advanced Mode](https://docs.pivotal.io/platform/ops-manager/2-10/overriding-properties-advanced.html).
+ [BOSH DNS job spec](https://github.com/cloudfoundry/bosh-dns-release/blob/master/jobs/bosh-dns/spec) in GitHub
+ [Provide a new list of runtime config overrides for the BOSH
Director](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration/paths/~1api~1v0~1staged~1director~1runtime_configs~1overrides/get)

### <a id='certs-om-ui'></a> View Certificates in the Ops Manager UI

The Ops Manager UI introduces a new page called **Certificates**. This page displays all the certificates listed by the `/api/v0/deployed/certificates` endpoint, as well as the following details:

* **Certificate name:** The name of the certificate.
* **Product GUID:** The product for which the certificate is issued, such as BOSH or MySQL.
* **Location:** Whether the certificate is stored in Ops Manager or CredHub.
* **Type:** Whether the certificate is a leaf certificate or a certificate authority (CA).
* **Configurable:** Whether the certificate is configurable.
* **Valid until:** The expiration date of the certificate and the number of days before expiration.

For more information, see [Using the Ops Manager Interface](https://docs.pivotal.io/platform/ops-manager/2-10/pcf-interface.html).

### <a id='safety-checks'></a> CredHub Maestro Runs Safety Checks During Certificate Rotation

CredHub Maestro v8.0, which is included in Ops Manager v2.10, performs basic safety checks when rotating certificates to prevent unsafe operations.

The Ops Manager API invokes the CredHub Maestro CLI when rotating certificates. If an Ops Manager API certificate rotation command is out-of-order or unsafe, CredHub Maestro stops the command and returns one or more safety violation errors.

To observe this feature in Ops Manager v2.10 certificate rotation API calls, you must have Pivotal Application Service (PAS) v2.8.2 and later or TAS for VMs v2.9 and later installed, and you must not have any version of Tanzu Kubernetes Grid Integrated Edition (TKGI) installed. If you are using an earlier version of PAS or have any version of TKGI installed, Ops Manager still runs safety checks, but they are not as comprehensive as CredHub Maestro safety checks.

 For more information, see [
Troubleshooting CredHub Maestro Safety Violations During Certificate Rotation](https://docs.pivotal.io/platform/2-10/security/pcf-infrastructure/troubleshoot-cert-errors.html), [Rotating Certificates](https://docs.pivotal.io/platform/2-10/security/pcf-infrastructure/api-cert-rotation.html), and [Advanced Certificate Rotation with CredHub Maestro](https://docs.pivotal.io/platform/2-10/security/pcf-infrastructure/advanced-certificate-rotation.html).

## <a id='known-issues'></a> Known Issues

There are no known issues for this release.
