---
title: Ops Manager v2.9 Release Notes
owner: Ops Manager
---

<% current_page.data.title = vars.ops_manager + " " + vars.v_major_version + " Release Notes" %>

<p class="note"><strong>Note:</strong>
  Pivotal Platform is now part of VMware Tanzu.
  In v2.9 and later, Pivotal Operations Manager is named <%= vars.ops_manager %>.
</p>

This topic contains release notes for <%= vars.ops_manager %> <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

### <a id="2-9-9"></a> v2.9.9

**Release Date:** August 19, 2020

Ops Manager v2.9.9 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.9.9-build.164*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.78</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.24.0*</td></tr><tr><td>Metrics Server</td><td>0.1.0*</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.12</td></tr><tr><td>CredHub Maestro</td><td>6.0.0</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.18</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.0.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.3.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>54.1.0</td></tr><tr><td>BOSH CLI</td><td>6.3.1</td></tr><tr><td>Credhub CLI</td><td>2.8.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.1</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-9-8"></a> v2.9.8

**Release Date:** August 7, 2020

* **[Bug Fix]**: The **Revert Changes** button does not appear when there are no pending changes.

Ops Manager v2.9.8 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.9.8-build.160*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.78*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.12</td></tr><tr><td>CredHub Maestro</td><td>6.0.0</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.18</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.0.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.3.0*</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>54.1.0</td></tr><tr><td>BOSH CLI</td><td>6.3.1</td></tr><tr><td>Credhub CLI</td><td>2.8.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.1</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-9-7"></a> v2.9.7

**Release Date:** July 31, 2020

* **[Bug Fix]:** If you have a tile that is not configured and you apply changes,
  you receive a warning message but changes to other configured tiles are applied.
  In earlier patches, the apply changes failed.
  This only happened on vSphere environments.

* **[Bug Fix]:** For Redis for VMware Tanzu v2.4 and later, certificates can be rotated by CredHub Maestro.

* **[Bug Fix]:** When the **Enable additional System Metrics** checkbox is cleared on the tile UI,
  the `loggr-system-metrics-agent` and `loggr-system-metrics-agent-windows` jobs
  of the `system-metrics` release are removed from the product tile.

* **[Bug Fix]:** For the `hm_emailer_options.recipients` key,
    the `PUT` `/api/v0/staged/director/properties` endpoint accepts the format used by `GET`
    `/api/v0/staged/director/properties` endpoint for this key in addition to the existing format accepted.

* **[Bug Fix]:** Version checks for tile dependencies confirm the major, minor, and patch numbers
  but not build numbers.

Ops Manager v2.9.7 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.9.7-build.157*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.77*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.12</td></tr><tr><td>CredHub Maestro</td><td>6.0.0</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.18*</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.0.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>54.1.0</td></tr><tr><td>BOSH CLI</td><td>6.3.1*</td></tr><tr><td>Credhub CLI</td><td>2.8.0*</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.1*</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-9-6"></a> v2.9.6

**Release Date:** July 1, 2020

* **[Feature]:** Operators can rotate Redis certificates.
* **[Feature]:** Operators can rotate RabbitMQ certificates.
* **[Bug Fix]:** NSX configuration settings are applied to jobs defined in the BOSH Director manifest, including the BOSH Director VM.
* **[Bug Fix]:** BOSH Director can deploy on Openstack environments with multiple regions.
* **[Bug Fix]:** The Ops Manager `/api/v0/staged/director/properties` endpoint returns S3 and GCS blobstore credentials.
* **[Bug Fix]:** `IaasConfigurationVerifier` connects to the correct authentication endpoint on Azure Government environments.

<%= vars.ops_manager %> v2.9.6 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.9.6-build.148*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.76*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.12</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.17</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.0.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>54.1.0</td></tr><tr><td>BOSH CLI</td><td>6.3.0*</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-9-5"></a> v2.9.5

**Release Date:** June 11, 2020

* **[Bug Fix]**: Ops Manager writes to local log file `/var/log/auth.log` whether or not remote syslog sink is configured.
* **[Bug Fix]**: Ops Manager UAA allows spaces and escaped characters in LDAP external group names.
* **[Bug Fix]**: Users can disable the **Enable additional System Metrics** checkbox added in [v2.9.4](#2-9-4).

<%= vars.ops_manager %> v2.9.5 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.9.5-build.144*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.75*</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.12</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.17*</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.0.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>54.1.0*</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-9-4"></a> v2.9.4

**Release Date:** June 4, 2020

* **[Feature]**: Adds an **Enable additional System Metrics** checkbox to the Director Config screen and adds `metrics_server_enabled` and `system_metrics_runtime_enabled` accessors to `$director`. These configurations are used by Tanzu Application Service for VMs (TAS for VMs) deployments.
  <p class="note"><strong>Note</strong>: The checkbox and accessors are currently placeholders and will only be functional with a future release of TAS for VMs.</p> 
* **[Bug Fix]**: Tiles that fail to deploy do not appear twice in the `GET /api/v0/staged/pending_changes` API endpoint output.

<%= vars.ops_manager %> v2.9.4 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.9.4-build.137*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.74</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.12*</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.16</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.0.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>53.0.11</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.0</td></tr>
  
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  
  </tbody>
</table>

### <a id="2-9-3"></a> v2.9.3

**Release Date:** May 22, 2020

<%= vars.ops_manager %> v2.9.3 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.9.3-build.131*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.74</td></tr><tr><td>BBR SDK</td><td>1.18.0</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.16*</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.0.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>53.0.11</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-9-2"></a> v2.9.2

**Release Date:** May 18, 2020

* **[Bug Fix]**: Ensure that the BOSH Director and BOSH Agent use the same keys for S3 Blobstores.
* **[Bug Fix]**: Generate the `UaaConfig.restricted_view_api_access_client_secret` field with a
  restricted UAA client secret upon upgrade if the field was `null` prior to upgrade.
  The Telemetry tile uses this client secret.
* **[Feature Improvement]**: The `GET /api/v0/deployed/certificates` API call returns a list of all the
  products associated with each certificate, including the product GUIDs.

<%= vars.ops_manager %> v2.9.2 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.9.2-build.129*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.74*</td></tr><tr><td>BBR SDK</td><td>1.18.0*</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.21.0*</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.15</td></tr><tr><td>BPM</td><td>1.1.8</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.0.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>53.0.11*</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


### <a id="2-9-1"></a> v2.9.1

**Release Date:** May 4, 2020

* **[Feature]**: Ops Manager and BOSH Director support the Hong Kong region in AWS.
* **[Feature]**: In the Ops Manager UI, the text of the Pivotal Network link is updated to VMware Tanzu Network. 
* **[Bug Fix]**: Fixes issue where rsyslog stops forwarding logs after first log rotation.
* **[Bug Fix]**: Fixes issue where CredHub-generated variables are displayed in plain text on the streaming and historical log pages.
* **[Bug Fix]**: Fixes issue in Ops Manager UI where stemcell versions are compared as strings and incorrectly report stemcell out-of-date messages. This resolves [Stemcell Library Warns That Stemcells with Triple-Digit Minor Release Numbers Are Out of Date ](#triple-digit-stemcell) known issue.
* **[Bug Fix]**: Fixes issue where Ops Manager API did not mark products as having an update when staged version differs from last successful deploy.
* **[Bug Fix]**: Fixes issue where the `configurable` field incorrectly displays `true` for auto-generated certificates in CredHub. This issue affected CredHub certificates that set `generated` to `null` during the upgrade from Ops Manager v2.6 to v2.7.

<%= vars.ops_manager %> v2.9.1 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Ops Manager</td><td>2.9.1-build.121*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.71*</td></tr><tr><td>BBR SDK</td><td>1.17.4*</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.17.0</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.15*</td></tr><tr><td>BPM</td><td>1.1.8*</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>22.0.0*</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>53.0.9</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>

### <a id="2-9-0"></a> v2.9.0

**Release Date:** April 10, 2020

* See [New Features in <%= vars.ops_manager %> v2.9](#major-features).
* See [Breaking Changes](breaking-changes.html).

<%= vars.ops_manager %> v2.9.0 uses the following component versions:

<table border="1" class="nice">
  <thead>
  <tr>
    <th>Component</th>
    <th>Version</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= vars.ops_manager %></td><td>2.9.0-build.106*</td>
  </tr>
  <tr><td>Stemcell</td><td>621.59</td></tr><tr><td>BBR SDK</td><td>1.17.2</td></tr><tr><td>BOSH Director</td><td>270.11.1</td></tr><tr><td>BOSH DNS</td><td>1.17.0*</td></tr><tr><td>Metrics Server</td><td>0.0.24</td></tr><tr><td>System Metrics</td><td>2.0.11</td></tr><tr><td>CredHub</td><td>2.5.11</td></tr><tr><td>Syslog</td><td>11.6.1</td></tr><tr><td>Windows Syslog</td><td>1.0.3</td></tr><tr><td>UAA</td><td>74.5.11*</td></tr><tr><td>BPM</td><td>1.1.7</td></tr><tr><td>Networking</td><td>9</td></tr><tr><td>OS Conf</td><td>21.0.0</td></tr><tr><td>AWS CPI</td><td>81</td></tr><tr><td>Azure CPI</td><td>37.2.0</td></tr><tr><td>Google CPI</td><td>30.0.0</td></tr><tr><td>OpenStack CPI</td><td>44</td></tr><tr><td>vSphere CPI</td><td>53.0.9</td></tr><tr><td>BOSH CLI</td><td>6.2.1</td></tr><tr><td>Credhub CLI</td><td>2.7.0</td></tr><tr><td>BBR CLI</td><td>1.7.2</td></tr><tr><td>Telemetry</td><td>1.1.0</td></tr>
    <td colspan="2"><em>* Components marked with an asterisk have been updated.</em></td>
  </tbody>
</table>


## <a id='how-to-upgrade'></a> How to Upgrade

To upgrade to <%= vars.ops_manager_full %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).


## <a id='major-features'></a> New Features in <%= vars.ops_manager %> <%= vars.v_major_version %>

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following major features:

### <a id='om-api-rotate-credhub-certs'></a> <%= vars.ops_manager %> API Rotates BOSH CredHub Certificates and Certificate Authorities

The `certificate_authorities` API endpoints in <%= vars.ops_manager %> rotates certificates
in BOSH CredHub as well as in <%= vars.ops_manager %> if the following conditions are met:

* <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %> or later is installed.
* <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) is not installed.

The <%= vars.ops_manager %> API rotates both certificate authorities (CAs) and leaf certificates.
However, some certificates in MySQL for VMware Tanzu and VMware Tanzu GemFire are not rotated.

After rotating certificates using the `certificate_authorities` <%= vars.ops_manager %> API endpoints,
review the output list of rotated certificates for missing CredHub certificates.

For information about rotating <%= vars.ops_manager %>- and BOSH CredHub-managed certificates with the
<%= vars.ops_manager %> API, see [Rotating Certificates](https://docs.pivotal.io/platform/2-8/security/pcf-infrastructure/api-cert-rotation.html).

For information about rotating only CredHub-managed certificates,
see [Advanced Certificate Rotation with CredHub Maestro](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/advanced-certificate-rotation.html).

For more information about the `certificate_authorities` <%= vars.ops_manager %> API endpoint,
see the [<%= vars.ops_manager %> API documentation](https://docs.pivotal.io/platform/2-9/opsman-api/#tag/Certificate-Authorities/paths/~1api~1v0~1certificate_authorities~1generate/post).

### <a id='authentication-update'></a> View and Update <%= vars.ops_manager %> Authentication Settings

Operators can view and update the current authentication settings through the <%= vars.ops_manager %> UI and API. 

To view and update authentication settings through the <%= vars.ops_manager %> UI:

1. Go to the <%= vars.ops_manager %> Installation Dashboard **Settings** pane.

1. Select **Internal Authentication Settings**. 

1. Edit the current settings.

1. Click **Update**. 

For more information about accessing the **Settings** pane, see [Setting Page](https://docs.pivotal.io/platform/ops-manager/2-9/pcf-interface.html#settings) in _Using the <%= vars.ops_manager %> Interface_.

To view and update authentication settings through the <%= vars.ops_manager %> API, you can send a valid JSON object to the `/api/v0/settings/authentication` endpoint. For more information, see [Authentication Settings](https://docs.pivotal.io/platform/2-9/opsman-api/#tag/Apply-Changes/paths/~1api~1v0~1staged~1pending_changes/get) in the _<%= vars.ops_manager %> API Reference (2.9)_.

### <a id='update-decryption-passphrase'></a> Update the <%= vars.ops_manager %> Decryption Passphrase

Operators can update the <%= vars.ops_manager %> decryption passphrase 
by using the `/api/v0/settings/decryption-passphrase` <%= vars.ops_manager %> API endpoint.

### <a id='update-decryption-passphrase'></a> View and Update <%= vars.ops_manager %> Proxy Settings

Operators can view and update proxy settings in <%= vars.ops_manager %> 
by using the `/api/v0/settings/proxy_settings` <%= vars.ops_manager %> API endpoint.

### <a id='advanced-mode-banner'></a> Advanced Mode UI Banner

<%= vars.ops_manager %> displays a banner in the UI when you are in Advanced Mode. This helps you understand when you are in Advanced Mode. It also helps ensure that you remember to exit Advanced Mode.

For more information about how to enable Advanced Mode in <%= vars.ops_manager %>,
see [How to Enable Advanced Mode in the <%= vars.ops_manager %>](https://community.pivotal.io/s/article/How-to-Enable-Advanced-Mode-in-the-Ops-Manager)
in the Knowledge Base.

### <a id='advanced-mode-fields'></a> Modifications to Locked and Unlockable Fields

<%= vars.ops_manager %> <%= vars.v_major_version %> changes which fields 
are locked after you deploy the BOSH Director.

You can access these fields in the <%= vars.ops_manager %> Director Config pane. For unlockable fields, you can also modify the values of these settings by using the `/api/v0/staged/director/properties` <%= vars.ops_manager %> API endpoint in Advanced Mode.

#### Standard Field Changes

The following fields are not locked after BOSH Director deployment.
You can modify these fields at anytime without entering Advanced Mode.

* Under **S3 Compatible Blobstore**:
    * Under **S3 Signature Version**:
        * **S3 Signature Version**
        * Under **V4 Signature**
            * **Region**
    * Under **S3 Backup Strategy**:
        * Under **Copy into an additional bucket**:
            * **Backup Bucket Region**
            * **Backup Bucket Name**
* In the **GCS Blobstore** section:
    * **Bucket Name**
    * **Storage Class**
    * **Service Account Key**

#### Unlockable Field Changes

The following fields are locked and you can unlock them in Advanced Mode:

* **Blobstore Location**
* In the **S3 Compatible Blobstore** section:
    * **S3 Endpoint**
    * **S3 Bucket Name**

#### Permanently Locked Field Changes

The following fields are locked and you cannot unlock them, 
even in Advanced Mode:

* **Database Location**
* In the **CredHub Encryption Provider** section:
    * **Encryption Key Name**
    * **Provider Partition**

For more information about fields that can be unlocked in Advanced Mode, see the [Unlockable Fields](https://docs.pivotal.io/platform/2-9/customizing/lock-on-deploy.html#unlock) section in _<%= vars.ops_manager %> Fields That Lock On Deploy_.

### <a id='domain-style'></a> Support for Virtual-Hosted-Style URLs for AWS S3 Blobstores

<%= vars.ops_manager %> supports virtual-hosted-style, or domain-style, URLs for AWS S3-compatible blobstores. This allows you to use virtual-hosted-style URLs for S3-compatible blobstores before AWS ends support for path-style URLs after September 30, 2020.

For more information about the end of support for path-style S3 bucket URLs, see [Amazon S3 Path Deprecation Plan – The Rest of the Story](https://aws.amazon.com/blogs/aws/amazon-s3-path-deprecation-plan-the-rest-of-the-story/) in the AWS News Blog.

You can specify either path-style or domain-style URLs for S3-compatible blobstores in the **S3 URLs Style** dropdown in the <%= vars.ops_manager %> **Director Config** pane. 

If you used S3-compatible blobstores on <%= vars.platform_name %> v2.8, <%= vars.ops_manager %> specifies path-style URLs for the blobstores <%= vars.platform_name %> v2.9 by default. This helps ensure compatibility on upgrade to <%= vars.platform_name %> v2.9.

To specify domain-style URLs for an S3-compatible blobstore:

1. Go to the <%= vars.ops_manager %> **Director Config** pane.

1. For **Blobstore Location**, select **S3 Compatible Blobstore**.

1. For the **S3 URLs Style** dropdown, select domain-style URL.

For more information about the difference between path-style and virtual-hosted-style URLs, see [Virtual Hosting of Buckets](https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html) in the AWS documentation.

### <a id='open-api-spec-docs'></a> <%= vars.ops_manager %> API Documentation Uses the Open API Specification

In <%= vars.ops_manager %> <%= vars.v_major_version %>, <%= vars.ops_manager %> API documentation adopts the Open API Specification (OAS). In addition to general format improvements, this update provides operators with a machine-parsable version of the <%= vars.ops_manager %> API docs.

For more information about OAS, see the [OpenAPI Specification](https://github.com/OAI/OpenAPI-Specification) repository on GitHub.

### <a id='credhub-keys'></a> <%= vars.ops_manager %> Enforces Persistent Active CredHub Encryption Key

<%= vars.ops_manager %> places extra safeguards around the `/api/v0/staged/director/properties` API endpoint to ensure that you cannot accidentally delete active CredHub encryption keys through the <%= vars.ops_manager %> API:

* You must always have an active key.
* You cannot remove keys that are currently active. You can only remove keys after they have been deactivated.

To delete an active CredHub key, you must first deactivate it and activate a new or existing key.

For more information, see [Delete Key](https://docs.pivotal.io/platform/2-9/customizing/hsm-config.html#delete-key) in _Preparing CredHub HSMs for Configuration_.

### <a id='recreate-director-vms'></a> Recreate All VMs Checkbox is Renamed

In the **Director Config** pane of the BOSH Director tile, the **Recreate All VMs** checkbox is renamed to **Recreate VMs deployed by the BOSH Director**.

This new name clarifies which VMs are recreated when you enable this checkbox. The functionality of the checkbox is not changed, and the `bosh_recreate_on_next_deploy` property remains the same.

For more information, see the [BOSH Director configuration topic for your IaaS](https://docs.pivotal.io/platform/ops-manager/2-9/index.html).

### <a id='recreate-bosh-director-vm'></a> Recreate BOSH Director VM

You can recreate the BOSH Director VM in one of two ways:

* In the **Director Config** pane of the BOSH Director tile.

* With the `/api/v0/staged/director/properties` <%= vars.ops_manager %> API endpoint. 

To recreate the BOSH Director VM in the BOSH Director tile:

1. Go to the **Director Config** pane. 

1. Enable the **Recreate BOSH Director VM** checkbox. 

1. Click **Apply Changes** in the <%= vars.ops_manager %> Installation Dashboard. 

The checkbox clears after you apply changes. 
For more information, see the [BOSH Director configuration topic for your IaaS](https://docs.pivotal.io/platform/ops-manager/2-9/index.html).

To recreate the BOSH Director VM through the <%= vars.ops_manager %> API, use the `/api/v0/staged/director/properties` endpoint to set the `bosh_recreate_director_on_next_deploy` property to `true`. 

This property is set to `false` by default. For more information about using the `api/v0/staged/director/properties` endpoint, see [Updating director and Iaas properties (Experimental)](https://docs.pivotal.io/platform/2-8/opsman-api/#updating-director-and-iaas-properties-experimental) 
in the <%= vars.ops_manager %> API documentation.

### <a id='deployment-log-improved'></a> Improved Deployment Log Display

<%= vars.ops_manager %> <%= vars.v_major_version %> includes UI and performance improvements
to the deployment log display:

* Deployment logs render more quickly
* Stages are more clearly delineated
* Erroring stage is accessible with one click
* Start and end time are clearly displayed

### <a id='vm-affinity-rule'></a> Ability to Set the VM-Host Affinity Rule to "Should" for Clusters in vSphere

In <%= vars.ops_manager %> v2.9.0 and later, you can modify the **VM-Host Affinity Rule** for a cluster in the **Availability Zones** pane.

By default, **VM-Host Affinity Rule** is set to **MUST**, which means that all VMs in the cluster must run on hosts in the specified host group. There are no exceptions.

Changing the value to **SHOULD** means that during normal operations, VMs in the cluster are run on hosts in the specified host group. However, vSphere can start these VMs in another host group in the event of an AZ failure. This flexibility helps ensure high availability for stretched cluster topologies in vSphere.

For information on changing this setting in the <%= vars.ops_manager %> UI, see [Configuring BOSH Director on vSphere](https://docs.pivotal.io/platform/ops-manager/2-9/vsphere/config.html#create-az). To change the setting with the <%= vars.ops_manager %> API, see [<%= vars.ops_manager %> API Documentation](https://docs.pivotal.io/platform/2-9/opsman-api/#tag/Availability-Zones/paths/~1api~1v0~1staged~1director~1availability_zones~1{az_guid}/put).

For more information about VM-Host Affinity Rules, see [VM-Host Affinity Rules
](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.resmgmt.doc/GUID-2FB90EF5-7733-4095-8B66-F10D6C57B820.html) in the vSphere documentation.

For more information about stretched clusters, see [Introduction to Stretched Clusters
](https://docs.vmware.com/en/VMware-vSphere/6.7/com.vmware.vsphere.vsan-planning.doc/GUID-1BDC7194-67A7-4E7C-BF3A-3A0A32AEECA9.html) in the vSphere documentation.


## <a id='known-issues'></a> Known Issues

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following known issues:

### <a id='unresponsive-agent'></a> BOSH VMs Report Unresponsive Agent After Activating New Root CA

<%= partial "/pcf/certs/recreate-service-instances" %> 


### <a id='credhub-generated-field'></a> Reset Manually Set Certificates in CredHub Before Rotating Certificates with the <%= vars.ops_manager %> API

If you have manually set any certificates in CredHub on <%= vars.ops_manager %> v2.6 or earlier, you need to reset those certificates before using the <%= vars.ops_manager %> API to rotate CredHub certificates. 

Resetting these certificates is not a required condition for the <%= vars.ops_manager %> v2.9 upgrade. You can reset them either before or after the upgrade.

To reset a certificate in CredHub, see [Reviewing and Resetting Manually Set Certificates in CredHub](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/manual-credhub-certificate.html). 

For more information about rotating certificates using the <%= vars.ops_manager %> API, see [Rotating Certificates](https://docs.pivotal.io/platform/2-9/security/pcf-infrastructure/api-cert-rotation.html). For more information about the `certificate_authorities/active/regenerate` endpoint, see [Rotate Certificates](https://docs.pivotal.io/pivotalcf/2-9/opsman-api/#create-root-certificate-authorities) in the <%= vars.ops_manager %> API documentation.

### <a id='triple-digit-stemcell'></a> Stemcell Library Warns That Stemcells with Triple-Digit Minor Release Numbers Are Out of Date 

In Ops Manager v2.9.0, when you upload a stemcell with a triple-digit minor release number to the <%= vars.ops_manager %> Stemcell Library, you see a warning that the stemcell is out of date.

This is because <%= vars.ops_manager %> erroneously interprets triple-digit minor release numbers, such as Ubuntu Xenial stemcell 456.100, as being older than double-digit minor release numbers, such as Ubuntu Xenial stemcell 456.98. The Stemcell Library then erroneously lists the most recent double-digit minor release stemcell you uploaded as the required stemcell.

You can use stemcells with triple-digit minor release numbers and ignore the warning.

This is resolved in Ops Manager v2.9.1.
