---
title: Pivotal Operations Manager v2.9 Release Notes
owner: Ops Manager
---

Pivotal Platform is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='how-to-upgrade'></a> How to Upgrade

The [Upgrading Pivotal Platform](http://docs.pivotal.io/pivotalcf/2-8/customizing/upgrading-pcf.html) topic contains instructions for upgrading to Pivotal Operations Manager <%= vars.v_major_version %>.

## <a id='releases'></a> Releases

### <a id='2-9-alpha'></a> 2.9.0 Alpha 1

* **[Feature]** Operators can view and update internal authentication settings by using the Ops Manager `/api/v0/settings/authentication` API endpoint or by accessing the **Settings** pane of the Ops Manager UI.
* **[Feature]** Operators can view and update the Ops Manager decryption passphrase by using the Ops Manager `/api/v0/settings/decryption-passphrase` API endpoint.
* **[Feature]** Operators can view and update proxy settings in Ops Manager by using the Ops Manager `/api/v0/settings/proxy_settings` API endpoint.
* **[Feature]** When in Advanced Mode, operators can update **Blobstore Location** settings in the **Director Config** screen after deploying the BOSH Director. Previously the fields were frozen after deployment.
* **[Feature]** Ops Manager supports domain-style URLs as the default for configuring AWS S3 compatible blobstores.
* **[UI Improvement]** When in Advanced Mode, operators see a special banner in the Ops Manager UI.

Ops Manager v2.9.0 Alpha 1 uses the following component versions:

 


## <a id='major-features'></a> New Features in Ops Manager <%= vars.v_major_version %>

Ops Manager <%= vars.v_major_version %> includes the following major features:

### <a id='advanced-mode-banner'></a> Advanced Mode UI Banner

Ops Manager displays a banner when you are in Advanced Mode. This helps you understand when you are in Advanced Mode. It also helps ensure that you remember to exit Advanced Mode when you complete the required work. 

For more information about how to enable Advanced Mode in Ops Manager, see the [Unlockable Fields](https://docs.pivotal.io/platform/2-9/customizing/lock-on-deploy.html#unlock) section in _Ops Manager Fields That Lock On Deploy_.


## <a id='known-issues'></a> Known Issues

* Known issues to come as features and dependencies are implemented in <%= vars.v_major_version %> release candidates.
