---
title: Ops Manager v2.10 Release Notes
owner: Ops Manager
---

<% current_page.data.title = vars.ops_manager_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.ops_manager_full %> <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases



## <a id='how-to-upgrade'></a> How to Upgrade

To upgrade to <%= vars.ops_manager_full %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).


## <a id='major-features'></a> New Features in <%= vars.ops_manager %> <%= vars.v_major_version %>

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following major features:

### <a id="bosh-overrides"></a> BOSH Director Manifest Overrides

In Ops Manager v2.10, you can use `/api/v0/staged/director/overrides` 
Ops Manager API endpoint to override properties in the BOSH Director manifest. 
With this endpoint you can only override properties that appear 
in the instance groups and networks sections of the manifest.

You must be in Advanced Mode to use this feature.

For information on the Ops Manager API endpoints related to this feature, see [Advanced Manifest Configuration](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration) in Ops Manager API Documentation.

For more information about enabling Advanced Mode using the Ops Manager API, see [Advanced Mode](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Mode) in Ops Manager API Documentation.

## <a id='known-issues'></a> Known Issues

* Known issues to come as features and dependencies are implemented in <%= vars.ops_manager %> <%= vars.v_major_version %> release candidates.