---
title: Ops Manager v2.10 Release Notes
owner: Ops Manager
---

<% current_page.data.title = vars.ops_manager_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.ops_manager_full %> <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases



## <a id='how-to-upgrade'></a> How to Upgrade

To upgrade to <%= vars.ops_manager_full %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).


## <a id='major-features'></a> New Features in <%= vars.ops_manager %> <%= vars.v_major_version %>

<%= vars.ops_manager %> <%= vars.v_major_version %> includes the following major features:

### <a id="bosh-overrides"></a> BOSH Director Manifest Overrides

In Ops Manager v2.10, you can use the `/api/v0/staged/director/overrides` 
Ops Manager API endpoint to override properties in the BOSH Director manifest. 
With this endpoint you can only override properties that appear 
in the instance groups and networks sections of the manifest.

You must be in Advanced Mode to use this feature.

For information on the Ops Manager API endpoints related to this feature, see [Advanced Manifest Configuration](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Manifest-Configuration) in Ops Manager API Documentation.

For more information about enabling Advanced Mode using the Ops Manager API, see [Advanced Mode](https://docs.pivotal.io/platform/2-10/opsman-api/#tag/Advanced-Mode) in Ops Manager API Documentation.

### <a id=‘safety-checks’></a> CredHub Maestro Runs Safety Checks During Certificate Rotation

When you are rotating certificates for Ops Manager and CredHub, the CredHub Maestro CLI stops unsafe API commands and returns an error. A command is unsafe when you run it out of the proper order, such as if you generate a new root certificate authority (CA) and attempt to activate it before clicking **Apply Changes**. Performing steps out of the correct order during certificate rotations could make your deployment unstable or risk downtime.

To skip these safety checks, you can pass the `skip_safety_check` parameter to the Ops Manager API endpoints for certificate rotation. This automatically appends the `--skip-safety-check` flag to the CredHub Maestro CLI commands that Ops Manager runs during the certificate rotation. Skipping the safety checks allows you to rotate your certificates in an unsafe manner when necessary. For example, if your CA has already expired and your apps are experiencing downtime, skipping safety checks allows you to bring your apps back faster.

<p class=‘note’><strong>Note:</strong> To use this feature in Ops Manager v2.10, you must have Pivotal Application Service (PAS) v2.8 or TAS for VMs v2.9 or later installed, and you must not have any version of Tanzu Kubernetes Grid Integrated Edition (TKGI) installed. If you are using an earlier version of PAS or have any version of TKGI installed, Ops Manager still runs safety checks, but they are not as comprehensive as CredHub Maestro safety checks.</p>

 For more information, see [Rotating Certificates](https://docs.pivotal.io/platform/2-10/security/pcf-infrastructure/api-cert-rotation.html) and [Advanced Certificate Rotation with CredHub Maestro](https://docs.pivotal.io/platform/2-10/security/pcf-infrastructure/advanced-certificate-rotation.html).


## <a id='known-issues'></a> Known Issues

* Known issues to come as features and dependencies are implemented in <%= vars.ops_manager %> <%= vars.v_major_version %> release candidates.