---
title: VMware Tanzu Application Service for VMs v2.9 Release Notes
owner: Release Engineering
---

<% current_page.data.title = vars.app_runtime_full + " " + vars.v_major_version + " Release Notes" %>

<p class="note"><strong>Note:</strong>
  Pivotal Platform is now part of VMware Tanzu.
  In v2.9 and later, Pivotal Application Service is renamed to VMware Tanzu Application Service for VMs. Small Footprint PAS is renamed to VMware Tanzu Application Service for VMs &#91;Small Footprint&#93;.
</p>

This topic contains release notes for <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.9.1'></a> 2.9.1

**Release Date:** 04/22/2020

* **[Feature]** HAProxy can now be configured with custom certificate authorities
* **[Feature Improvement]** Autoscaler uses TLS to communicate with its database
* **[Feature Improvement]** Allow configuration of system metrics scrape interval
* **[Bug Fix]** Fix Certificates in CredHub KMS Provider Interface
* **[Bug Fix]** Fix `server_name` value to use Common Name as metrics_agent_metrics_tls
* Bump ubuntu-xenial stemcell to version `621.64`
* Bump cf-cli to version `1.26.0`
* Bump cflinuxfs3 to version `0.175.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.64</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.4</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.90.2</td></tr>
    <tr><td>cf-autoscaling</td><td>226</td></tr>
    <tr><td>cf-cli</td><td>1.26.0</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.175.0</td></tr>
    <tr><td>credhub</td><td>2.5.11</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.7</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.8</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.29.1</td></tr>
    <tr><td>log-cache</td><td>2.6.11</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>loggregator</td><td>106.3.9</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.10.0</td></tr>
    <tr><td>nats</td><td>32</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.6</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.15</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.9</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.6</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.7</td></tr>
    <tr><td>pxc</td><td>0.22.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.10</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.2</td></tr>
    <tr><td>routing</td><td>0.199.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.14</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.5</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.5</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.9</td></tr>
    <tr><td>uaa</td><td>74.5.13</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2-9-0'></a> v2.9.0

**Release Date:** April 10, 2020

* See [New Features in <%= vars.app_runtime_abbr %> v2.9](#new-features).
* See [Breaking Changes](breaking-changes.html).

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.61</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.4</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.90.2</td></tr>
    <tr><td>cf-autoscaling</td><td>226</td></tr>
    <tr><td>cf-cli</td><td>1.25.0</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.174.0</td></tr>
    <tr><td>credhub</td><td>2.5.11</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.7</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.8</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.29.1</td></tr>
    <tr><td>log-cache</td><td>2.6.11</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>loggregator</td><td>106.3.9</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.10.0</td></tr>
    <tr><td>nats</td><td>32</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.6</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.15</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.9</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.6</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.7</td></tr>
    <tr><td>pxc</td><td>0.22.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.10</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.2</td></tr>
    <tr><td>routing</td><td>0.199.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.14</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.5</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.5</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.9</td></tr>
    <tr><td>uaa</td><td>74.5.13</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

To upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).

When upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, be aware of the following upgrade considerations:

* If you previously used an earlier version of <%= vars.app_runtime_abbr %>, you must first upgrade to <%= vars.app_runtime_abbr %> v2.8 to successfully upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.

* Some partner service tiles may be incompatible with <%= vars.platform_name %> <%= vars.v_major_version %>.
  VMware is working with partners to ensure their tiles are updated to work with the latest versions of <%= vars.platform_name %>.
  <br/><br/> For information about which partner service releases are currently compatible with <%= vars.platform_name %>
  <%= vars.v_major_version %>, review the appropriate partners services release documentation
  at [https://docs.pivotal.io](https://docs.pivotal.io) or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='app-graceful-shutdown'></a> Increase App Graceful Shutdown Period

You can increase the graceful shutdown period for your apps.

When <%= vars.app_runtime_abbr %> requests a shutdown of app instances, the processes in app containers have a period of time to gracefully shut down before the processes are forcefully terminated. The default, minimum graceful shutdown period is 10 seconds. If your apps require a longer period of time to finish in-flight jobs and gracefully shutdown, you can increase the graceful shutdown period in the **Advanced Features** pane of the <%= vars.app_runtime_abbr %> tile.

For more information, see [Shutdown](https://docs.pivotal.io/platform/application-service/2-9/devguide/deploy-apps/app-lifecycle.html#shutdown) in _App Container Lifecycle_ and [Configure Advanced Features](http://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#advanced) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='java-buildpack-sidecars'></a> Deploy Sidecar Processes for Java Apps with a Buildpack (Beta)

You can use a custom buildpack to deploy a sidecar process alongside your Java app. 

Previously, you could only use an app manifest to deploy a sidecar for a Java app.

For more information, see [Sidecar Buildpacks](https://docs.pivotal.io/platform/application-service/2-9/buildpacks/sidecar-buildpacks.html).

### <a id='app-log-limit'></a> Configure App Log Rate Limit (Beta)

You can limit the number of log lines each app instance generates per second by configuring the **App log rate limit (beta)** section in the **App Containers** pane of the <%= vars.app_runtime_abbr %> tile.

This feature is disabled by default. Enabling this feature prevents app instances from overloading the Loggregator Agent with logs, so the Loggregator Agent does not drop logs for other app instances. Enabling this feature also prevents apps from reporting inaccurate app metrics in the Cloud Foundry Command Line Interface (cf CLI) or increasing the CPU usage on the Diego Cell VM.

For more information, see [Configure App Containers](http://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#application-containers-config) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='apps-manager-buildpacks'></a> Configure Buildpacks for Apps Manager

You can configure the Apps Manager, Search Server, and Invitations apps to deploy with buildpacks you specify. To specify which buildpacks you want these apps to use, enter them in the **Apps Manager** pane of the <%= vars.app_runtime_abbr %> tile. For more information, see [Configure Custom Branding and Apps Manager](https://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#customize-apps-man) in _Configuring <%= vars.app_runtime_abbr %>_.

If you do not specify a buildpack, <%= vars.app_runtime_abbr %> uses the detection process to determine a single buildpack to use. For more information about the detection process, see [Buildpack Detection](https://docs.pivotal.io/platform/application-service/2-9/buildpacks/understand-buildpacks.html#buildpack-detection) in _How Buildpacks Work in <%= vars.app_runtime_abbr %>_.

### <a id='nats-tls'></a> NATS Shares Messages with NATS TLS

The `nats-tls` job is added to the NATS VM. 
This job configures the Diego Route Emitter to send routing information to NATS, which then shares that information with NATS TLS.

For more information about routing architecture in <%= vars.app_runtime_abbr %>, 
see [<%= vars.app_runtime_abbr %> Routing Architecture](https://docs.pivotal.io/platform/application-service/2-9/concepts/cf-routing-architecture.html). 

For more information about outbound network communication paths from Diego, 
see [Outbound Communications](https://docs.pivotal.io/platform/2-9/security/networking/diego-network-paths.html#outbound) in _Diego Network Communications_. 

For more information about how NATS TLS affects routing in <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>), 
see [<%= vars.windows_runtime_abbr %> Uses Route Emitters to Communicate with NATS Over TLS](windows-rn.html#route-emitters) in _<%= vars.windows_runtime_full %> <%= vars.v_major_version %> Release Notes_.

### <a id='tls-external-databases'></a> Hostname Validation Enabled By Default for External Databases

An **Enable hostname validation** checkbox is added to the <%= vars.app_runtime_abbr %> **Databases** pane.
When **Enable hostname validation** is selected for an external database with TLS enabled,
<%= vars.app_runtime_abbr %> verifies the hostname of the external database
for communication between <%= vars.app_runtime_abbr %> and the external database.

The **Enable hostname validation** checkbox is selected by default. For more information about enabling hostname validation or enabling TLS for external databases, see [Configure Databases](https://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#sys-db) in _Configure <%= vars.app_runtime_abbr %>_.

<p class="note warning">
<strong>Warning:</strong> If your deployment uses a GCP or Azure external database for <%= vars.app_runtime_abbr %> and TLS is enabled for the database, you must deselect the <strong>Enable hostname validation</strong> checkbox. For more information, see <a href="https://docs.pivotal.io/platform/2-9/upgrading/checklist.html#disable-hostname-validation">Disable Hostname Validation for External Databases on GCP and Azure</a> in <em>Upgrade Preparation Checklist</em>.
</p>

<p class="note">
<strong>Note:</strong> The <strong>Enable hostname validation</strong> checkbox does not enable hostname validation for communication between <%= vars.app_runtime_abbr %> components and external CredHub databases. To enable or disable hostname validation for CredHub external databases, see <a href="https://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#credhub">Configure CredHub</a> in <em>Configure <%= vars.app_runtime_abbr %></em>.
</p>

### <a id='app-revisions'></a> App Revisions Are Enabled by Default (Beta)

App revisions are enabled by default.

To disable revisions in an app, you must manually turn them off using your Cloud Foundry API (CAPI) endpoint. For more information, see [Disable Revisions for an App](https://docs.pivotal.io/platform/application-service/2-9/devguide/revisions.html#disable) in _App Revisions_.

### <a id='view-sidecars'></a> View Sidecar Processes in Apps Manager (Beta)

You can view sidecar processes associated with your apps through the Apps Manager UI. 

To view the sidecars for an app in Apps Manager:

1. Go to the **Overview** page for the app. 
1. Under **Processes and Instances**, see **Sidecars**.

For more information about viewing sidecar processes in Apps Manager, see [View Sidecar Processes](https://docs.pivotal.io/platform/application-service/2-9/console/manage-apps.html#view-sidecars) in _Managing Apps and Service Instances Using Apps Manager_. 

For more information about sidecar processes, see [Pushing Apps with Sidecar Processes (Beta)](https://docs.pivotal.io/platform/application-service/2-9/devguide/sidecars.html).

### <a id='view-key-metrics'></a> View Key Metrics in Apps Manager (Beta)

If Metric Store is installed, you can view key metrics for an app on the app **Overview** page in Apps Manager.

The key metrics are CPU, Memory, Disk, Request Latency, Request Rate, and Request Errors.

For each metric, the **Overview** page includes a graph that shows metric behavior over the past three hours.
The page also displays the average value for the metric over the past three hours. 

For information about how to install Metric Store, see [Metric Store](https://docs.pivotal.io/metric-store).

For more information about viewing key metrics for your apps,
see [Manage an App](https://docs.pivotal.io/platform/application-service/2-9/console/manage-apps.html#manage-app) in _Using Apps Manager_.

### <a id='log-metric-agent-arhcitecture'></a> Log and Metric Agent Architecture (Beta)

The Log and Metric Agent Architecture includes components that collect, store, and forward logs and metrics in your deployment. The components of the Log and Metric Agent Architecture use a shared-nothing architecture that requires several fewer VMs than the Loggregator system.

To use the Log and Metric Agent Architecture components, you must also configure Syslog Agents, aggregate drains, and Log Cache to send logs to a shared destination. To configure these components, see [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#sys-logging) in _Configuring <%= vars.app_runtime_abbr %>_.

For more information about the Log and Metric Agent Architecture, see [Log and Metric Agent Architecture (Beta)](http://docs.pivotal.io/platform/application-service/2-9/loggregator/agent-architecture.html).


## <a id='known-issues'></a> Known Issues

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:

### <a id='nfs-broker-errand'></a> Run NFS Broker Errand Before Upgrade

If you are using NFS Volume Services, you must run the **NFS Broker Errand** errand before upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>. Running this errand in <%= vars.app_runtime_abbr %> v2.8 migrates existing service instances for NFS Volume Services from MySQL to CredHub.

If you do not run the errand in <%= vars.app_runtime_abbr %> v2.8, you may be unable to bind apps to existing NFS Volume Service service instances after upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.

### <a id='disable-firehose-smoke-test-errand'></a> Disable the Smoke Test Errand If You Disable the Firehose

If you disable the V1 or V2 Firehose in <%= vars.app_runtime_abbr %> v2.9, you must also disable the smoke test errand.

If you do not disable the smoke test errand, the deploy fails with an error similar to the following:

```
[91m[1m[Fail] [0m[90mLoggregator: [0m[0mcf logs [0m[90mlinux [0m[91m[1m[It] can see app messages in the logs [0m  
          [37m/var/vcap/packages/smoke_tests/src/github.com/cloudfoundry/cf-smoke-tests/smoke/logging/loggregator_test.go:42[0m  
          [1m[91mRan 1 of 2 Specs in 56.171 seconds[0m  
          [1m[91mFAIL![0m -- [32m[1m0 Passed[0m | [91m[1m1 Failed[0m | [33m[1m0 Pending[0m | [36m[1m1 Skipped[0m  
          --- FAIL: TestSmokeTests (56.17s)  
          FAIL  
          Ginkgo ran 2 suites in 1m7.050120251s  
          Test Suite Failed  
Stderr     Error: failed to run job-process: exit status 1 (exit status 1)
```

To disable the smoke test errand,
see [Errands Pane: Persistent Rules](https://docs.pivotal.io/platform/2-9/customizing/managing_errands.html#errands-pane)
in _Managing Errands in Ops Manager_.

### <a id='cf-cli-firehose-errors'></a> Errors Viewing App Logs after Disabling V1 and V2 Firehose

<%= partial "/pcf/app-service-kis/cf_cli_errors_disable_firehose" %>

### <a id="apps-manager-app-metrics-link"></a> App Metrics v2.0.0 Is Incompatible with Apps Manager Integration

This issue affects App Metrics v2.0.0.

If the App Metrics v2.0.0 tile is installed on a foundation,
then the **View in Metrics** link on the app Overview tab in Apps Manager
does not appear or is broken.
