---
title: VMware Tanzu Application Service for VMs v2.9 Release Notes
owner: Release Engineering
---

<% current_page.data.title = vars.app_runtime_full + " " + vars.v_major_version + " Release Notes" %>

<p class="note"><strong>Note:</strong>
  Pivotal Platform is now part of VMware Tanzu.
  In v2.9 and later, Pivotal Application Service is renamed to VMware Tanzu Application Service for VMs. Small Footprint PAS is renamed to VMware Tanzu Application Service for VMs &#91;Small Footprint&#93;.
</p>

This topic contains release notes for <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.9.0-rc.4'></a> 2.9.0-rc.4

**Release Date:** 04/06/2020

* **[Feature]** Allow Zero Instances of MySQL Monitor
* **[Feature Improvement]** Apps Manager revisions tab only shows the 'Redeploy' option for revisions that can be redeployed
* **[Bug Fix]** Fix DNS Loggregator Trafficcontroller DNS issue
* **[Bug Fix]** Bump Tomcat in UAA to fix SAML login issues
* **[Bug Fix]** Make app status in Apps Manager more accurate by replacing 'Crashed' status with 'Down' status
* **[Bug Fix]** Enable users to view logs larger than 4MB in Apps Manager
* **[Bug Fix]** Honor option to hide service plan prices in Apps Manager services tables
* **[Bug Fix]** Expose buildpack versions in app page settings tab of Apps Manager
* **[Bug Fix]** Account for numerical statuses in Spring and Steeltoe health actuator endpoints in Apps Manager
* **[Bug Fix]** Fix error when viewing app settings tab in Apps Manager while restarting a Spring or Steeltoe app is in progress
* **[Bug Fix]** GoRouter correctly handles control characters in URLs
* **[Bug Fix]** Ensure usage service correctly considers usage events when installed after PAS
* **[Bug Fix]**  App developers now receive a 401 when using an expired access token with policy server
* **[Bug Fix]** Autoscaler smoke test works when router rejects requests on port 80
* **[Bug Fix]** Fix a memory leak and go-routine leak related to having multiple aggregate drains in Loggregator
* **[Security fix]** Bump backup and restore SDK
* Bump ubuntu-xenial stemcell to version `621.61`
* Bump backup-and-restore-sdk to version `1.17.4`
* Bump cf-autoscaling to version `226`
* Bump cf-networking to version `2.28.0`
* Bump cflinuxfs3 to version `0.174.0`
* Bump java-offline-buildpack to version `4.29.1`
* Bump loggregator-agent to version `5.3.8`
* Bump loggregator to version `106.3.9`
* Bump notifications-ui to version `37`
* Bump push-apps-manager-release to version `672.0.6`
* Bump push-usage-service-release to version `672.0.7`
* Bump routing to version `0.199.0`
* Bump silk to version `2.28.0`
* Bump uaa to version `74.5.13`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.61</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.4</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.90.2</td></tr>
    <tr><td>cf-autoscaling</td><td>226</td></tr>
    <tr><td>cf-cli</td><td>1.25.0</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.174.0</td></tr>
    <tr><td>credhub</td><td>2.5.11</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.7</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.8</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.29.1</td></tr>
    <tr><td>log-cache</td><td>2.6.11</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>loggregator</td><td>106.3.9</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.10.0</td></tr>
    <tr><td>nats</td><td>32</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.6</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.15</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.9</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.6</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.7</td></tr>
    <tr><td>pxc</td><td>0.22.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.10</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.2</td></tr>
    <tr><td>routing</td><td>0.199.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.14</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.5</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.5</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.9</td></tr>
    <tr><td>uaa</td><td>74.5.13</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.9.0-rc.3'></a> 2.9.0-rc.3

**Release Date:** 03/25/2020

* [Feature] Minio is now supported as an alternative blobstore
* Bump cf-autoscaling to version `225`
* Bump cflinuxfs3 to version `0.171.0`
* Bump dotnet-core-offline-buildpack to version `2.3.7`
* Bump go-offline-buildpack to version `1.9.8`
* Bump java-offline-buildpack to version `4.28`
* Bump nginx-offline-buildpack to version `1.1.6`
* Bump nodejs-offline-buildpack to version `1.7.15`
* Bump php-offline-buildpack to version `4.4.9`
* Bump python-offline-buildpack to version `1.7.10`
* Bump r-offline-buildpack to version `1.1.2`
* Bump ruby-offline-buildpack to version `1.8.14`
* Bump staticfile-offline-buildpack to version `1.5.5`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.59</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.90.2</td></tr>
    <tr><td>cf-autoscaling</td><td>225</td></tr>
    <tr><td>cf-cli</td><td>1.25.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.171.0</td></tr>
    <tr><td>credhub</td><td>2.5.11</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.7</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.8</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.28</td></tr>
    <tr><td>log-cache</td><td>2.6.11</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.7</td></tr>
    <tr><td>loggregator</td><td>106.3.6</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.10.0</td></tr>
    <tr><td>nats</td><td>32</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.6</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.15</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.9</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.5</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.5</td></tr>
    <tr><td>pxc</td><td>0.22.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.10</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.2</td></tr>
    <tr><td>routing</td><td>0.198.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.14</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.5</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.5</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.9</td></tr>
    <tr><td>uaa</td><td>74.5.10</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.9.0-rc.2'></a> 2.9.0-rc.2

**Release Date:** 03/13/2020

* **[Security Fix]** Improve autoscaler HTTP throughput calculation performance and omit DATABASE_URL from logs
* **[Feature Improvement]** Add a toggle to enable hostname validation for database connections
* **[Bug Fix]** UAA no longer attempts to create logs in incorrect directory
* **[Bug Fix]** Fix bug that prevented usage report in Apps Manager from displaying when only partial data is available
* **[Bug Fix]** Wrap long resource names in Apps Manager's usage report and invite members flow
* Bump ubuntu-xenial stemcell to version `621.59`
* Bump cf-autoscaling to version `223`
* Bump cf-cli to version `1.25.0`
* Bump cflinuxfs3 to version `0.169.0`
* Bump push-apps-manager-release to version `672.0.5`
* Bump ruby-offline-buildpack to version `1.8.12`
* Bump uaa to version `74.5.10`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.59</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.90.2</td></tr>
    <tr><td>cf-autoscaling</td><td>223</td></tr>
    <tr><td>cf-cli</td><td>1.25.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.169.0</td></tr>
    <tr><td>credhub</td><td>2.5.11</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.6</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.7</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.11</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.7</td></tr>
    <tr><td>loggregator</td><td>106.3.6</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.10.0</td></tr>
    <tr><td>nats</td><td>32</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.5</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.13</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.8</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.5</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.5</td></tr>
    <tr><td>pxc</td><td>0.22.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.8</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>routing</td><td>0.198.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.12</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.5</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.4</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.9</td></tr>
    <tr><td>uaa</td><td>74.5.10</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.9.0-rc.1'></a> 2.9.0-rc.1

**Release Date:** 03/05/2020

* **[Security Fix]** Stop logging private data in background jobs
* **[Security Fix]** Fix vulnerabilities [CVE-2019-2426](https://nvd.nist.gov/vuln/detail/CVE-2019-2426),
  [CVE-2019-2449](https://nvd.nist.gov/vuln/detail/CVE-2019-2449),
  [CVE-2019-2422](https://nvd.nist.gov/vuln/detail/CVE-2019-2422) in CredHub
* **[Feature]** Support Maestro's rotation capability by adding Services TLS CA to all App containers
* **[Feature]** Make app log rate limit configurable
* **[Feature]** New and improved smoke-tests for Application Service
* **[Feature]** Sidecar is buildpack deployable with Java App
* **[Feature Improvement]** Allow the Cloud Controller to use Domain Style URLs for AWS S3 Access
* **[Feature Improvement]** Allow users to specify a list of URIs for other foundations that Apps Manager manages
* **[Feature Improvement]** Allow users to cancel rolling deployments in process from the Apps Manager Revisions page for an application
* **[Feature Improvement]** Show cancelled rolling deployments as events on the overview page for an application in Apps Manager
* **[Feature Improvement]** Introduce read only capabilities in Apps Manager for users with `cloud_controller.global_auditor` and `cloud_controller.admin_read_only` scopes
* **[Feature Improvement]** Safeguard deletion of spaces in Apps Manager
* **[Feature Improvement]** Improve the service instance creation flow in Apps Manager to better represent plan costs and features
* **[Feature Improvement]** Improve performance of app logs loaded in Apps Manager
* **[Feature Improvement]** Add the ability to scale down to 0 for `loggregator_trafficontroller`
* **[Bug Fix]** Fix display of the logo in footer of Apps Manager for Internet Explorer users
* **[Bug Fix]** Allow users with `usage_service.audit` scope to view Usage Report in Apps Manager
* **[Bug Fix]** Increase responsiveness of Apps Manager sidebar services count
* **[Bug Fix]** Remove suggestion to restage apps when binding the App Autoscaler to apps in Apps Manager, as it is not a necessary step
* **[Bug Fix]** Surface errors from Spring and Steeltoe trace actuator endpoint in Apps Manager
* **[Bug Fix]** Account for asynchronous Spring and Steeltoe health actuator endpoint responses in Apps Manager
* **[Bug Fix]** Fix bug that prevented users from navigating beyond first page of app revisions in Apps Manager
* **[Bug Fix]** Fix issue that caused Apps Manager to show a `404` after renaming an org
* **[Bug Fix]** Show full space and organization names, regardless of length, in Apps Manager
* **[Bug Fix]** Use more informative description 'Last Update' rather than 'Last Push' in Apps Manager
* **[Bug Fix]** Fix Race Condition in Loggregator Agent
* **[Bug Fix]** Make `encrypted_environment_variables` column type consistent between `revisions` and `apps` tables
* **[Bug Fix]** Cloud Controller no longer tries to connect to Copilot when it is not deployed
* Bump ubuntu-xenial stemcell to version `621.57`
* Bump capi to version `1.90.2`
* Bump cflinuxfs3 to version `0.166.0`
* Bump credhub to version `2.5.11`
* Bump diego to version `2.44.0`
* Bump dotnet-core-offline-buildpack to version `2.3.6`
* Bump go-offline-buildpack to version `1.9.7`
* Bump loggregator-agent to version `5.3.7`
* Bump nginx-offline-buildpack to version `1.1.5`
* Bump nodejs-offline-buildpack to version `1.7.13`
* Bump php-offline-buildpack to version `4.4.8`
* Bump push-usage-service-release to version `672.0.5`
* Bump python-offline-buildpack to version `1.7.8`
* Bump routing to version `0.198.0`
* Bump ruby-offline-buildpack to version `1.8.10`
* Add new release smoke-tests at version `2.0.5`
* Bump staticfile-offline-buildpack to version `1.5.4`
* Bump uaa to version `74.5.9`
* Removed cf-smoke-tests release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.57</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.90.2</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.24.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.166.0</td></tr>
    <tr><td>credhub</td><td>2.5.11</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.6</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.7</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.11</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.7</td></tr>
    <tr><td>loggregator</td><td>106.3.6</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.10.0</td></tr>
    <tr><td>nats</td><td>32</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.5</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.13</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.8</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.0</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.5</td></tr>
    <tr><td>pxc</td><td>0.22.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.8</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>routing</td><td>0.198.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.10</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.5</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.4</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.9</td></tr>
    <tr><td>uaa</td><td>74.5.9</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.9.0-beta.1'></a> 2.9.0-beta.1

**Release Date:** 02/07/2020

* **[Security Fix]** [CVE-2020-5399](https://nvd.nist.gov/vuln/detail/CVE-2020-5399) - Use TLS for MySQL database connections in Credhub
* **[Feature]** Allow users to view sidecars associated with their applications in Apps Manager
* **[Feature]** When Metric Store is installed, Apps Manager displays the metric overview for apps
* **[Feature Improvement]** Remove Service Mesh Configuration Form
* **[Feature Improvement]** The HSM Client Private Key for CredHub can be encrypted.
* **[Feature Improvement]** Use the Diego logging format for the Garden job
* **[Bug Fix]** Disable hostname validation for external DBs in routing-api, silk-controller, and policy-server
* **[Bug Fix]** HAProxy returns with HTTP/1.1 proto for 504s
* Bump ubuntu-xenial stemcell to version `621.51`
* Bump cflinuxfs3 to version `0.160.0`
* Bump credhub to version `2.5.10`
* Bump diego to version `2.42.0`
* Bump dotnet-core-offline-buildpack to version `2.3.4`
* Bump garden-runc to version `1.19.10`
* Bump go-offline-buildpack to version `1.9.5`
* Bump log-cache to version `2.6.11`
* Bump loggregator-agent to version `5.3.6`
* Bump loggregator to version `106.3.6`
* Bump mapfs to version `1.2.3`
* Bump mysql-monitoring to version `9.10.0`
* Bump nginx-offline-buildpack to version `1.1.4`
* Bump nodejs-offline-buildpack to version `1.7.9`
* Bump php-offline-buildpack to version `4.4.6`
* Bump push-apps-manager-release to version `672.0.0`
* Bump python-offline-buildpack to version `1.7.6`
* Bump routing to version `0.197.0`
* Bump ruby-offline-buildpack to version `1.8.8`
* Bump statsd-injector to version `1.11.15`
* Bump system-metrics-scraper to version `2.0.9`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.51</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.89.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.24.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.125</td></tr>
    <tr><td>cflinuxfs3</td><td>0.160.0</td></tr>
    <tr><td>credhub</td><td>2.5.10</td></tr>
    <tr><td>diego</td><td>2.42.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.4</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.5</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.11</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.6</td></tr>
    <tr><td>loggregator</td><td>106.3.6</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.10.0</td></tr>
    <tr><td>nats</td><td>32</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.4</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.9</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.6</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.0</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.8</td></tr>
    <tr><td>pxc</td><td>0.22.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.6</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>routing</td><td>0.197.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.8</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.3</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.9</td></tr>
    <tr><td>uaa</td><td>74.5.5</td></tr>
  </tbody>
</table>
 
 

### <a id='2.9.0-alpha.5'></a> 2.9.0-alpha.5

**Release Date:** 01/16/2020

* **[Security Fix]** Several security issues were fixed in MySQL [USN-4070-1](https://usn.ubuntu.com/4070-1/), [USN-4195-1](https://usn.ubuntu.com/4195-1/)
* **[Feature]** Expose <%= vars.app_runtime_abbr %> database metrics in the Healthwatch Indicator Protocol dashboard
* **[Bug Fix]** mapfs - Fix error when appending to a file
* Bump ubuntu-xenial stemcell to version `621.41`
* Bump binary-offline-buildpack to version `1.0.36`
* Bump cf-cli to version `1.24.0`
* Bump cf-smoke-tests to version `40.0.125`
* Bump cflinuxfs3 to version `0.153.0`
* Bump dotnet-core-offline-buildpack to version `2.3.3`
* Bump go-offline-buildpack to version `1.9.4`
* Bump log-cache to version `2.6.9`
* Bump loggregator-agent to version `5.3.3`
* Bump loggregator to version `106.3.4`
* Bump mysql-monitoring to version `9.9.0`
* Bump nginx-offline-buildpack to version `1.1.3`
* Bump nodejs-offline-buildpack to version `1.7.8`
* Bump php-offline-buildpack to version `4.4.5`
* Bump pxc to version `0.22.0`
* Bump python-offline-buildpack to version `1.7.5`
* Bump r-offline-buildpack to version `1.1.1`
* Bump ruby-offline-buildpack to version `1.8.6`
* Bump staticfile-offline-buildpack to version `1.5.3`
* Bump statsd-injector to version `1.11.12`
* Bump system-metrics-scraper to version `2.0.7`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.41</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.89.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.24.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.125</td></tr>
    <tr><td>cflinuxfs3</td><td>0.153.0</td></tr>
    <tr><td>credhub</td><td>2.5.9</td></tr>
    <tr><td>diego</td><td>2.41.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.3</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.4</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.9</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.3</td></tr>
    <tr><td>loggregator</td><td>106.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.9.0</td></tr>
    <tr><td>nats</td><td>32</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.3</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.8</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.5</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.8</td></tr>
    <tr><td>pxc</td><td>0.22.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.5</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.6</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.3</td></tr>
    <tr><td>statsd-injector</td><td>1.11.12</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.7</td></tr>
    <tr><td>uaa</td><td>74.12.0</td></tr>
  </tbody>
</table>

### <a id='2.9.0-alpha.4'></a> 2.9.0-alpha.4

**Release Date:** 12/26/2019

* **[Feature]**  Expose all platform metrics on Prometheus endpoints
* **[Feature Improvement]** Notifications service will skip hostname validation for external databases
* **[Feature Improvement]** Clarify wording of marketplace url help text in Apps Manager configuration
* **[Feature Improvement]** Remove vestigial nfs-volume SQL database and related properties
* **[Feature Improvement]** Add doppler.firehose and usage_service.audit to Apps Manager client
* **[Feature Improvement]** Always enable ssh-proxy TLS to backend instances to ensure widest compatibility mode with <%= vars.windows_runtime_abbr %> and IST
* **[Bug Fix]** Passwords containing commas no longer cause the SMB volume service to crash at startup with a "mount failed" error
* **[Bug Fix]** All CAPI jobs respect "Maximum disk quota per app"
* Bump ubuntu-xenial stemcell to version `621.29`
* Bump capi to version `1.89.0`
* Bump cf-smoke-tests to version `40.0.124`
* Bump cflinuxfs3 to version `0.151.0`
* Bump log-cache to version `2.6.7`
* Bump loggregator-agent to version `5.3.1`
* Bump loggregator to version `106.3.2`
* Add new release metrics-discovery at version `2.0.2`
* Bump mysql-monitoring to version `9.8.0`
* Bump nats to version `32`
* Bump smb-volume to version `2.1.1`
* Bump statsd-injector to version `1.11.11`
* Bump system-metrics-scraper to version `2.0.5`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.29</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.89.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.23.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.124</td></tr>
    <tr><td>cflinuxfs3</td><td>0.151.0</td></tr>
    <tr><td>credhub</td><td>2.5.9</td></tr>
    <tr><td>diego</td><td>2.41.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.2</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.3</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.7</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.1</td></tr>
    <tr><td>loggregator</td><td>106.3.2</td></tr>
    <tr><td>mapfs</td><td>1.2.2</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.8.0</td></tr>
    <tr><td>nats</td><td>32</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.4</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.2</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.8</td></tr>
    <tr><td>pxc</td><td>0.21.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.2</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.0</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.2</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.1</td></tr>
    <tr><td>statsd-injector</td><td>1.11.11</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.5</td></tr>
    <tr><td>uaa</td><td>74.12.0</td></tr>
  </tbody>
</table>

### <a id='2.9.0-alpha.3'></a> 2.9.0-alpha.3

**Release Date:** 12/09/2019

* **[Feature]** Make buildpacks configurable for Apps Manager, Invitations, and Search Server apps
* **[Feature]** Make App Graceful Shutdown Period configurable via Diego's "containers.graceful_shutdown_interval_in_seconds" property
* **[Feature Improvement]** Upgrade Routing, Networking, and Silk releases to use go 1.13 release
* **[Feature Improvement]** Replace conflicting `system-metrics-release`
* **[Feature Improvement]** Add option for Loggregator to send logs and metrics to log-cache syslog server
* **[Bug Fix]** S3 unversioned backup and restore now works if the unversioned target bucket used to be versioned
* **[Bug Fix]** Add length constraint to credhub internal encryption provider keys
* Bump ubuntu-xenial stemcell to version `621.26`
* Bump bpm to version `1.1.6`
* Bump cf-cli to version `1.23.0`
* Bump cf-networking to version `2.27.0`
* Bump cflinuxfs3 to version `0.150.0`
* Bump credhub to version `2.5.9`
* Bump diego to version `2.41.0`
* Bump garden-runc to version `1.19.9`
* Bump java-offline-buildpack to version `4.26`
* Bump log-cache to version `2.6.4`
* Bump loggregator-agent to version `5.2.4`
* Bump loggregator to version `106.3.0`
* Bump mapfs to version `1.2.2`
* Bump nfs-volume to version `6.0.0`
* Bump nodejs-offline-buildpack to version `1.7.4`
* Bump php-offline-buildpack to version `4.4.2`
* Bump push-usage-service-release to version `671.0.8`
* Bump pxc to version `0.21.0`
* Bump python-offline-buildpack to version `1.7.2`
* Bump r-offline-buildpack to version `1.1.0`
* Bump routing to version `0.196.0`
* Bump silk to version `2.27.0`
* Bump statsd-injector to version `1.11.8`
* Bump syslog to version `11.6.1`
* Add new release system-metrics-scraper at version `2.0.3`
* Bump uaa to version `74.12.0`
* Removed system-metrics release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.26</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.88.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.23.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.123</td></tr>
    <tr><td>cflinuxfs3</td><td>0.150.0</td></tr>
    <tr><td>credhub</td><td>2.5.9</td></tr>
    <tr><td>diego</td><td>2.41.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.2</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.3</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.4</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.4</td></tr>
    <tr><td>loggregator</td><td>106.3.0</td></tr>
    <tr><td>mapfs</td><td>1.2.2</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>30</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.4</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.2</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.8</td></tr>
    <tr><td>pxc</td><td>0.21.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.2</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.0</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.2</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.1</td></tr>
    <tr><td>statsd-injector</td><td>1.11.8</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.3</td></tr>
    <tr><td>uaa</td><td>74.12.0</td></tr>
  </tbody>
</table>

### <a id='2.9.0-alpha.2'></a> 2.9.0-alpha.2

**Release Date:** 11/20/2019

* **[Security Fix]** Address [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596)
* **[Feature Improvement]** Allow disabling the V2 firehose
* **[Feature Improvement]** The NFS Broker now only runs against credhub as its backing store and therefore we have removed the nfsbroker bbr jobs
* Bump ubuntu-xenial stemcell to version `621.23`
* Bump capi to version `1.88.0`
* Bump cf-cli to version `1.22.0`
* Bump cf-networking to version `2.26.0`
* Bump cf-smoke-tests to version `40.0.123`
* Bump cflinuxfs3 to version `0.144.0`
* Bump diego to version `2.40.0`
* Bump dotnet-core-offline-buildpack to version `2.3.2`
* Bump go-offline-buildpack to version `1.9.3`
* Bump nats to version `30`
* Bump nfs-volume to version `5.0.2`
* Bump nginx-offline-buildpack to version `1.1.1`
* Bump nodejs-offline-buildpack to version `1.7.2`
* Bump php-offline-buildpack to version `4.4.1`
* Bump python-offline-buildpack to version `1.7.1`
* Bump routing to version `0.193.0`
* Bump ruby-offline-buildpack to version `1.8.2`
* Bump silk to version `2.26.0`
* Bump smb-volume to version `2.1.0`
* Bump staticfile-offline-buildpack to version `1.5.1`
* Bump statsd-injector to version `1.11.3`
* Bump uaa to version `74.9.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.23</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>capi</td><td>1.88.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.22.0</td></tr>
    <tr><td>cf-networking</td><td>2.26.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.123</td></tr>
    <tr><td>cflinuxfs3</td><td>0.144.0</td></tr>
    <tr><td>credhub</td><td>2.5.6</td></tr>
    <tr><td>diego</td><td>2.40.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.2</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.3</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.24</td></tr>
    <tr><td>log-cache</td><td>2.6.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.0</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>30</td></tr>
    <tr><td>nfs-volume</td><td>5.0.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.2</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.1</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.7</td></tr>
    <tr><td>pxc</td><td>0.20.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.1</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.13</td></tr>
    <tr><td>routing</td><td>0.193.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.2</td></tr>
    <tr><td>silk</td><td>2.26.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.1</td></tr>
    <tr><td>statsd-injector</td><td>1.11.3</td></tr>
    <tr><td>syslog</td><td>11.6.0</td></tr>
    <tr><td>system-metrics</td><td>1.0.1</td></tr>
    <tr><td>uaa</td><td>74.9.0</td></tr>
  </tbody>
</table>

### <a id='2.9.0-alpha.1'></a> 2.9.0-alpha.1

**Release Date:** 11/06/2019

* **[Feature]** Add checkbox to enable client basic auth compatibility mode in UAA
* Bump ubuntu-xenial stemcell to version `456.51`
* Bump cf-smoke-tests to version `40.0.122`
* Bump cflinuxfs3 to version `0.140.0`
* Bump loggregator-agent to version `5.2.0`
* Bump loggregator to version `106.2.0`
* Bump mapfs to version `1.2.1`
* Bump smb-volume to version `2.0.4`
* Bump statsd-injector to version `1.11.2`
* Bump syslog to version `11.6.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>456.51</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>capi</td><td>1.87.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.21.0</td></tr>
    <tr><td>cf-networking</td><td>2.25.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.122</td></tr>
    <tr><td>cflinuxfs3</td><td>0.140.0</td></tr>
    <tr><td>credhub</td><td>2.5.6</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.1</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.1</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.24</td></tr>
    <tr><td>log-cache</td><td>2.6.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.0</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>2.3.1</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.0</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.0</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.0</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.7</td></tr>
    <tr><td>pxc</td><td>0.20.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.6.37</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.0.13</td></tr>
    <tr><td>routing</td><td>0.192.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.1</td></tr>
    <tr><td>silk</td><td>2.25.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.4</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.0</td></tr>
    <tr><td>statsd-injector</td><td>1.11.2</td></tr>
    <tr><td>syslog</td><td>11.6.0</td></tr>
    <tr><td>system-metrics</td><td>1.0.1</td></tr>
    <tr><td>uaa</td><td>74.5.0</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

To upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).

When upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, be aware of the following upgrade considerations:

* If you previously used an earlier version of <%= vars.app_runtime_abbr %>, you must first upgrade to <%= vars.app_runtime_abbr %> v2.8 to successfully upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.

* Some partner service tiles may be incompatible with <%= vars.platform_name %> <%= vars.v_major_version %>.
  VMware is working with partners to ensure their tiles are updated to work with the latest versions of <%= vars.platform_name %>.
  <br/><br/> For information about which partner service releases are currently compatible with <%= vars.platform_name %>
  <%= vars.v_major_version %>, review the appropriate partners services release documentation
  at [https://docs.pivotal.io](https://docs.pivotal.io) or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='app-graceful-shutdown'></a> Increase App Graceful Shutdown Period

You can increase the graceful shutdown period for your apps.

When <%= vars.app_runtime_abbr %> requests a shutdown of app instances, the processes in app containers have a period of time to gracefully shut down before the processes are forcefully terminated. The default, minimum graceful shutdown period is 10 seconds. If your apps require a longer period of time to finish in-flight jobs and gracefully shutdown, you can increase the graceful shutdown period in the **Advanced Features** pane of the <%= vars.app_runtime_abbr %> tile.

For more information, see [Shutdown](https://docs.pivotal.io/platform/application-service/2-9/devguide/deploy-apps/app-lifecycle.html#shutdown) in _App Container Lifecycle_ and [Configure Advanced Features](http://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#advanced) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='java-buildpack-sidecars'></a> Deploy Sidecar Processes for Java Apps with a Buildpack (Beta)

You can use a custom buildpack to deploy a sidecar process alongside your Java app. 

Previously, you could only use an app manifest to deploy a sidecar for a Java app.

For more information, see [Sidecar Buildpacks](https://docs.pivotal.io/platform/application-service/2-9/buildpacks/sidecar-buildpacks.html).

### <a id='app-log-limit'></a> Configure App Log Rate Limit (Beta)

You can limit the number of log lines each app instance generates per second by configuring the **App log rate limit (beta)** section in the **App Containers** pane of the <%= vars.app_runtime_abbr %> tile.

This feature is disabled by default. Enabling this feature prevents app instances from overloading the Loggregator Agent with logs, so the Loggregator Agent does not drop logs for other app instances. Enabling this feature also prevents apps from reporting inaccurate app metrics in the Cloud Foundry Command Line Interface (cf CLI) or increasing the CPU usage on the Diego Cell VM.

For more information, see [Configure App Containers](http://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#application-containers-config) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='apps-manager-buildpacks'></a> Configure Buildpacks for Apps Manager

You can configure the Apps Manager, Search Server, and Invitations apps to deploy with buildpacks you specify. To specify which buildpacks you want these apps to use, enter them in the **Apps Manager** pane of the <%= vars.app_runtime_abbr %> tile. For more information, see [Configure Custom Branding and Apps Manager](https://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#customize-apps-man) in _Configuring <%= vars.app_runtime_abbr %>_.

If you do not specify a buildpack, <%= vars.app_runtime_abbr %> uses the detection process to determine a single buildpack to use. For more information about the detection process, see [Buildpack Detection](https://docs.pivotal.io/platform/application-service/2-9/buildpacks/understand-buildpacks.html#buildpack-detection) in _How Buildpacks Work in <%= vars.app_runtime_abbr %>_.

### <a id='nats-tls'></a> NATS Shares Messages with NATS TLS

The `nats-tls` job is added to the NATS VM. 
This job configures the Diego route emitter to send routing information to NATS, which then shares that information with NATS TLS.

For more information about routing architecture in <%= vars.app_runtime_abbr %>, 
see [<%= vars.app_runtime_abbr %> Routing Architecture](https://docs.pivotal.io/platform/application-service/2-9/concepts/cf-routing-architecture.html). 

For more information about outbound network communication paths from Diego, 
see [Outbound Communications](https://docs.pivotal.io/platform/2-9/security/networking/diego-network-paths.html#outbound) in _Diego Network Communications_. 

For more information about how NATS TLS affects routing in <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>), 
see [<%= vars.windows_runtime_abbr %> Uses Route Emitters to Communicate with NATS Over TLS](windows-rn.html#route-emitters) in _<%= vars.windows_runtime_full %> <%= vars.v_major_version %> Release Notes_.

### <a id='tls-external-databases'></a> Hostname Validation Enabled By Default for External Databases

An **Enable hostname validation** checkbox is added to the <%= vars.app_runtime_abbr %> **Databases** pane.
When **Enable hostname validation** is selected for an external database with TLS enabled,
<%= vars.app_runtime_abbr %> verifies the hostname of the external database
for communication between <%= vars.app_runtime_abbr %> and the external database.

The **Enable hostname validation** checkbox is selected by default. For more information about enabling hostname validation or enabling TLS for external databases, see [Configure Databases](https://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#sys-db) in _Configure <%= vars.app_runtime_abbr %>_.

<p class="note warning">
<b>Warning:</b> If your deployment uses a GCP or Azure external database for <%= vars.app_runtime_abbr %> and TLS is enabled for the database, you must deselect the <strong>Enable hostname validation</strong> checkbox. For more information, see <a href="https://docs.pivotal.io/platform/2-9/upgrading/checklist.html#disable-hostname-validation">Disable Hostname Validation for External Databases on GCP and Azure</a> in <em>Upgrade Preparation Checklist</em>.
</p>

<p class="note">
<b>Note:</b> The <strong>Enable hostname validation</strong> checkbox does not enable hostname validation for communication between <%= vars.app_runtime_abbr %> components and external CredHub databases. To enable or disable hostname validation for CredHub external databases, see <a href="https://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#credhub">Configure CredHub</a> in <em>Configure <%= vars.app_runtime_abbr %></em>.
</p>

### <a id='app-revisions'></a> App Revisions Are Enabled by Default (Beta)

App revisions are enabled by default.

To disable revisions in an app, you must manually turn them off using your Cloud Foundry API (CAPI) endpoint. For more information, see [Disable Revisions for an App](https://docs.pivotal.io/platform/application-service/2-9/devguide/revisions.html#disable) in _App Revisions_.

### <a id='view-sidecars'></a> View Sidecar Processes in Apps Manager (Beta)

You can view sidecar processes associated with your apps through the Apps Manager UI. 

To view the sidecars for an app in Apps Manager:

1. Go to the **Overview** page for the app. 
1. Under **Processes and Instances**, see **Sidecars**.

For more information about viewing sidecar processes in Apps Manager, see [View Sidecar Processes](https://docs.pivotal.io/platform/application-service/2-9/console/manage-apps.html#view-sidecars) in _Managing Apps and Service Instances Using Apps Manager_. 

For more information about sidecar processes, see [Pushing Apps with Sidecar Processes (Beta)](https://docs.pivotal.io/platform/application-service/2-9/devguide/sidecars.html).

### <a id='view-key-metrics'></a> View Key Metrics in Apps Manager (Beta)

If Metric Store is installed, you can view key metrics for an app on the app **Overview** page in Apps Manager.

The key metrics are CPU, Memory, Disk, Request Latency, Request Rate, and Request Errors.

For each metric, the **Overview** page includes a graph that shows metric behavior over the past three hours.
The page also displays the average value for the metric over the past three hours. 

For information about how to install Metric Store, see [Metric Store](https://docs.pivotal.io/metric-store).

For more information about viewing key metrics for your apps,
see [Manage an App](https://docs.pivotal.io/platform/application-service/2-9/console/manage-apps.html#manage-app) in _Using Apps Manager_.

### <a id='log-metric-agent-arhcitecture'></a> Log and Metric Agent Architecture (Beta)

The Log and Metric Agent Architecture includes components that collect, store, and forward logs and metrics in your deployment. The components of the Log and Metric Agent Architecture use a shared-nothing architecture that requires several fewer VMs than the Loggregator system.

To use the Log and Metric Agent Architecture components, you must also configure Syslog Agents, aggregate drains, and Log Cache to send logs to a shared destination. To configure these components, see [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-9/operating/configure-pas.html#sys-logging) in _Configuring <%= vars.app_runtime_abbr %>_.

For more information about the Log and Metric Agent Architecture, see [Log and Metric Agent Architecture (Beta)](http://docs.pivotal.io/platform/application-service/2-9/loggregator/agent-architecture.html).


## <a id='known-issues'></a> Known Issues

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:

### <a id='nfs-broker-errand'></a> Run NFS Broker Errand Before Upgrade

If you are using NFS Volume Services, you must run the **NFS Broker Errand** errand before upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>. Running this errand in <%= vars.app_runtime_abbr %> v2.8 migrates existing service instances for NFS Volume Services from MySQL to CredHub.

If you do not run the errand in <%= vars.app_runtime_abbr %> v2.8, you may be unable to bind apps to existing NFS Volume Service service instances after upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.

### <a id='disable-firehose-smoke-test-errand'></a> Disable the Smoke Test Errand If You Disable the Firehose

If you disable the V1 or V2 Firehose in <%= vars.app_runtime_abbr %> v2.9, you must also disable the smoke test errand.

If you do not disable the smoke test errand, the deploy fails with an error similar to the following:

```
[91m[1m[Fail] [0m[90mLoggregator: [0m[0mcf logs [0m[90mlinux [0m[91m[1m[It] can see app messages in the logs [0m  
          [37m/var/vcap/packages/smoke_tests/src/github.com/cloudfoundry/cf-smoke-tests/smoke/logging/loggregator_test.go:42[0m  
          [1m[91mRan 1 of 2 Specs in 56.171 seconds[0m  
          [1m[91mFAIL![0m -- [32m[1m0 Passed[0m | [91m[1m1 Failed[0m | [33m[1m0 Pending[0m | [36m[1m1 Skipped[0m  
          --- FAIL: TestSmokeTests (56.17s)  
          FAIL  
          Ginkgo ran 2 suites in 1m7.050120251s  
          Test Suite Failed  
Stderr     Error: failed to run job-process: exit status 1 (exit status 1)
```

To disable the smoke test errand,
see [Errands Pane: Persistent Rules](https://docs.pivotal.io/platform/2-9/customizing/managing_errands.html#errands-pane)
in _Managing Errands in Ops Manager_.

### <a id='cf-cli-firehose-errors'></a> Errors Viewing App Logs after Disabling V1 and V2 Firehose

<%= partial "/pcf/app-service-kis/cf_cli_errors_disable_firehose" %>

