---
title: Tanzu Application Service v2.10 Release Notes
owner: Release Engineering
---

<% current_page.data.title = vars.app_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.10.0-rc.5'></a> 2.10.0-rc.5

**Release Date:** 07/09/2020

* **[Security Fix]** Stop logging credentials in Autoscaler app
* **[Bug Fix]** For sets of logs larger than 4MB, Apps Manager does not make requests to log cache with an invalid log limit
* **[Bug Fix]** Restore access to Log Cache service logs
* **[Bug fix]** Display correct guid for App subresources in v2 GET response
* **[Bug fix]** Fix bug impacting hybrid grant flow with external oauth providers
* Bump capi to version `1.95.2`
* Bump cf-autoscaling to version `232`
* Bump cflinuxfs3 to version `0.197.0`
* Bump log-cache to version `2.7.2`
* Bump push-apps-manager-release to version `672.0.11`
* Bump uaa to version `74.5.18`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.76</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.2</td></tr>
    <tr><td>cf-autoscaling</td><td>232</td></tr>
    <tr><td>cf-cli</td><td>1.26.0</td></tr>
    <tr><td>cf-networking</td><td>2.30.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.197.0</td></tr>
    <tr><td>credhub</td><td>2.6.1</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.9</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.12</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.31</td></tr>
    <tr><td>log-cache</td><td>2.7.2</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.10</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.8</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.18</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.13</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.11</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.10</td></tr>
    <tr><td>pxc</td><td>0.25.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.13</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.4</td></tr>
    <tr><td>routing</td><td>0.201.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.17</td></tr>
    <tr><td>silk</td><td>2.30.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.6</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.12</td></tr>
    <tr><td>uaa</td><td>74.5.18</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.0-rc.4'></a> 2.10.0-rc.4

**Release Date:** 06/25/2020

* **[Feature Improvement]** Enable configuration for additional system metrics
* **[Feature Improvement]** BOSH System Metrics can now be configured
* **[Bug Fix]** Purged and re-seeded AppUsageEvents now contain parent app guid/name
* **[Bug Fix]** Fix Autoscaler logging to respect the 'Enable Verbose Logging' checkbox
* **[Bug Fix]** Remove invalid characters in hostnames in outgoing application syslog messages to comply with [RFC 5424](https://tools.ietf.org/html/rfc5424)
* **[BUG FIX]** Backfill missing service names in usage service historical data
* Bump ubuntu-xenial stemcell to version `621.76`
* Bump capi to version `1.92.4`
* Bump cflinuxfs3 to version `0.195.0`
* Bump diego to version `2.47.0`
* Bump java-offline-buildpack to version `4.31`
* Bump loggregator-agent to version `6.0.2`
* Bump push-usage-service-release to version `673.0.10`
* Bump system-metrics-scraper to version `2.0.12`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.76</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.92.4</td></tr>
    <tr><td>cf-autoscaling</td><td>230</td></tr>
    <tr><td>cf-cli</td><td>1.26.0</td></tr>
    <tr><td>cf-networking</td><td>2.30.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.195.0</td></tr>
    <tr><td>credhub</td><td>2.6.1</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.9</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.12</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.31</td></tr>
    <tr><td>log-cache</td><td>2.7.1</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.10</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.8</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.18</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.13</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.10</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.10</td></tr>
    <tr><td>pxc</td><td>0.25.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.13</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.4</td></tr>
    <tr><td>routing</td><td>0.201.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.17</td></tr>
    <tr><td>silk</td><td>2.30.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.6</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.12</td></tr>
    <tr><td>uaa</td><td>74.5.17</td></tr>
  </tbody>
</table>
 
 

### <a id='2.10.0-rc.3'></a> 2.10.0-rc.3

**Release Date:** 06/11/2020

* **[Feature Improvement]** Use same s3 path style as CAPI for Backup and Restore
* **[Feature Improvement]** Service instances can send metrics to logcache over syslog
* **[Feature Improvement]** Removes metrics by default in aggregate drains
* **[Bug Fix]** Update App Metrics UAA client to support cloud_controller.admin scope
* **[Bug Fix]** Fix issue with disabling route services
* **[Bug Fix]** Usage Service - Backfill missing service name fields in usage reports
* **[Bug Fix]** Fix issue preventing rolling deployments from working with Windows apps
* **[Bug Fix]** Gorouter - Drain timeout always uses configured value
* **[Bug Fix]** Silk - Continue container networking during cell drain
* **[Bug Fix]** Pass through arbitrary parameters when binding a service to a route in Apps Manager
* **[Bug Fix]** Prevent click into Apps Manager search bar from erroring out when data is not fully loaded
* Bump ubuntu-xenial stemcell to version `621.75`
* Bump backup-and-restore-sdk to version `1.18.0`
* Bump capi to version `1.92.3`
* Bump cf-networking to version `2.30.0`
* Bump cflinuxfs3 to version `0.192.0`
* Bump push-apps-manager-release to version `672.0.10`
* Bump push-usage-service-release to version `673.0.8`
* Bump routing to version `0.201.0`
* Bump silk to version `2.30.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.75</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.92.3</td></tr>
    <tr><td>cf-autoscaling</td><td>230</td></tr>
    <tr><td>cf-cli</td><td>1.26.0</td></tr>
    <tr><td>cf-networking</td><td>2.30.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.192.0</td></tr>
    <tr><td>credhub</td><td>2.6.1</td></tr>
    <tr><td>diego</td><td>2.45.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.9</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.12</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.29.1</td></tr>
    <tr><td>log-cache</td><td>2.7.1</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.0</td></tr>
    <tr><td>loggregator</td><td>106.3.10</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.8</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.18</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.13</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.10</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.8</td></tr>
    <tr><td>pxc</td><td>0.25.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.13</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.4</td></tr>
    <tr><td>routing</td><td>0.201.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.17</td></tr>
    <tr><td>silk</td><td>2.30.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.6</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.10</td></tr>
    <tr><td>uaa</td><td>74.5.17</td></tr>
  </tbody>
</table>



### <a id='2.10.0-rc.2'></a> 2.10.0-rc.2

**Release Date:** 06/03/2020

* **[Security Fix]** Fix minor CVEs in Credhub server from dependent libraries
* **[Feature]** Optionally Converge on Human Readable Timestamps for TAS Component Logs
* **[Feature]** Allow egress traffic from apps to addresses on host via host_tcp_services
* **[Bug Fix]** Safeguard against unavailable stack traces in Spring and Steeltoe threaddump actuator endpoint in Apps Manager
* **[Bug Fix]** Update Reverse Log Proxies to fix shutdown issues in Loggregator
* **[Bug Fix]** Allow Usage Service to work with an external platform database which does not have the correct hostname in its certificate
* **[Bug Fix]** Migrate `services/intermediate_tls_ca` to `/services/tls_leaf` for Maestro
* **[Bug Fix]** Add a new cache configuration to the NFS service allowing service instances to enable file attribute caching and achieve directory listing performance similar to the nfs-legacy service
* Bump cflinuxfs3 to version `0.189.0`
* Bump credhub to version `2.6.1`
* Bump go-offline-buildpack to version `1.9.12`
* Bump loggregator to version `106.3.10`
* Bump metrics-discovery to version `3.0.0`
* Bump nfs-volume to version `7.0.3`
* Bump nodejs-offline-buildpack to version `1.7.18`
* Bump push-apps-manager-release to version `672.0.8`
* Bump push-usage-service-release to version `673.0.7`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.74</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.4</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.92.0</td></tr>
    <tr><td>cf-autoscaling</td><td>230</td></tr>
    <tr><td>cf-cli</td><td>1.26.0</td></tr>
    <tr><td>cf-networking</td><td>2.29.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.189.0</td></tr>
    <tr><td>credhub</td><td>2.6.1</td></tr>
    <tr><td>diego</td><td>2.45.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.9</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.12</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.29.1</td></tr>
    <tr><td>log-cache</td><td>2.7.1</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.0</td></tr>
    <tr><td>loggregator</td><td>106.3.10</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.8</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.18</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.13</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.8</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.7</td></tr>
    <tr><td>pxc</td><td>0.25.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.13</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.4</td></tr>
    <tr><td>routing</td><td>0.200.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.17</td></tr>
    <tr><td>silk</td><td>2.29.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.6</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.10</td></tr>
    <tr><td>uaa</td><td>74.17.0</td></tr>
  </tbody>
</table>



### <a id='2.10.0-rc.1'></a> 2.10.0-rc.1

**Release Date:** 05/19/2020

* **[Security Fix]** Support various CVE impacted components
* Bump ubuntu-xenial stemcell to version `621.74`
* Bump cf-autoscaling to version `230`
* Bump cflinuxfs3 to version `0.183.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.74</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.4</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.92.0</td></tr>
    <tr><td>cf-autoscaling</td><td>230</td></tr>
    <tr><td>cf-cli</td><td>1.26.0</td></tr>
    <tr><td>cf-networking</td><td>2.29.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.183.0</td></tr>
    <tr><td>credhub</td><td>2.6.0</td></tr>
    <tr><td>diego</td><td>2.45.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.9</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.11</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.29.1</td></tr>
    <tr><td>log-cache</td><td>2.7.1</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.0</td></tr>
    <tr><td>loggregator</td><td>106.3.9</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.9</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.8</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.17</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.13</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.7</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.8</td></tr>
    <tr><td>pxc</td><td>0.25.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.13</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.4</td></tr>
    <tr><td>routing</td><td>0.200.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.17</td></tr>
    <tr><td>silk</td><td>2.29.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.6</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.10</td></tr>
    <tr><td>uaa</td><td>74.17.0</td></tr>
  </tbody>
</table>



### <a id='2.10.0-beta.1'></a> 2.10.0-beta.1

**Release Date:** 05/05/2020

* **[Feature Improvement]** V1 Firehose is now disabled by default
* **[Feature Improvement]** Sticky Session Cookie Names Are Configurable
* **[Feature Improvement]** NATS TLS server runs alongside NATS server
* **[Bug Fix]** Fix the way cf-auth-proxy metrics are reported
* **[Bug Fix]** Fix bug that caused Apps Manager to error out on clicking into the search bar
* **[Bug Fix]** Show full list of jobs for an app in Apps Manager
* Bump ubuntu-xenial stemcell to version `621.71`
* Bump bosh-system-metrics-forwarder to version `0.0.19`
* Bump cf-networking to version `2.29.0`
* Bump cflinuxfs3 to version `0.178.0`
* Bump credhub to version `2.6.0`
* Bump dotnet-core-offline-buildpack to version `2.3.9`
* Bump garden-runc to version `1.19.11`
* Bump go-offline-buildpack to version `1.9.11`
* Bump log-cache to version `2.7.1`
* Bump loggregator-agent to version `6.0.0`
* Bump mysql-monitoring to version `9.12.0`
* Bump nats to version `34`
* Bump nginx-offline-buildpack to version `1.1.8`
* Bump nodejs-offline-buildpack to version `1.7.17`
* Bump php-offline-buildpack to version `4.4.13`
* Bump push-apps-manager-release to version `672.0.7`
* Bump push-usage-service-release to version `672.0.8`
* Bump pxc to version `0.25.0`
* Bump python-offline-buildpack to version `1.7.13`
* Bump r-offline-buildpack to version `1.1.4`
* Bump routing to version `0.200.0`
* Bump ruby-offline-buildpack to version `1.8.17`
* Bump silk to version `2.29.0`
* Bump staticfile-offline-buildpack to version `1.5.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.71</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.4</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.92.0</td></tr>
    <tr><td>cf-autoscaling</td><td>226</td></tr>
    <tr><td>cf-cli</td><td>1.26.0</td></tr>
    <tr><td>cf-networking</td><td>2.29.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.178.0</td></tr>
    <tr><td>credhub</td><td>2.6.0</td></tr>
    <tr><td>diego</td><td>2.45.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.9</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.11</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.29.1</td></tr>
    <tr><td>log-cache</td><td>2.7.1</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.0</td></tr>
    <tr><td>loggregator</td><td>106.3.9</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.9</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.8</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.17</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.13</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.7</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.8</td></tr>
    <tr><td>pxc</td><td>0.25.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.13</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.4</td></tr>
    <tr><td>routing</td><td>0.200.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.17</td></tr>
    <tr><td>silk</td><td>2.29.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.6</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.10</td></tr>
    <tr><td>uaa</td><td>74.17.0</td></tr>
  </tbody>
</table>



### <a id='2.10.0-alpha.5'></a> 2.10.0-alpha.5

**Release Date:** 04/22/2020

* **[Feature]** HAProxy can now be configured with custom certificate authorities
* **[Feature Improvement]** Autoscaler uses TLS to communicate with its database
* **[Feature Improvement]** Allow configuration of system metrics scrape interval
* **[Bug Fix]** Fix Certificates in CredHub KMS Provider Interface
* **[Bug Fix]** Fix `server_name` value to use Common Name as metrics_agent_metrics_tls
* Bump ubuntu-xenial stemcell to version `621.64`
* Bump cf-cli to version `1.26.0`
* Bump cflinuxfs3 to version `0.175.0`
* Bump haproxy to version `10.0.0`
* Bump mapfs to version `1.2.4`
* Bump nfs-volume to version `7.0.2`
* Bump uaa to version `74.17.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.64</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.4</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.92.0</td></tr>
    <tr><td>cf-autoscaling</td><td>226</td></tr>
    <tr><td>cf-cli</td><td>1.26.0</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.175.0</td></tr>
    <tr><td>credhub</td><td>2.5.11</td></tr>
    <tr><td>diego</td><td>2.45.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.7</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.8</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.29.1</td></tr>
    <tr><td>log-cache</td><td>2.6.12</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>loggregator</td><td>106.3.9</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.9</td></tr>
    <tr><td>mysql-monitoring</td><td>9.11.0</td></tr>
    <tr><td>nats</td><td>32</td></tr>
    <tr><td>nfs-volume</td><td>7.0.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.6</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.15</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.9</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.6</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.7</td></tr>
    <tr><td>pxc</td><td>0.24.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.10</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.2</td></tr>
    <tr><td>routing</td><td>0.199.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.14</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.5</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.10</td></tr>
    <tr><td>uaa</td><td>74.17.0</td></tr>
  </tbody>
</table>



### <a id='2.10.0-alpha.4'></a> 2.10.0-alpha.4

**Release Date:** 04/07/2020

* **[Feature]** Allow Zero Instances of MySQL Monitor
* **[Feature Improvement]** Apps Manager revisions tab only shows the 'Redeploy' option for revisions that can be redeployed
* **[Bug Fix]** Make app status in Apps Manager more accurate by replacing 'Crashed' status with 'Down' status
* **[Bug Fix]** Enable users to view logs larger than 4MB in Apps Manager
* **[Bug Fix]** Honor option to hide service plan prices in Apps Manager services tables
* **[Bug Fix]** Expose buildpack versions in app page settings tab of Apps Manager
* **[Bug Fix]** Account for numerical statuses in Spring and Steeltoe health actuator endpoints in Apps Manager
* **[Bug Fix]** Fix error when viewing app settings tab in Apps Manager while restarting a Spring or Steeltoe app is in progress
* Bump ubuntu-xenial stemcell to version `621.61`
* Bump backup-and-restore-sdk to version `1.17.4`
* Bump cf-autoscaling to version `226`
* Bump cflinuxfs3 to version `0.174.0`
* Bump diego to version `2.45.0`
* Bump dotnet-core-offline-buildpack to version `2.3.7`
* Bump go-offline-buildpack to version `1.9.8`
* Bump java-offline-buildpack to version `4.29.1`
* Bump loggregator-agent to version `5.3.8`
* Bump loggregator to version `106.3.9`
* Bump nfs-volume to version `7.0.1`
* Bump nginx-offline-buildpack to version `1.1.6`
* Bump nodejs-offline-buildpack to version `1.7.15`
* Bump php-offline-buildpack to version `4.4.9`
* Bump push-apps-manager-release to version `672.0.6`
* Bump push-usage-service-release to version `672.0.7`
* Bump python-offline-buildpack to version `1.7.10`
* Bump r-offline-buildpack to version `1.1.2`
* Bump routing to version `0.199.0`
* Bump ruby-offline-buildpack to version `1.8.14`
* Bump smb-volume to version `3.0.1`
* Bump smoke-tests to version `2.2.0`
* Bump staticfile-offline-buildpack to version `1.5.5`
* Bump uaa to version `74.16.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.61</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.4</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.92.0</td></tr>
    <tr><td>cf-autoscaling</td><td>226</td></tr>
    <tr><td>cf-cli</td><td>1.25.0</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.174.0</td></tr>
    <tr><td>credhub</td><td>2.5.11</td></tr>
    <tr><td>diego</td><td>2.45.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.7</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.8</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.29.1</td></tr>
    <tr><td>log-cache</td><td>2.6.12</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>loggregator</td><td>106.3.9</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.9</td></tr>
    <tr><td>mysql-monitoring</td><td>9.11.0</td></tr>
    <tr><td>nats</td><td>33</td></tr>
    <tr><td>nfs-volume</td><td>7.0.1</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.6</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.15</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.9</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.6</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.7</td></tr>
    <tr><td>pxc</td><td>0.24.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.10</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.2</td></tr>
    <tr><td>routing</td><td>0.199.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.14</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.5</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.10</td></tr>
    <tr><td>uaa</td><td>74.16.0</td></tr>
  </tbody>
</table>



### <a id='2.10.0-alpha.3'></a> 2.10.0-alpha.3

**Release Date:** 03/13/2020

* **[Security Fix]** Improve autoscaler HTTP throughput calculation performance and omit DATABASE_URL from logs
* **[Feature Improvement]** Add a toggle to enable hostname validation for database connections
* Bump ubuntu-xenial stemcell to version `621.59`
* Bump capi to version `1.92.0`
* Bump cf-autoscaling to version `223`
* Bump cf-cli to version `1.25.0`
* Bump cflinuxfs3 to version `0.169.0`
* Bump metrics-discovery to version `2.0.9`
* Bump notifications-ui to version `37`
* Bump ruby-offline-buildpack to version `1.8.12`
* Bump smoke-tests to version `2.0.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.59</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.92.0</td></tr>
    <tr><td>cf-autoscaling</td><td>223</td></tr>
    <tr><td>cf-cli</td><td>1.25.0</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.169.0</td></tr>
    <tr><td>credhub</td><td>2.5.11</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.6</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.7</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.12</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.7</td></tr>
    <tr><td>loggregator</td><td>106.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.9</td></tr>
    <tr><td>mysql-monitoring</td><td>9.11.0</td></tr>
    <tr><td>nats</td><td>33</td></tr>
    <tr><td>nfs-volume</td><td>7.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.5</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.13</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.8</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.5</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.5</td></tr>
    <tr><td>pxc</td><td>0.24.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.8</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>routing</td><td>0.198.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.12</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.0</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.4</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.10</td></tr>
    <tr><td>uaa</td><td>74.15.0</td></tr>
  </tbody>
</table>



### <a id='2.10.0-alpha.2'></a> 2.10.0-alpha.2

**Release Date:** 03/05/2020

* **[Feature]** Support Maestro's rotation capability by adding Services TLS CA to all App containers
* **[Feature]** Make app log rate limit configurable
* **[Feature]** New and improved smoke-tests for Application Service
* **[Feature Improvement]** Allow the Cloud Controller to use Domain Style URLs for AWS S3 Access
* **[Feature Improvement]** Allow users to specify a list of URIs for other foundations that Apps Manager manages
* **[Feature Improvement]** Add the ability to scale down to 0 for `loggregator_trafficontroller`
* **[Feature Improvement]** Allow users to cancel rolling deployments in process from the Apps Manager Revisions page for an application
* **[Bug Fix]** Cloud Controller no longer tries to connect to Copilot when it is not deployed
* Bump ubuntu-xenial stemcell to version `621.57`
* Bump bpm to version `1.1.7`
* Bump capi to version `1.91.0`
* Bump cflinuxfs3 to version `0.166.0`
* Bump diego to version `2.44.0`
* Bump dotnet-core-offline-buildpack to version `2.3.6`
* Bump go-offline-buildpack to version `1.9.7`
* Bump loggregator-agent to version `5.3.7`
* Bump nats to version `33`
* Bump nginx-offline-buildpack to version `1.1.5`
* Bump nodejs-offline-buildpack to version `1.7.13`
* Bump php-offline-buildpack to version `4.4.8`
* Bump push-apps-manager-release to version `672.0.5`
* Bump pxc to version `0.24.0`
* Bump python-offline-buildpack to version `1.7.8`
* Bump ruby-offline-buildpack to version `1.8.10`
* Add new release smoke-tests at version `2.0.5`
* Bump staticfile-offline-buildpack to version `1.5.4`
* Bump uaa to version `74.15.0`
* Removed cf-smoke-tests release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.57</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.91.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.24.0</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.166.0</td></tr>
    <tr><td>credhub</td><td>2.5.11</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.6</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.7</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.12</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.7</td></tr>
    <tr><td>loggregator</td><td>106.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.11.0</td></tr>
    <tr><td>nats</td><td>33</td></tr>
    <tr><td>nfs-volume</td><td>7.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.5</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.13</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.8</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.5</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.5</td></tr>
    <tr><td>pxc</td><td>0.24.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.8</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>routing</td><td>0.198.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.10</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.0</td></tr>
    <tr><td>smoke-tests</td><td>2.0.5</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.4</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.10</td></tr>
    <tr><td>uaa</td><td>74.15.0</td></tr>
  </tbody>
</table>



### <a id='2.10.0-alpha.1'></a> 2.10.0-alpha.1

**Release Date:** 02/11/2020

* **[Feature Improvement]** Remove Service Mesh Configuration Form
* **[Feature Improvement]** The HSM Client Private Key for CredHub can be encrypted.
* **[Feature Improvement]** Use the Diego logging format for the Garden job
* **[Bug Fix]** Disable hostname validation for external DBs in routing-api, silk-controller, and policy-server
* **[Bug Fix]** HAProxy returns with HTTP/1.1 proto for 504s
* No release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.55</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>capi</td><td>1.89.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.24.0</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.127</td></tr>
    <tr><td>cflinuxfs3</td><td>0.162.0</td></tr>
    <tr><td>credhub</td><td>2.5.11</td></tr>
    <tr><td>diego</td><td>2.43.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.4</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.5</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.12</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.6</td></tr>
    <tr><td>loggregator</td><td>106.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.11.0</td></tr>
    <tr><td>nats</td><td>32</td></tr>
    <tr><td>nfs-volume</td><td>7.0.0</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.4</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.9</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.6</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.0</td></tr>
    <tr><td>push-usage-service-release</td><td>672.0.5</td></tr>
    <tr><td>pxc</td><td>0.22.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.6</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>routing</td><td>0.198.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.8</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.3</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.10</td></tr>
    <tr><td>uaa</td><td>74.13.0</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

To upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).

When upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, be aware of the following upgrade considerations:

* If you previously used an earlier version of <%= vars.app_runtime_abbr %>, you must first upgrade to <%= vars.app_runtime_abbr %> v2.8 to successfully upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.

* Some partner service tiles may be incompatible with <%= vars.platform_name %> <%= vars.v_major_version %>.
  VMware is working with partners to ensure their tiles are updated to work with the latest versions of <%= vars.platform_name %>.
  <br/><br/> For information about which partner service releases are currently compatible with <%= vars.platform_name %>
  <%= vars.v_major_version %>, review the appropriate partners services release documentation
  at [https://docs.pivotal.io](https://docs.pivotal.io) or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='syslog-no-metrics'></a>Aggregate Syslog Drains Contain Logs Only

When you configure an aggregate syslog drain in <%= vars.app_runtime_abbr %> v2.10, by default you receive logs only.
You do not also receive metrics.
By not including metrics alongside logs, your syslog drain uses fewer resources and reduces network traffic between <%= vars.app_runtime_abbr %> components and your external logging service.

If you want the aggregate drain to send metrics along with logs, you can modify your drain URLs.

To continue to see metrics in your drains after upgrading to <%= vars.app_runtime_abbr %> v2.10:

1. Navigate to the Ops Manager Installation Dashboard.
1. Click the **VMware Tanzu Application Service for VMs** tile in the Installation Dashboard.
1. Select **System Logging**.
1. For **Address**, enter the hostname or IP address of the syslog server and append `?include-metrics-deprecated=true`. For example, `https://syslog-server.com:123?include-metrics-deprecated=true`.
1. Click **Save**.

For more information about configuring aggregate syslog drains, see [Configure System Logging](http://docs.pivotal.io/platform/application-service/operating/configure-pas.html#sys-logging) in _Configuring TAS for VMs_.

### <a id='disable-logs-firehose'></a> Send Only App Metrics to Firehose

You can choose to prevent the Loggregator Firehose from emitting app logs but still allow the Firehose to emit app metrics. Disabling logs in the Firehose helps reduce the load on <%= vars.app_runtime_abbr %> by allowing you to scale down Doppler and Traffic Controller VMs.

To configure the Firehose to receive only app metrics, you must select the **Disable logs in Firehose**, **Log Cache syslog ingestion**, **Enable V1 Firehose**, and **Enable V2 Firehose** checkboxes in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. You must also configure **Aggregate log and metric drain destinations** in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. For more information, see [Configure System Logging](http://docs-pcf-staging.cfapps.io/platform/application-service/2-10/operating/configure-pas.html#sys-logging) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='timestamps'></a> Optionally Use Human-Readable Timestamps for Component Logs

<%= vars.app_runtime_abbr %> v2.10 introduces RFC3339 log format support for several TAS for VMs components. You can configure these components to produce logs with human-readable RFC3339 timestamps with the **Timestamp format for component logs** configuration option in the <%= vars.app_runtime_abbr %> tile. Logs that use human-readable timestamps are often easier to debug.

RFC3339-formatted timestamps follow the RFC3339 spec, include nine points of precision where possible, and are in UTC. For example:

* 2019-11-21T22:16:18.750673404Z
* 2019-11-21T22:16:18.750000000Z 

For more information about configuring the **Timestamp format for component logs** field, see [System Logging](https://docs.pivotal.io/platform/application-service/2-10/operating/configuring-pas.html) in _Configuring <%= vars.app_runtime_abbr %>_.

In <%= vars.app_runtime_abbr %> v2.10.0, if you select the **Converge to human-readable RFC3339 format** option under **Timestamp format for component logs**, then the following components and related jobs use RFC3339 timestamps: 

| Component | Jobs |
| ------------ | ----- |
| `routing` | `gorouter` |
| `silk` | `iptables logger`, `silk-daemon` |
| `diego` | `auctioneer`, `bbs`, `file_server`, `locket`, `rep`, `route_emitter`, `ssh_proxy` |
| `garden-runc` | `garden` |
| `pxc` | `pxc-mysql`, `proxy`, `galera-agent`, `gra-log-purger` |
| `mysql-monitoring` | `mysql-metrics`, `replication-canary` | 

Components not listed in the table above either do not support RFC3339 timestamps in <%= vars.app_runtime_abbr %> v2.10.0 or were already using the RFC3339 timestamp format. Selecting **Converge to human-readable RFC3339 format** ensures that any additional components that add support for RFC3339 timestamps in later releases of <%= vars.app_runtime_abbr %> v2.10 are automatically configured to use RFC3339 timestamps after you upgrade.

To confirm which <%= vars.app_runtime_abbr %> components use RFC3339 timestamps:

1. Go to the `debug/files` endpoint at `https://OPS-MANAGER-FQDN/debug/files`, where `OPS-MANAGER-FQDN` is the fully-qualified domain name of your Ops Manager instance.

1. For each component, confirm that the `logging.format.timestamp` property is set to `rfc3339`.

<p class='note breaking'><strong>Breaking Change:</strong> The <strong>Timestamp format for component logs</strong> feature replaces the <strong>Format of timestamps in Diego logs</strong> feature in the <strong>App Containers</strong> pane of the <%= vars.app_runtime_abbr %> tile. However, when you upgrade to <%= vars.app_runtime_abbr %> v2.10, the option that was selected under <strong>Format of timestamps in Diego logs</strong> in your previous deployment is applied to <strong>Timestamp format for component logs</strong>. For more information, see <a href='breaking-changes.html#timestamps'>Timestamp Format for Component Logs Replaces Timestamp Format for Diego Logs</a> in <em>Ops Manager and Runtime Breaking Changes</em>.</p>

### <a id='sticky-cookies'></a> Configurable Sticky Session Cookie Names

You can supply sticky session cookie names for the Gorouter to use when handling sticky sessions.
The Gorouter uses these cookies to support session affinity, or _sticky sessions_.
For more information, see [Session Affinity](https://docs.pivotal.io/platform/2-10/concepts/http-routing.html#sessions)
in _HTTP Routing_.

By default, Gorouter uses `JSESSIONID`. Some apps require a different session name.
For example, Spring WebFlux requires `SESSION` for the session cookie name.

To supply cookie names, see [Configure Networking](https://docs.pivotal.io/platform/application-service/2-10/operating/configure-pas.html#networking) in _Configuring PAS_.

### <a id='autoscaler'></a>  Improvements to App Autoscaler

TAS for VMs v2.10 includes the following improvements to App Autoscaler:

+ App Autoscaler uses TLS to secure communications with its database.
+ App Autoscaler no longer returns an error when you set an `executes_at` time in the past.
  This lets you re-use scheduling rules without modification.
  App Autoscaler calculates future execution dates based on the past date.
+ You can use rules that are based on the HTTP throughput metric even when logging volume is high.
  For information the metric, see [Default Metrics for Scaling Rules](https://docs.pivotal.io/platform/application-service/2-10/appsman-services/autoscaler/about-app-autoscaler.html#custom-metrics)


## <a id='known-issues'></a> Known Issues

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:

### <a id='cf-cli-firehose-errors'></a> Errors Viewing App Logs after Disabling V1 Firehose

<%= partial "/pcf/app-service-kis/cf_cli_errors_disable_firehose" %>
