---
title: Pivotal Application Service v2.8 Release Notes
owner: Release Engineering
---

This topic contains release notes for <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases
 
<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.8.3'></a> 2.8.3

**Release Date:** 02/06/2020

* **[Feature Improvement]** Replace Metric Forwarder integration with Metric Registrar integration in Apps Manager
* **[Feature Improvement]** The HSM Client Private Key for CredHub can be encrypted.
* **[Feature Improvement]** Use the Diego logging format for the Garden job
* **[Bug Fix]** Show spring mappings in Apps Manager for apps using Spring Boot 2.2.x
* **[Bug Fix]** Add empty state message to Marketplace for orgs without spaces in Apps Manager
* **[Bug Fix]** Add support for non-ASCII characters in app logs shown in Apps Manager 
* **[Bug Fix]** The Apps Manager bound services list correctly shows the number of bound apps when a table is paginated
* **[Bug Fix]** Show full app name, regardless of length, in Apps Manager 
* **[Bug Fix]** Allow users with `cloud_controller.global_auditor` scope to view
    Cloud Controller resources in Apps Manager
* **[Bug Fix]** Allow users with `cloud_controller.admin_read_only` scope to view
    Cloud Controller resources in Apps Manager, including secrets
* **[Bug Fix]** When clicking on the Restage App option, App Manager renders the restage app modal.
* **[Bug Fix]** For apps using Spring Boot 2.2.x, show Spring Health information in Apps Manager
* **[Bug Fix]** Wait for necessary information to load in Apps Manager before rendering link to recently accessed apps
* **[Bug Fix]** Disable hostname validation for external DBs in routing-api, silk-controller, and policy-server
* **[Bug Fix]** HAProxy returns with HTTP/1.1 proto for 504s
* Bump ubuntu-xenial stemcell to version `621.51`
* Bump cflinuxfs3 to version `0.160.0`
* Bump credhub to version `2.5.10`
* Bump dotnet-core-offline-buildpack to version `2.3.4`
* Bump go-offline-buildpack to version `1.9.5`
* Bump nginx-offline-buildpack to version `1.1.4`
* Bump nodejs-offline-buildpack to version `1.7.9`
* Bump php-offline-buildpack to version `4.4.6`
* Bump push-apps-manager-release to version `671.0.3`
* Bump python-offline-buildpack to version `1.7.6`
* Bump ruby-offline-buildpack to version `1.8.8`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.51</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>capi</td><td>1.87.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.24.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.125</td></tr>
    <tr><td>cflinuxfs3</td><td>0.160.0</td></tr>
    <tr><td>credhub</td><td>2.5.10</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.4</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.5</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.1</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.1</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>28</td></tr>
    <tr><td>nfs-volume</td><td>5.0.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.4</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.9</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.6</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.3</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.8</td></tr>
    <tr><td>pxc</td><td>0.22.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.6</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.8</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.3</td></tr>
    <tr><td>statsd-injector</td><td>1.11.8</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.3</td></tr>
    <tr><td>uaa</td><td>74.5.5</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.8.2'></a> 2.8.2

**Release Date:** 01/16/2020

* **[Security Fix]** Several security issues were fixed in MySQL [USN-4070-1](https://usn.ubuntu.com/4070-1/), [USN-4195-1](https://usn.ubuntu.com/4195-1/)
* **[Feature]** Expose <%= vars.app_runtime_abbr %> database metrics in the Healthwatch Indicator Protocol dashboard
* **[Bug Fix]** mapfs - Fix error when appending to a file
* Bump ubuntu-xenial stemcell to version `621.41`
* Bump binary-offline-buildpack to version `1.0.36`
* Bump cf-cli to version `1.24.0`
* Bump cf-smoke-tests to version `40.0.125`
* Bump cflinuxfs3 to version `0.153.0`
* Bump dotnet-core-offline-buildpack to version `2.3.3`
* Bump go-offline-buildpack to version `1.9.4`
* Bump nginx-offline-buildpack to version `1.1.3`
* Bump nodejs-offline-buildpack to version `1.7.8`
* Bump php-offline-buildpack to version `4.4.5`
* Bump pxc to version `0.22.0`
* Bump python-offline-buildpack to version `1.7.5`
* Bump r-offline-buildpack to version `1.1.1`
* Bump ruby-offline-buildpack to version `1.8.6`
* Bump staticfile-offline-buildpack to version `1.5.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.41</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>capi</td><td>1.87.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.24.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.125</td></tr>
    <tr><td>cflinuxfs3</td><td>0.153.0</td></tr>
    <tr><td>credhub</td><td>2.5.6</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.3</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.4</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.1</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.1</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>28</td></tr>
    <tr><td>nfs-volume</td><td>5.0.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.3</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.8</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.5</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.2</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.8</td></tr>
    <tr><td>pxc</td><td>0.22.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.5</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.6</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.3</td></tr>
    <tr><td>statsd-injector</td><td>1.11.8</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.3</td></tr>
    <tr><td>uaa</td><td>74.5.5</td></tr>
  </tbody>
</table>

### <a id='2.8.1'></a> 2.8.1

**Release Date:** 12/26/2019

* **[Security Fix]** App Usage Service - Bump Nokogiri to 1.10.5 to fix [CVE-2019-13117](https://nvd.nist.gov/vuln/detail/CVE-2019-13117)
* **[Security Fix]** [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596) - Fix panic upon an attempt to process network traffic containing an invalid DSA public key for syslog release
* **[Security Fix]** [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596) - Fix panic upon an attempt to process network traffic containing an invalid DSA public key for garden-runc release
* **[Security Fix]** [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596) - Fix panic upon an attempt to process network traffic containing an invalid DSA public key for loggregator releases
* **[Feature]**  Expose all platform metrics on Prometheus endpoints
* **[Feature Improvement]** Upgrade nats release to use go 1.13 release
* **[Feature Improvement]** Notifications service will skip hostname validation for external databases
* **[Feature Improvement]** Clarify wording of Marketplace URL help text in Apps Manager configuration
* **[Feature Improvement]** Add doppler.firehose and usage_service.audit to Apps Manager client
* **[Feature Improvement]** Always enable ssh-proxy TLS to backend instances to ensure widest compatibility mode with <%= vars.windows_runtime_abbr %> and IST
* **[Feature Improvement]** When users have correct permissions, show bound and bindable services shared from other spaces as bindable for an app in Apps Manager
* **[Feature Improvement]** When users have correct permissions, show bound and bindable apps from spaces a service instance has been shared to in Apps Manager
* **[Bug Fix]** Fix bug that prevented users from downloading the Accounting and Usage Service reports through Apps Manager when fields are undefined or null
* **[Bug Fix]** Prevent new requests from being made when clicking on the currently active tab in Apps Manager
* **[Bug Fix]** Fix bug that prevented additional resources from populating after user permissions load in Apps Manager
* **[Bug Fix]** Fix bug preventing multiple service instances without binding names from being bound to apps in Apps Manager
* **[Bug Fix]** Exclude user provided service instances from org level service instance hours on Usage Report in Apps Manager
* **[Bug Fix]** Account for malformed git properties in Spring and Steeltoe apps to keep Apps Manager from crashing on render
* **[Bug Fix]** Fix bug where 'Invalid Date' was shown in Apps Manager trace tab when using Spring v2.0
* **[Bug Fix]** Prevent Apps Manager's revisions tab from crashing out when a deployment is in progress
* **[Bug Fix]** Move tooltip in the Apps Manager bind services flyout to make text fully visible
* **[Bug Fix]** Prevent attempts to build a droplet when starting an app through Apps Manager if there is no associated package
* **[Bug Fix]** Passwords containing commas no longer cause the SMB volume service to crash at startup with a "mount failed" error
* **[Bug Fix]** All CAPI jobs respect "Maximum disk quota per app"
* Bump ubuntu-xenial stemcell to version `621.29`
* Bump cf-smoke-tests to version `40.0.124`
* Bump cflinuxfs3 to version `0.151.0`
* Bump garden-runc to version `1.19.9`
* Bump log-cache to version `2.6.1`
* Bump loggregator-agent to version `5.2.1`
* Add new release metrics-discovery at version `2.0.2`
* Bump nats to version `28`
* Bump push-apps-manager-release to version `671.0.2`
* Bump push-usage-service-release to version `671.0.8`
* Bump pxc to version `0.21.0`
* Bump smb-volume to version `2.1.1`
* Bump statsd-injector to version `1.11.8`
* Bump syslog to version `11.6.1`
* Bump system-metrics-scraper to version `2.0.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.29</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>capi</td><td>1.87.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.23.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.124</td></tr>
    <tr><td>cflinuxfs3</td><td>0.151.0</td></tr>
    <tr><td>credhub</td><td>2.5.6</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.2</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.3</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.1</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.1</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>28</td></tr>
    <tr><td>nfs-volume</td><td>5.0.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.4</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.2</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.2</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.8</td></tr>
    <tr><td>pxc</td><td>0.21.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.2</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.0</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.2</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.1</td></tr>
    <tr><td>statsd-injector</td><td>1.11.8</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.3</td></tr>
    <tr><td>uaa</td><td>74.5.5</td></tr>
  </tbody>
</table>

### <a id='2.8.0'></a> 2.8.0

* See [New Features in <%= vars.app_runtime_abbr %> v2.8](#new-features)
* See [Breaking Changes](./breaking-changes.html)

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.26</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.17.2</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.35</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.18</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>capi</td><td>1.87.0</td></tr>
    <tr><td>cf-autoscaling</td><td>222</td></tr>
    <tr><td>cf-cli</td><td>1.23.0</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.123</td></tr>
    <tr><td>cflinuxfs3</td><td>0.150.0</td></tr>
    <tr><td>credhub</td><td>2.5.6</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.2</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.3</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.26</td></tr>
    <tr><td>log-cache</td><td>2.6.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.1.0</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>mysql-monitoring</td><td>9.7.0</td></tr>
    <tr><td>nats</td><td>27</td></tr>
    <tr><td>nfs-volume</td><td>5.0.2</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.1</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.4</td></tr>
    <tr><td>notifications-ui</td><td>36</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.2</td></tr>
    <tr><td>push-apps-manager-release</td><td>671.0.1</td></tr>
    <tr><td>push-usage-service-release</td><td>671.0.7</td></tr>
    <tr><td>pxc</td><td>0.20.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.2</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.0</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.2</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.1</td></tr>
    <tr><td>statsd-injector</td><td>1.11.1</td></tr>
    <tr><td>syslog</td><td>11.5.0</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.1</td></tr>
    <tr><td>uaa</td><td>74.5.5</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

To upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).

When upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, be aware of the following upgrade considerations:

* If you previously used an earlier version of <%= vars.app_runtime_abbr %>, you must first upgrade to <%= vars.app_runtime_abbr %> v2.7 to successfully upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.

* Some partner service tiles may be incompatible with <%= vars.platform_name %> <%= vars.v_major_version %>. Pivotal is working with partners to ensure their tiles are updated to work with the latest versions of <%= vars.platform_name %>.<br/><br/> For information about which partner service releases are currently compatible with <%= vars.platform_name %> <%= vars.v_major_version %>, review the appropriate partners services release documentation at [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='cpu-entitlement'></a> Diego Sets Container CPU Weight Property Equal to Container Memory Limit

Diego sets the CPU weight property on the containers it creates to a number equivalent to the container memory limit. This allows Garden to calculate the `AbsoluteCPUEntitlement` metric, which is the CPU entitlement for the container. With `AbsoluteCPUEntitlement`, Garden can produce accurate CPU usage metrics that are relative to `AbsoluteCPUEntitlement`.

For more information about the `AbsoluteCPUEntitlement` metric, see [Diego Container Metrics](http://docs.pivotal.io/platform/application-service/2-8/loggregator/container-metrics.html#container-metrics) in _Container Metrics_. For information about the Cloud Foundry CPU Entitlement Plugin, an experimental plugin that allows you to examine the CPU usage of <%= vars.app_runtime_abbr %> apps relative to their CPU entitlement, see the [Cloud Foundry CPU Entitlement Plugin](https://github.com/cloudfoundry/cpu-entitlement-plugin) repository on GitHub.

### <a id='appsman-scs'></a> Spring Cloud Services Configuration in Apps Manager

For Spring Cloud Services (SCS) instances, Apps Manager shows the current status of the SCS Config Server and lets you trigger the Config Server to update app configurations.

For more information, see [View and Update Spring Cloud Services Configurations](https://docs.pivotal.io/platform/application-service/2-8/console/manage-apps.html#configure-scs) in _Managing Apps and Service Instances Using Apps Manager_.

### <a id='active-droplet'></a> View the Active Droplet for an App in Apps Manager

On the Apps Manager **Revisions** page for an app, you can view which revision version contains the active droplet for the app. The active droplet has a GUID that is equivalent to the current droplet GUID of the app.

The text `Deployed (Active)` appears in the **Status** column of the table to indicate that the revision version is active.

For more information about using the Apps Manager UI, see [Using Apps Manager](https://docs.pivotal.io/platform/application-service/2-8/console/index.html). 

### <a id='sidecars-buildpack'></a> Deploy Sidecar Processes with a Buildpack

You can deploy a sidecar process for an app with a buildpack rather than with an app manifest.

For more information, see [Sidecar Buildpacks](https://docs.pivotal.io/platform/application-service/2-8/buildpacks/sidecar-buildpacks.html).

### <a id='cli-support-sidecars'></a> cf CLI Supports Sidecar Processes

The Cloud Foundry Command-Line Interface (cf CLI) adds support for sidecar processes. You can add a sidecar process to an app process using an app manifest. The cf CLI displays the sidecar process alongside the app process to which it is attached.

For more information about deploying sidecar processes with apps, see [Pushing Apps with Sidecar Processes (Beta)](https://docs.pivotal.io/platform/application-service/2-8/devguide/sidecars.html).

### <a id='usage-service-data-retention'></a> Configure Retention Period for Usage Service Data

Usage Service deletes granular data after 365 days by default. You can configure the retention period for granular data in the **Advanced Features** pane of the <%= vars.app_runtime_abbr %> tile.

This feature reduces the amount of data in the Usage Service database, which helps prevent data migration issues on very large foundations.

For more information, see [Usage Data Retention](https://docs.pivotal.io/platform/application-service/2-8/operating/accounting-report.html#usage-retention) in _Reporting App, Task, and Service Instance Usage_.

### <a id='smb-default'></a> SMB Volume Services Enabled by Default

SMB volume services are enabled by default. When SMB volume services are enabled, app developers can bind existing SMB shares to apps for shared file access.

To disable SMB volume services in the <%= vars.app_runtime_abbr %> tile, select **App Containers** and clear the **Enable SMB volume services** checkbox, and then select **Errands** and set the **SMB Broker Errand** to **Off**.

For more information, see [Enable SMB Volume Services](http://docs.pivotal.io/platform/application-service/2-8/operating/enable-vol-services.html#smb-enable) in _Enabling Volume Services_.

For general information about volume services, see [Using an External File System (Volume Services)](http://docs.pivotal.io/platform/application-service/2-8/devguide/services/using-vol-services.html).

### <a id='nfs-broker-credhub'></a> NFS Broker Uses CredHub as Backing Store

NFS Broker uses CredHub as its backing store, rather than an internal <%= vars.app_runtime_abbr %> database. Because BOSH Backup and Restore (BBR) no longer backs up NFS Broker, the `nfsbroker-bbr` job is removed.

For more information about CredHub, see [CredHub](https://docs.pivotal.io/platform/2-8/credhub/index.html).

### <a id='uaa-client-url-encoding'></a> Enable URL Encoding For UAA Client Credentials

You can disable an optional **Client basic auth compatibility mode** checkbox in the **UAA** pane of the <%= vars.app_runtime_abbr %> tile to require URL encoding for UAA client credentials.

URL encoding is defined by RFC 6749. For more information, see the [2.3.1. Client Password](https://tools.ietf.org/html/rfc6749#section-2.3.1) section of RFC 6749.

By default, the **Client basic auth compatibility mode** checkbox is enabled. When the checkbox is enabled, UAA does not require URL encoding for client IDs and secrets. This represents the default behavior of UAA prior to v74.0.0. For more information, see [v74.0.0](https://github.com/cloudfoundry/uaa-release/releases/tag/v74.0.0) in GitHub.

For more information about configuring the **Client basic auth compatibility mode** checkbox, see [Configure UAA](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#uaa) in _Configuring <%= vars.app_runtime_abbr %>_.

<p class="note warning"><strong>Warning:</strong> If you disable the <strong>Client basic auth compatibility mode</strong> checkbox, URL encoding is required for all UAA client apps in your deployment. To avoid breaking changes, ensure that all client apps support URL encoding before you disable the checkbox.</p>

### <a id='aws-ecr-support'></a> Support for Pushing Container Images Hosted in AWS ECR

When you push container images hosted in AWS Elastic Container Registry (ECR) with the Cloud Foundry CLI (cf CLI), you can provide the access key ID and secret for an AWS IAM user as a Docker username and password as part of the `cf push` command. Apps are able to then continuously restart and restage successfully.

This update allows the cf CLI to successfully pull container images hosted in ECR with valid AWS Identity and Access Management (IAM) user credentials.

For more information, see [Amazon Elastic Container Registry (ECR)](https://docs.pivotal.io/platform/application-service/2-8/devguide/deploy-apps/push-docker.html#ecr) in _Deploying an App with Docker_.

### <a id='mtls-loggregator'></a> Mutual TLS Added to Loggregator Endpoints and Components

Mutual TLS is added to the Loggregator, Loggregator Agent, and Log Cache endpoints. It is also added to the Leadership Election job. This provides additional security between these endpoints and metric scrapers.

For more information about Loggregator components, see [Loggregator Architecture](https://docs.pivotal.io/platform/application-service/2-8/loggregator/architecture.html). For more information about the Leadership Election job and metric scraping, see the [System Metrics](https://github.com/cloudfoundry/system-metrics-release) repository on GitHub.

### <a id='disable-v2-firehose'></a> V2 Firehose Can Be Disabled

You can disable the Loggregator V2 Firehose by deselecting the **Enable V2 Firehose** checkbox in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. This shuts down VMs used for the V2 Firehose, such as Dopplers and Reverse Log Proxies. After you disable the V2 Firehose, you can delete these VMs from your deployment to save resources.

<div class='note warning'><strong>Warning:</strong> If you disable the V2 Firehose, you must select the <strong>Enable Log Cache syslog ingestion</strong> checkbox, or logs and metrics do not appear in Log Cache. <%= vars.recommended_by %> recommends that you do not disable the Firehose if you are dependent on any of the following: 
  <ul>
    <li>Service tile metrics</li>
    <li>Pivotal Healthwatch or Pivotal App Metrics</li>
    <li>Partner log or metric integrations</li>
  </ul>
</div>

<p class="note warning"><strong>Warning:</strong> If you disable the V1 or V2 Firehose, you must disable the Smoke Test Errand or the deploy fails. For more information, see <a href="#disable-firehose-smoke-test-errand">Disable the Smoke Test Errand If You Disable the Firehose</a>.</p>

To forward logs and metrics to a syslog endpoint after you disable the Firehose, configure an aggregate log and metric drain for your foundation. For more information about disabling the V2 Firehose and enabling aggregate drains, see [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#sys-logging) in _Configuring <%= vars.app_runtime_abbr %>_.

For more information about the Loggregator Firehose, see [Loggregator Architecture](https://docs.pivotal.io/platform/application-service/2-8/loggregator/architecture.html).

### <a id='aggregate-drain'></a> Aggregate Drain for Metrics and App Logs

You can configure an aggregate log and metric drain for your foundation to allow Syslog Agents to forward all app metrics, app logs, and <%= vars.app_runtime_abbr %> component VM metrics to one or more syslog endpoints.

This allows you to forward logs and metrics for all apps in your foundation without configuring syslog drains for each app individually.

You can also use an aggregate log and metric drain instead of the Loggregator Firehose. This allows you to disable the Firehose and delete related VMs, such as Dopplers and Reverse Log Proxies. For more information about disabling the Firehose, see [V2 Firehose Can Be Disabled](#disable-v2-firehose).

To enable an aggregate log and metric drain for your foundation, add a comma-separated list of syslog endpoints to the **Aggregate log and metric drain destinations** field in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. For more information, see [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#sys-logging) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='credhub-vm'></a> <%= vars.app_runtime_abbr %> Must Use At Least One CredHub VM

In <%= vars.app_runtime_abbr %> v2.8, you must use at least one CredHub VM. The default number of CredHub instances is increased from `0` to `2`. You can configure the number of CredHub VMs <%= vars.app_runtime_abbr %> uses in the **Resource Config** pane of the <%= vars.app_runtime_abbr %> tile.

For high availability, <%= vars.recommended_by %> recommends that you use at least one CredHub instance per availability zone (AZ). Or, if you have only one AZ, use at least three CredHub instances.

<p class="note warning"><strong>Warning:</strong> If you use an external GCP or Azure database for <%= vars.app_runtime_abbr %> and previously set CredHub instances to 0 in <%= vars.app_runtime_abbr %> v2.7, you must also disable hostname verification before you upgrade to <%= vars.app_runtime_abbr %> v2.8. For more information, see <a href="https://docs.pivotal.io/platform/2-8/upgrading/checklist.html#disable-hostname-verification">Disable Hostname Verification for External CredHub Databases on GCP and Azure</a> in <em>Upgrade Preparation Checklist for <%= vars.platform_name %> v2.8</em>.</p>

For more information about CredHub, see [CredHub](https://docs.pivotal.io/platform/2-8/credhub/index.html). For more information about configuring VMs, see [Configure Resources](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#resources) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='apps-man-marketplace'></a> Customizable Marketplace URL and Secondary Navigation Links in Apps Manager

In the **Custom Branding** pane of <%= vars.app_runtime_abbr %> v2.8, you can customize the Marketplace URL and secondary navigation links that appear in your Apps Manager deployment.

For more information, see [Configure Custom Branding and Apps Manager](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#customize-apps-man) in _Configuring <%= vars.app_runtime_abbr %>_.


## <a id='known-issues'></a> Known Issues

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:

### <a id='duplicate-metrics'></a> Duplicate Metrics Appear in the Firehose

<%= vars.app_runtime_abbr %> v2.8 introduces a System Metrics Agent that sends metrics to the Firehose. These metrics match existing BOSH system metrics, but they use an updated format. In <%= vars.app_runtime_abbr %> v2.8, metrics appear in both formats. In the Firehose, you see duplicate metrics entries in both the Loggregator format and the System Metrics Agent format.

The following table shows examples of the existing Loggregator metrics format and the new System Metrics Agent metrics format:

| Loggregator Format | System Metrics Agent Format |
| ------------------ | --------------------------- |
| `system.healthy` | `system_healthy` |
| `system.mem.percent` | `system_mem_percent` |
| `system.disk.system.percent` | `system_disk_system_percent` |
| `system.disk.ephemeral.percent` | `system_disk_ephemeral_percent` |
| `system.disk.persistent.percent` | `system_disk_persistent_percent` |
| `system.cpu.user` | `system_cpu_user` |

The new System Metrics Agent adds about 50 metric envelopes per VM each minute.

The existing BOSH system metrics forwarder emits 2 metric envelopes per VM each minute. Each envelope contains 13 metrics.

### <a id='disable-firehose-smoke-test-errand'></a> Disable the Smoke Test Errand If You Disable the Firehose

If you disable the V1 or V2 Firehose in <%= vars.app_runtime_abbr %> v2.8, you must also disable the smoke test errand. 

If you do not disable the smoke test errand, the deploy fails with an error similar to the following:

```
[91m[1m[Fail] [0m[90mLoggregator: [0m[0mcf logs [0m[90mlinux [0m[91m[1m[It] can see app messages in the logs [0m  
          [37m/var/vcap/packages/smoke_tests/src/github.com/cloudfoundry/cf-smoke-tests/smoke/logging/loggregator_test.go:42[0m  
          [1m[91mRan 1 of 2 Specs in 56.171 seconds[0m  
          [1m[91mFAIL![0m -- [32m[1m0 Passed[0m | [91m[1m1 Failed[0m | [33m[1m0 Pending[0m | [36m[1m1 Skipped[0m  
          --- FAIL: TestSmokeTests (56.17s)  
          FAIL  
          Ginkgo ran 2 suites in 1m7.050120251s  
          Test Suite Failed  
Stderr     Error: failed to run job-process: exit status 1 (exit status 1)
```

To disable the smoke test errand:

1. Navigate to the **Errands** pane in the <%= vars.app_runtime_abbr %> tile.

1. For **Smoke Test Errand**, select **Off**.

For more information, see the [Configure Errands](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#errands) section in the _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='nfs-file-append'></a> Errors in NFS Volume Service File Append Operations

A defect in the mapfs FUSE driver causes errors to occur in file append operations when you enable the ID mapping feature with NFS in <%= vars.app_runtime_abbr %> v2.8.0 through <%= vars.app_runtime_abbr %> v2.8.1.

You enable the ID mapping feature by specifying either the `uid` or `username` option in service instance or service bind configurations.

When this issue occurs, appending files within the mounted file system fail with the error `File operation not supported`. For example, `echo hello >> test.txt` fails.

This issue is resolved in <%= vars.app_runtime_abbr %> v2.8.2.
