---
title: Tanzu Application Service v2.10 Release Notes
owner: Release Engineering
---

<% current_page.data.title = vars.app_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %>.

<%= vars.platform_name %> is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.10.2'></a> 2.10.2

**Release Date:** 08/24/2020

* **[Bug Fix]** loggr-syslog-agent - Fix server alternative name
* **[Bug Fix]** Fix memory leak in RLP gateway
* **[Bug Fix]**: Return 502 TLS Handshake error for an unresponsive backend
* **[Bug Fix]** Fix Usage Service for inactive foundations
* **[Bug Fix]** Bump garden-runc to v1.19.16
* Bump ubuntu-xenial stemcell to version `621.78`
* Bump cflinuxfs3 to version `0.203.0`
* Bump garden-runc to version `1.19.16`
* Bump go-offline-buildpack to version `1.9.16`
* Bump java-offline-buildpack to version `4.32.1`
* Bump loggregator to version `106.3.11`
* Bump push-usage-service-release to version `673.0.11`
* Bump python-offline-buildpack to version `1.7.18`
* Bump routing to version `0.205.0`
* Bump ruby-offline-buildpack to version `1.8.23`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.78</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.2</td></tr>
    <tr><td>cf-autoscaling</td><td>232</td></tr>
    <tr><td>cf-cli</td><td>1.28.0</td></tr>
    <tr><td>cf-networking</td><td>2.31.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.203.0</td></tr>
    <tr><td>credhub</td><td>2.6.1</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.13</td></tr>
    <tr><td>garden-runc</td><td>1.19.16</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.16</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.32.1</td></tr>
    <tr><td>license</td><td></td></tr>
    <tr><td>log-cache</td><td>2.7.2</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.11</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.12</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.25</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.19</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.12</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.11</td></tr>
    <tr><td>pxc</td><td>0.28.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.18</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.7</td></tr>
    <tr><td>routing</td><td>0.205.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.23</td></tr>
    <tr><td>silk</td><td>2.31.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.9</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.13</td></tr>
    <tr><td>uaa</td><td>74.5.18</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.1'></a> 2.10.1

**Release Date:** 08/07/2020

* **[Security Fix]** Notifications-ui removes UAA client secret from logs during installation
* **[Feature Improvement]** Expose GCS blobstore storage account timeout values
* **[Feature Improvement]** Upgrade Percona-XtraDB-Cluster to version 5.7.30-31.43
* **[Bug Fix]** Fix issue where requests to internal routes could fail due to incorrect case-sensitivity in DNS lookup in the service discovery controller.
* **[Bug Fix]** Apps Manager accounts for App Metrics' duplicate counts of HTTP requests, HTTP latency, and HTTP errors on App page Overview tab graphs
* **[Bug Fix]** System Metrics Scraper/Prom Scraper — Fixes a bug that causes excess log volume and increases scrape interval to reduce metric volume
* Bump ubuntu-xenial stemcell to version `621.77`
* Bump cf-cli to version `1.28.0`
* Bump cf-networking to version `2.31.0`
* Bump cflinuxfs3 to version `0.202.0`
* Bump dotnet-core-offline-buildpack to version `2.3.13`
* Bump garden-runc to version `1.19.14`
* Bump go-offline-buildpack to version `1.9.15`
* Bump nginx-offline-buildpack to version `1.1.12`
* Bump nodejs-offline-buildpack to version `1.7.25`
* Bump notifications-ui to version `40`
* Bump php-offline-buildpack to version `4.4.19`
* Bump push-apps-manager-release to version `672.0.12`
* Bump pxc to version `0.28.0`
* Bump python-offline-buildpack to version `1.7.17`
* Bump ruby-offline-buildpack to version `1.8.22`
* Bump silk to version `2.31.0`
* Bump system-metrics-scraper to version `2.0.13`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.77</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.2</td></tr>
    <tr><td>cf-autoscaling</td><td>232</td></tr>
    <tr><td>cf-cli</td><td>1.28.0</td></tr>
    <tr><td>cf-networking</td><td>2.31.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.202.0</td></tr>
    <tr><td>credhub</td><td>2.6.1</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.13</td></tr>
    <tr><td>garden-runc</td><td>1.19.14</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.15</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.31.1</td></tr>
    <tr><td>log-cache</td><td>2.7.2</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.10</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.12</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.25</td></tr>
    <tr><td>notifications-ui</td><td>40</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.19</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.12</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.10</td></tr>
    <tr><td>pxc</td><td>0.28.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.17</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.7</td></tr>
    <tr><td>routing</td><td>0.203.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.22</td></tr>
    <tr><td>silk</td><td>2.31.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.9</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.13</td></tr>
    <tr><td>uaa</td><td>74.5.18</td></tr>
  </tbody>
</table>
 
 

### <a id='2.10.0'></a> 2.10.0

**Release Date:** July 31, 2020

* See [New Features in <%= vars.app_runtime_abbr %> v2.10](#new-features).
* See [Breaking Changes](breaking-changes.html).

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.76</td></tr>
    <tr><td>backup-and-restore-sdk</td><td>1.18.0</td></tr>
    <tr><td>binary-offline-buildpack</td><td>1.0.36</td></tr>
    <tr><td>bosh-dns-aliases</td><td>0.0.3</td></tr>
    <tr><td>bosh-system-metrics-forwarder</td><td>0.0.19</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>capi</td><td>1.95.2</td></tr>
    <tr><td>cf-autoscaling</td><td>232</td></tr>
    <tr><td>cf-cli</td><td>1.27.0</td></tr>
    <tr><td>cf-networking</td><td>2.30.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.198.0</td></tr>
    <tr><td>credhub</td><td>2.6.1</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>dotnet-core-offline-buildpack</td><td>2.3.12</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>go-offline-buildpack</td><td>1.9.14</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>istio</td><td>1.3.0</td></tr>
    <tr><td>java-offline-buildpack</td><td>4.31.1</td></tr>
    <tr><td>log-cache</td><td>2.7.2</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>loggregator</td><td>106.3.10</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metric-registrar</td><td>1.1.1</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>mysql-monitoring</td><td>9.12.0</td></tr>
    <tr><td>nats</td><td>34</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>nginx-offline-buildpack</td><td>1.1.11</td></tr>
    <tr><td>nodejs-offline-buildpack</td><td>1.7.24</td></tr>
    <tr><td>notifications-ui</td><td>37</td></tr>
    <tr><td>notifications</td><td>61</td></tr>
    <tr><td>php-offline-buildpack</td><td>4.4.18</td></tr>
    <tr><td>push-apps-manager-release</td><td>672.0.11</td></tr>
    <tr><td>push-usage-service-release</td><td>673.0.10</td></tr>
    <tr><td>pxc</td><td>0.25.0</td></tr>
    <tr><td>python-offline-buildpack</td><td>1.7.16</td></tr>
    <tr><td>r-offline-buildpack</td><td>1.1.7</td></tr>
    <tr><td>routing</td><td>0.203.0</td></tr>
    <tr><td>ruby-offline-buildpack</td><td>1.8.21</td></tr>
    <tr><td>silk</td><td>2.30.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>staticfile-offline-buildpack</td><td>1.5.9</td></tr>
    <tr><td>statsd-injector</td><td>1.11.15</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
    <tr><td>system-metrics-scraper</td><td>2.0.12</td></tr>
    <tr><td>uaa</td><td>74.5.18</td></tr>
  </tbody>
</table>

## <a id='upgrade'></a> How to Upgrade

To upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, see [Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/upgrading-pcf.html).

When upgrading to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>, be aware of the following upgrade considerations:

* If you previously used an earlier version of <%= vars.app_runtime_abbr %>, you must first upgrade to <%= vars.app_runtime_abbr %> v2.9 to successfully upgrade to <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>.

* Some partner service tiles may be incompatible with <%= vars.platform_name %> <%= vars.v_major_version %>.
  VMware is working with partners to ensure their tiles are updated to work with the latest versions of <%= vars.platform_name %>.
  <br/><br/> For information about which partner service releases are currently compatible with <%= vars.platform_name %>
  <%= vars.v_major_version %>, review the appropriate partners services release documentation
  at [https://docs.pivotal.io](https://docs.pivotal.io) or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='syslog-no-metrics'></a>Aggregate Syslog Drains Contain Logs Only

When you configure an aggregate syslog drain in <%= vars.app_runtime_abbr %> v2.10, by default you receive logs only.
You do not also receive metrics.
By not including metrics alongside logs, your syslog drain uses fewer resources and reduces network traffic between <%= vars.app_runtime_abbr %> components and your external logging service.

If you want the aggregate drain to send metrics along with logs, you can modify your drain URLs.

To continue to see metrics in your drains after upgrading to <%= vars.app_runtime_abbr %> v2.10:

1. Navigate to the Ops Manager Installation Dashboard.
1. Click the **VMware Tanzu Application Service for VMs** tile in the Installation Dashboard.
1. Select **System Logging**.
1. For **Address**, enter the hostname or IP address of the syslog server and append `?include-metrics-deprecated=true`. For example, `https://syslog-server.com:123?include-metrics-deprecated=true`.
1. Click **Save**.

For more information about configuring aggregate syslog drains, see [Configure System Logging](http://docs.pivotal.io/application-service/operating/configure-pas.html#sys-logging) in _Configuring TAS for VMs_.

### <a id='disable-logs-firehose'></a> Send Only App Metrics to Firehose

You can choose to prevent the Loggregator Firehose from emitting app logs but still allow the Firehose to emit app metrics. Disabling logs in the Firehose helps reduce the load on <%= vars.app_runtime_abbr %> by allowing you to scale down Doppler and Traffic Controller VMs.

To configure the Firehose to receive only app metrics, you must select the **Disable logs in Firehose**, **Log Cache syslog ingestion**, **Enable V1 Firehose**, and **Enable V2 Firehose** checkboxes in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. You must also configure **Aggregate log and metric drain destinations** in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. For more information, see [Configure System Logging](http://docs-pcf-staging.cfapps.io/application-service/2-10/operating/configure-pas.html#sys-logging) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='timestamps'></a> Optionally Use Human-Readable Timestamps for Component Logs

<%= vars.app_runtime_abbr %> v2.10 introduces RFC3339 log format support for several <%= vars.app_runtime_abbr %> components. You can configure these components to produce logs with human-readable RFC3339 timestamps with the **Timestamp format for component logs** configuration option in the <%= vars.app_runtime_abbr %> tile. Logs that use human-readable timestamps are often easier to debug.

RFC3339-formatted timestamps follow the RFC3339 spec, include nine points of precision where possible, and are in UTC. For example:

* 2019-11-21T22:16:18.750673404Z
* 2019-11-21T22:16:18.750000000Z 

For more information about configuring the **Timestamp format for component logs** field, see [System Logging](https://docs.pivotal.io/application-service/2-10/operating/configuring-pas.html) in _Configuring <%= vars.app_runtime_abbr %>_.

In <%= vars.app_runtime_abbr %> v2.10.0, if you select the **Converge to human-readable RFC3339 format** option under **Timestamp format for component logs**, then the following components and related jobs use RFC3339 timestamps: 

| Component | Jobs |
| ------------ | ----- |
| `routing` | `gorouter` |
| `silk` | `iptables logger`, `silk-daemon` |
| `diego` | `auctioneer`, `bbs`, `file_server`, `locket`, `rep`, `route_emitter`, `ssh_proxy` |
| `garden-runc` | `garden` |
| `pxc` | `pxc-mysql`, `proxy`, `galera-agent`, `gra-log-purger` |
| `mysql-monitoring` | `mysql-metrics`, `replication-canary` | 

Components not listed in the table above either do not support RFC3339 timestamps in <%= vars.app_runtime_abbr %> v2.10.0 or were already using the RFC3339 timestamp format. Selecting **Converge to human-readable RFC3339 format** ensures that any additional components that add support for RFC3339 timestamps in later releases of <%= vars.app_runtime_abbr %> v2.10 are automatically configured to use RFC3339 timestamps after you upgrade.

To confirm which <%= vars.app_runtime_abbr %> components use RFC3339 timestamps:

1. Go to the `debug/files` endpoint at `https://OPS-MANAGER-FQDN/debug/files`, where `OPS-MANAGER-FQDN` is the fully-qualified domain name of your Ops Manager instance.

1. For each component, confirm that the `logging.format.timestamp` property is set to `rfc3339`.

<p class='note breaking'><strong>Breaking Change:</strong> The <strong>Timestamp format for component logs</strong> feature replaces the <strong>Format of timestamps in Diego logs</strong> feature in the <strong>App Containers</strong> pane of the <%= vars.app_runtime_abbr %> tile. However, when you upgrade to <%= vars.app_runtime_abbr %> v2.10, the option that was selected under <strong>Format of timestamps in Diego logs</strong> in your previous deployment is applied to <strong>Timestamp format for component logs</strong>. For more information, see <a href='breaking-changes.html#timestamps'>Timestamp Format for Component Logs Replaces Timestamp Format for Diego Logs</a> in <em>Ops Manager and Runtime Breaking Changes</em>.</p>

### <a id='sticky-cookies'></a> Configurable Sticky Session Cookie Names

You can supply sticky session cookie names for the Gorouter to use when handling sticky sessions.
The Gorouter uses these cookies to support session affinity, or _sticky sessions_.
For more information, see [Session Affinity](https://docs.pivotal.io/platform/2-10/concepts/http-routing.html#sessions)
in _HTTP Routing_.

By default, the Gorouter uses `JSESSIONID`. Some apps require a different session name.
For example, Spring WebFlux requires `SESSION` for the session cookie name.

To supply cookie names, see [Configure Networking](https://docs.pivotal.io/application-service/2-10/operating/configure-pas.html#networking) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='autoscaler'></a>  Improvements to App Autoscaler

<%= vars.app_runtime_abbr %> v2.10 includes the following improvements to App Autoscaler:

+ App Autoscaler no longer returns an error when you set an `executes_at` time that is in the past.
  This lets you re-use scheduled limit changes through the Scheduler API.
  App Autoscaler calculates future execution dates based on the past date.
+ You can use rules that are based on the HTTP throughput metric when the number of the requests is high.
  For information about the metric, see [Default Metrics for Scaling
  Rules](https://docs.pivotal.io/application-service/2-10/appsman-services/autoscaler/about-app-autoscaler.html#default-metrics).

### <a id='cf-cli'></a>  TAS for VMs Is Compatible with cf CLI v7

TAS for VMs v2.10 paired with cf CLI v7 allows you to do the following:

+ Push updates to apps without incurring downtime.
  See [Rolling App Deployments](https://docs.pivotal.io/application-service/2-10/devguide/deploy-apps/rolling-deploy.html).
+ Exercise granular control over the `cf push` process.
  See [Running cf push Sub-Step Commands](https://docs.pivotal.io/application-service/2-10/devguide/push-sub-commands.html).
+ Use a single command to push apps that run multiple processes.
  See [Pushing an App with Multiple Processes](https://docs.pivotal.io/application-service/2-10/devguide/multiple-processes.html).
+ Run additional processes in the same container as your app.
  See [Pushing Apps with Sidecar Processes](https://docs.pivotal.io/application-service/2-10/devguide/sidecars.html).
+ Add metadata to resources such as spaces and apps.
  See [Using Metadata](https://docs.pivotal.io/application-service/2-10/adminguide/metadata.html).

For more information about the GA release of cf CLI v7,
see [Cloud Foundry Further Simplifies Modern App Development: An Inside Look at the New cf CLI v7]
(https://www.cloudfoundry.org/blog/cloud-foundry-further-simplifies-modern-app-development-an-inside-look-at-the-new-cf-cli-v7/).


## <a id='known-issues'></a> Known Issues

<%= vars.app_runtime_abbr %> <%= vars.v_major_version %> includes the following known issues:

### <a id='cf-cli-firehose-errors'></a> Errors Viewing App Logs after Disabling V1 Firehose

<%= partial "/pcf/app-service-kis/cf_cli_errors_disable_firehose" %>
