---
title: Pivotal Application Service v2.10 Release Notes
owner: Release Engineering
---

Pivotal Platform is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 


## <a id='upgrade'></a> How to Upgrade

The procedure for upgrading to <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) v2.10 is documented in [Upgrading <%= vars.platform_name %>](http://docs.pivotal.io/platform/2-10/customizing/upgrading-pcf.html).

When upgrading to <%= vars.app_runtime_abbr %> v2.10, be aware of the following upgrade considerations:

* If you previously used an earlier version of <%= vars.app_runtime_abbr %>, you must first upgrade to <%= vars.app_runtime_abbr %> v2.9 to successfully upgrade to <%= vars.app_runtime_abbr %> v2.10.

* Some partner service tiles may be incompatible with <%= vars.platform_name %> v2.9. Pivotal is working with partners to ensure their tiles are updated to work with the latest versions of <%= vars.platform_name %>.<br/><br/> For information about which partner service releases are currently compatible with <%= vars.platform_name %> v2.10, review the appropriate partners services release documentation at [https://docs.pivotal.io](https://docs.pivotal.io), or contact the partner organization that produces the tile.


## <a id='new-features'></a> New Features in <%= vars.app_runtime_abbr %> v2.10

<%= vars.app_runtime_abbr %> v2.10 includes the following major features:



## <a id='known-issues'></a> Known Issues

<%= vars.app_runtime_abbr %> v2.10 includes the following known issues:


