---
title: Pivotal Isolation Segment v2.8 Release Notes
owner: Release Engineering
---

<% current_page.data.title = "Pivotal Isolation Segment " + vars.v_major_version + " Release Notes" %>

Pivotal Platform is certified by the Cloud Foundry Foundation for <%= Date.today.year %>.

Read more about the [certified provider program](https://www.cloudfoundry.org/provider-faq/) and the [requirements of providers](https://www.cloudfoundry.org/provider-requirements/).

<hr>

## <a id='releases'></a> Releases
 
<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.8.0-rc.3'></a> 2.8.0-rc.3

**Release Date:** 12/09/2019

* **[Feature Improvement]** Upgrade Routing, Networking, and Silk releases to use go 1.13 release
* **[Feature Improvement]** Add syslog log-cache aggregate drain
* Bump cf-networking to version `2.27.0`
* Bump cflinuxfs3 to version `0.150.0`
* Bump routing to version `0.196.0`
* Bump silk to version `2.27.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.26</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.150.0</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.1.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>nfs-volume</td><td>5.0.2</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.0</td></tr>
    <tr><td>syslog</td><td>11.5.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.8.0-rc.2'></a> 2.8.0-rc.2

**Release Date:** 11/27/2019

* **[Feature]** Allow operator to set a new bind configuration "version" on volume mounts. Operators with older versions of smb software can now use volume services.
* Bump ubuntu-xenial stemcell to version `621.26`
* Bump cflinuxfs3 to version `0.149.0`
* Bump smb-volume to version `2.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.26</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>cf-networking</td><td>2.25.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.149.0</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.1.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>nfs-volume</td><td>5.0.2</td></tr>
    <tr><td>routing</td><td>0.193.0</td></tr>
    <tr><td>silk</td><td>2.25.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.0</td></tr>
    <tr><td>syslog</td><td>11.5.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.8.0-rc.1'></a> 2.8.0-rc.1

**Release Date:** 11/20/2019

* **[Security Fix]** Address [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596)
* **[Security Fix]** Improve Gorouter resiliency to panics
* **[Feature Improvement]** Allow disabling the V2 firehose
* **[Feature Improvement]** The NFS Broker now only runs against credhub as its backing store and therefore we have removed the nfsbroker bbr jobs
* Bump ubuntu-xenial stemcell to version `621.12`
* Bump cflinuxfs3 to version `0.143.0`
* Bump mapfs to version `1.2.1`
* Bump nfs-volume to version `5.0.2`
* Bump routing to version `0.193.0`
* Bump smb-volume to version `2.0.4`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.12</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>cf-networking</td><td>2.25.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.143.0</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.1.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>nfs-volume</td><td>5.0.2</td></tr>
    <tr><td>routing</td><td>0.193.0</td></tr>
    <tr><td>silk</td><td>2.25.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.4</td></tr>
    <tr><td>syslog</td><td>11.5.0</td></tr>
  </tbody>
</table>
 
 

### <a id='2.8.0-beta.1'></a> 2.8.0-beta.1

**Release Date:** 10/31/2019

* **[Security Fix]** Upgrade Go, runc and containerd to latest to include security fixes
* **[Security Fix]** CVE-2019-17596 bump Go
* Bump ubuntu-xenial stemcell to version `456.51`
* Bump bpm to version `1.1.5`
* Bump cflinuxfs3 to version `0.140.0`
* Bump loggregator-agent to version `5.1.0`
* Bump routing to version `0.192.0`
* Bump silk to version `2.25.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>456.51</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>cf-networking</td><td>2.25.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.140.0</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.1.0</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>nfs-volume</td><td>2.3.1</td></tr>
    <tr><td>routing</td><td>0.192.0</td></tr>
    <tr><td>silk</td><td>2.25.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.3</td></tr>
    <tr><td>syslog</td><td>11.5.0</td></tr>
  </tbody>
</table>

### <a id='2.8.0-alpha.5'></a> 2.8.0-alpha.5

**Release Date:** 10/16/2019

* **[Breaking Change]** Optional compute segment isolation
* **[Security Fix]** Secure Loggregator, LogCache, and Leadership Election with mTLS
* **[Feature Improvement]** Remove System Metrics Agents in favor of a Runtime Config in OpsMan 2.8+
* Bump ubuntu-xenial stemcell to version `456.30`
* Bump bpm to version `1.1.4`
* Bump cflinuxfs3 to version `0.135.0`
* Bump diego to version `2.39.0`
* Bump garden-runc to version `1.19.8`
* Bump loggregator-agent to version `5.0.0`
* Bump smb-volume to version `2.0.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>456.30</td></tr>
    <tr><td>bpm</td><td>1.1.4</td></tr>
    <tr><td>cf-networking</td><td>2.25.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.135.0</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.0.0</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>nfs-volume</td><td>2.3.1</td></tr>
    <tr><td>routing</td><td>0.191.0</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.3</td></tr>
    <tr><td>syslog</td><td>11.5.0</td></tr>
  </tbody>
</table>

### <a id='2.8.0-alpha.4'></a> 2.8.0-alpha.4

**Release Date:** 10/08/2019

* **[Feature Improvement]** Enable SMB volume service by default
* Bump ubuntu-xenial stemcell to version `456.27`
* Bump cf-networking to version `2.25.0`
* Bump cflinuxfs3 to version `0.131.0`
* Bump diego to version `2.38.0`
* Bump haproxy to version `9.8.0`
* Bump nfs-volume to version `2.3.1`
* Bump smb-volume to version `2.0.2`
* Bump syslog to version `11.5.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>456.27</td></tr>
    <tr><td>bpm</td><td>1.1.3</td></tr>
    <tr><td>cf-networking</td><td>2.25.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.131.0</td></tr>
    <tr><td>diego</td><td>2.38.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.7</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>3.21</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>nfs-volume</td><td>2.3.1</td></tr>
    <tr><td>routing</td><td>0.191.0</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.2</td></tr>
    <tr><td>syslog</td><td>11.5.0</td></tr>
  </tbody>
</table>

### <a id='2.8.0-alpha.3'></a> 2.8.0-alpha.3

**Release Date:** 09/24/2019

* Bump ubuntu-xenial stemcell to version `456.25`
* Bump cflinuxfs3 to version `0.128.0`
* Bump garden-runc to version `1.19.7`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>456.25</td></tr>
    <tr><td>bpm</td><td>1.1.3</td></tr>
    <tr><td>cf-networking</td><td>2.24.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.128.0</td></tr>
    <tr><td>diego</td><td>2.37.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.7</td></tr>
    <tr><td>haproxy</td><td>9.7.1</td></tr>
    <tr><td>loggregator-agent</td><td>3.21</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>nfs-volume</td><td>2.3.0</td></tr>
    <tr><td>routing</td><td>0.191.0</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.1</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>

### <a id='2.8.0-alpha.2'></a> 2.8.0-alpha.2

**Release Date:** 09/17/2019

* **[Security Fix]** Improve LDAP username validation for NFS LDAP integration
* **[Feature Improvement]** Add configuration for router balancing algorithm
* **[Bug Fix]** Fix various syslog drain bugs in the Syslog Agent
* Bump ubuntu-xenial stemcell to version `456.22`
* Bump bpm to version `1.1.3`
* Bump cflinuxfs3 to version `0.126.0`
* Bump diego to version `2.37.0`
* Bump garden-runc to version `1.19.6`
* Bump haproxy to version `9.7.1`
* Bump nfs-volume to version `2.3.0`
* Bump routing to version `0.191.0`
* Bump smb-volume to version `2.0.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>456.22</td></tr>
    <tr><td>bpm</td><td>1.1.3</td></tr>
    <tr><td>cf-networking</td><td>2.24.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.126.0</td></tr>
    <tr><td>diego</td><td>2.37.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.6</td></tr>
    <tr><td>haproxy</td><td>9.7.1</td></tr>
    <tr><td>loggregator-agent</td><td>3.21</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>nfs-volume</td><td>2.3.0</td></tr>
    <tr><td>routing</td><td>0.191.0</td></tr>
    <tr><td>silk</td><td>2.22.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.1</td></tr>
    <tr><td>syslog</td><td>11.4.0</td></tr>
  </tbody>
</table>


## <a id='intro'></a> About Pivotal Isolation Segment

The Pivotal Isolation Segment v2.8 tile is available for installation with <%= vars.platform_name %> v2.8.

Isolation segments provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different <%= vars.platform_name %> deployments but avoids redundant management and network complexity. For more information about isolation segments, see the [Isolation Segments](https://docs.pivotal.io/platform/application-service/2-8/concepts/security.html#isolation-segments) section of the _Pivotal Application Service Security_ topic.

For more information about using isolation segments in your deployment, see [Managing Isolation Segments](https://docs.pivotal.io/platform/application-service/2-8/operating/installing-pcf-is.html).


## <a id='install'></a> How to Install

The procedure for installing Pivotal Isolation Segment v2.8 is documented in [Installing Pivotal Platform Isolation Segment](https://docs.pivotal.io/pivotalcf/2-8/customizing/installing-pcf-is.html).

To install a Pivotal Isolation Segment, you must first install <%= vars.platform_name %> v2.8.


## <a id='2.8.0'></a> New Features in Pivotal Isolation Segment v2.8

### <a id='cpu-entitlement'></a> Diego Sets Container CPU Weight Property Equal to Container Memory Limit

Diego sets the CPU weight property on the containers it creates to a number equivalent to the container memory limit. This allows Garden to calculate the `AbsoluteCPUEntitlement` metric, which is the CPU entitlement for the container. With `AbsoluteCPUEntitlement`, Garden can produce accurate CPU usage metrics that are relative to `AbsoluteCPUEntitlement`.

For more information about the `AbsoluteCPUEntitlement` metric, see the [Diego Container Metrics](http://docs.pivotal.io/platform/application-service/2-8/loggregator/container-metrics.html#container-metrics) section of the _Container Metrics_ topic. For information about the Cloud Foundry CPU Entitlement Plugin, an experimental plugin that allows you to examine the CPU usage of PAS apps relative to their CPU entitlement, see the [cpu-entitlement-plugin](https://github.com/cloudfoundry/cpu-entitlement-plugin) repository on GitHub.

### <a id='smb-default'></a> SMB Volume Services Enabled by Default

SMB volume services are enabled by default. When SMB volume services are enabled, app developers can bind existing SMB shares to apps for shared file access.

To disable SMB volume services in the Isolation Segment tile, select **Advanced Features** and clear the **Enable SMB volume services** checkbox.

For more information, see the [Advanced Features](https://docs.pivotal.io/platform/application-service/2-8/operating/installing-pcf-is.html#advanced_features) section of the _Installing Pivotal Platform Isolation Segment_ topic.

For general information about volume services, see [Using an External File System (Volume Services)](http://docs.pivotal.io/platform/application-service/2-8/devguide/services/using-vol-services.html).

### <a id='nfs-broker-credhub'></a> NFS Broker Uses CredHub as Backing Store

NFS Broker uses CredHub as its backing store, rather than an internal PAS database. Because BOSH Backup and Restore (BBR) no longer backs up NFS Broker, the `nfsbroker-bbr` job is removed.

For more information about CredHub, see [CredHub](https://docs.pivotal.io/platform/2-8/credhub/index.html).

### <a id='compute-networking-isolation'></a> Use the Isolation Segment Tile to Improve Upgrades for Large Foundations

<div class="note warning"><strong>Warning:</strong> This feature has the following breaking changes:</br></br><ul><li><a href="https://docs.pivotal.io/platform/2-8/release-notes/breaking-changes.html#property-renamed">Segment Name Property is Renamed</a></li><li><a href="https://docs.pivotal.io/platform/2-8/release-notes/breaking-changes.html#compute-isolation-router-sharding">Tag Name and Router Sharding Must Be Configured Simultaneously</a></li><li><a href="https://docs.pivotal.io/platform/healthwatch/1-7/release-notes.html">Healthwatch Reports False Capacity Metrics for Isolation Segments Without Placement Tags</a></li></ul></div> 

You can use the Isolation Segment tile to deploy a separate group of Diego Cells without isolating the Cell capacity from other apps.

This approach helps separate the upgrade of the PAS control plane from the upgrade of the Diego Cells. Further, it splits the upgrade of the Diego Cells into smaller groups. This helps operators of large foundations by making upgrades more manageable. It does not affect developers pushing apps to PAS.

To use this feature, go to the **Compute and Networking Isolation** pane in the Isolation Segment tile and select **None** for **Tag name for cell blocks**. 

For more information, see the [Compute and Networking Isolation](https://docs.pivotal.io/pivotalcf/2-8/customizing/installing-pcf-is.html#compute-networking-isolation) section of the _Installing <%= vars.product_name %> Isolation Segment_ topic.

### <a id='aws-ecr-support'></a> Support for Pushing Container Images Hosted in AWS ECR

When you push container images hosted in AWS Elastic Container Registry (ECR) with the Cloud Foundry CLI (cf CLI), you can provide the access key ID and secret for an AWS IAM user as a Docker username and password as part of the `cf push` command. Apps are able to then continuously restart and restage successfully.

This update allows the cf CLI to successfully pull container images hosted in ECR with valid AWS Identity and Access Management (IAM) user credentials.

For more information, see the [Amazon Elastic Container Registry (ECR)](https://docs.pivotal.io/platform/application-service/2-8/devguide/deploy-apps/push-docker.html#ecr) section of the _Deploying an App with Docker_ topic.

### <a id='mtls-loggregator'></a> Mutual TLS Added to Loggregator Endpoints and Components

Mutual TLS is added to the Loggregator, Loggregator Agent, and Log Cache endpoints. It is also added to the Leadership Election job. This provides additional security between these endpoints and metric scrapers.

For more information about Loggregator components, see [Loggregator Architecture](https://docs.pivotal.io/platform/application-service/2-8/loggregator/architecture.html). For more information about the Leadership Election job and metric scraping, see [System Metrics](https://github.com/cloudfoundry/system-metrics-release) on GitHub.

### <a id='disable-v2-firehose'></a> V2 Firehose Can Be Disabled

You can disable the Loggregator V2 Firehose by deselecting the **Enable V2 Firehose** checkbox in the **System Logging** pane of the PAS tile. This shuts down VMs used for the V2 Firehose, such as Dopplers and Reverse Log Proxies. After you disable the V2 Firehose, you can delete these VMs from your deployment to save resources.

<div class='note warning'><strong>Warning:</strong> If you disable V2 Firehose, you must select the <strong>Enable Log Cache syslog ingestion</strong> checkbox, or logs and metrics do not appear in Log Cache. Pivotal recommends that you do not disable the Firehose if you are dependent on any of the following: 
<ul>
    <li>Service tile metrics</li>
    <li>Pivotal Healthwatch or Pivotal App Metrics</li>
    <li>Partner log or metric integrations</li>
</ul>
</div>

<p class="note warning"><strong>Warning:</strong> If you disable the V1 or V2 Firehose, you must disable the Smoke Test Errand or the deploy fails. For more information, see <a href="./runtime-rn.html#disable-firehose-smoke-test-errand">Disable the Smoke Test Errand If You Disable the Firehose</a>.</p>

For more information, see the [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#sys-logging) section of the _Configuring PAS_ topic.

### <a id='aggregate-drain'></a> Aggregate Drain for Metrics and App Logs

When an aggregate log and metric drain is configured in PAS, Pivotal Isolation Segment sends logs and metrics to the Loggregator Log Cache syslog server through the aggregate log and metric drain instead of the Loggregator Firehose. This allows you to disable the Firehose and delete related VMs, such as Dopplers and Reverse Log Proxies. For more information about disabling the Firehose, see [V2 Firehose Can Be Disabled](#disable-v2-firehose).

To enable an aggregate log and metric drain for your foundation, add a comma-separated list of syslog endpoints to the **Aggregate log and metric drain destinations** field in the **System Logging** pane of the PAS tile. For more information, see the [Configure System Logging](https://docs.pivotal.io/platform/application-service/2-8/operating/configure-pas.html#sys-logging) section of the _Configuring PAS_ topic.


## <a id='adv-features'></a> About Advanced Features

The Advanced Features section of the PCF Isolation Segment v2.8 tile includes new functionality that may have certain constraints.

Although these features are fully supported, Pivotal recommends caution when using them in production.


## <a id='known-issues'></a> Known Issues

There are currently no known issues in Isolation Segment v2.8.
