---
title: Pivotal Isolation Segment v2.10 Release Notes
owner: Release Engineering
---

## <a id='known-issues'></a> Known Issues

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 

## <a id='new-features'></a> New Features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following major features:


## <a id='known-issues'></a> Known Issues

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following known issues: