---
title: Pivotal Isolation Segment v2.9 Release Notes
owner: Release Engineering
---

<% current_page.data.title = vars.segment_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.9.0-beta.1'></a> 2.9.0-beta.1

**Release Date:** 02/07/2020

* **[Feature Improvement]** Use the Diego logging format for the Garden job
* Bump ubuntu-xenial stemcell to version `621.51`
* Bump cflinuxfs3 to version `0.160.0`
* Bump diego to version `2.42.0`
* Bump garden-runc to version `1.19.10`
* Bump loggregator-agent to version `5.3.6`
* Bump mapfs to version `1.2.3`
* Bump routing to version `0.197.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.51</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.160.0</td></tr>
    <tr><td>diego</td><td>2.42.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.6</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>routing</td><td>0.197.0</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>

### <a id='2.9.0-alpha.5'></a> 2.9.0-alpha.5

**Release Date:** 01/16/2020

* **[Bug Fix]** mapfs - Fix error when appending to a file
* Bump ubuntu-xenial stemcell to version `621.41`
* Bump cflinuxfs3 to version `0.153.0`
* Bump loggregator-agent to version `5.3.4`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.41</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.153.0</td></tr>
    <tr><td>diego</td><td>2.41.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.4</td></tr>
    <tr><td>mapfs</td><td>1.2.0</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>

### <a id='2.9.0-alpha.4'></a> 2.9.0-alpha.4

**Release Date:** 12/26/2019

* **[Feature]**  Expose all platform metrics on Prometheus endpoints
* **[Bug Fix]** Passwords containing commas no longer cause the SMB volume service to crash at startup with a "mount failed" error
* Bump ubuntu-xenial stemcell to version `621.29`
* Bump cflinuxfs3 to version `0.151.0`
* Bump loggregator-agent to version `5.3.1`
* Add new release metrics-discovery at version `2.0.2`
* Bump smb-volume to version `2.1.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.29</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.151.0</td></tr>
    <tr><td>diego</td><td>2.41.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.1</td></tr>
    <tr><td>mapfs</td><td>1.2.2</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.1</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>

### <a id='2.9.0-alpha.3'></a> 2.9.0-alpha.3

**Release Date:** 12/09/2019

* **[Feature]** Make App Graceful Shutdown Period configurable via Diego's "containers.graceful_shutdown_interval_in_seconds" property
* **[Feature Improvement]** Upgrade Routing, Networking, and Silk releases to use go 1.13 release
* **[Feature Improvement]** Add syslog log-cache aggregate drain
* Bump ubuntu-xenial stemcell to version `621.26`
* Bump bpm to version `1.1.6`
* Bump cf-networking to version `2.27.0`
* Bump cflinuxfs3 to version `0.150.0`
* Bump diego to version `2.41.0`
* Bump garden-runc to version `1.19.9`
* Bump loggregator-agent to version `5.2.4`
* Bump mapfs to version `1.2.2`
* Bump nfs-volume to version `6.0.0`
* Bump routing to version `0.196.0`
* Bump silk to version `2.27.0`
* Bump smb-volume to version `2.1.0`
* Bump syslog to version `11.6.1`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.26</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>cf-networking</td><td>2.27.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.150.0</td></tr>
    <tr><td>diego</td><td>2.41.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.4</td></tr>
    <tr><td>mapfs</td><td>1.2.2</td></tr>
    <tr><td>nfs-volume</td><td>6.0.0</td></tr>
    <tr><td>routing</td><td>0.196.0</td></tr>
    <tr><td>silk</td><td>2.27.0</td></tr>
    <tr><td>smb-volume</td><td>2.1.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>

### <a id='2.9.0-alpha.2'></a> 2.9.0-alpha.2

**Release Date:** 11/20/2019

* **[Security Fix]** Address [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596)
* **[Feature Improvement]** Allow disabling the V2 firehose
* **[Feature Improvement]** The NFS Broker now only runs against credhub as its backing store and therefore we have removed the nfsbroker bbr jobs
* Bump ubuntu-xenial stemcell to version `621.12`
* Bump cf-networking to version `2.26.0`
* Bump cflinuxfs3 to version `0.143.0`
* Bump diego to version `2.40.0`
* Bump nfs-volume to version `5.0.2`
* Bump routing to version `0.193.0`
* Bump silk to version `2.26.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.12</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>cf-networking</td><td>2.26.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.143.0</td></tr>
    <tr><td>diego</td><td>2.40.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>nfs-volume</td><td>5.0.2</td></tr>
    <tr><td>routing</td><td>0.193.0</td></tr>
    <tr><td>silk</td><td>2.26.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.4</td></tr>
    <tr><td>syslog</td><td>11.6.0</td></tr>
  </tbody>
</table>

### <a id='2.9.0-alpha.1'></a> 2.9.0-alpha.1

**Release Date:** 11/07/2019

* Bump ubuntu-xenial stemcell to version `621.5`
* Bump loggregator-agent to version `5.2.0`
* Bump mapfs to version `1.2.1`
* Bump smb-volume to version `2.0.4`
* Bump syslog to version `11.6.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.5</td></tr>
    <tr><td>bpm</td><td>1.1.5</td></tr>
    <tr><td>cf-networking</td><td>2.25.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.140.0</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.0</td></tr>
    <tr><td>mapfs</td><td>1.2.1</td></tr>
    <tr><td>nfs-volume</td><td>2.3.1</td></tr>
    <tr><td>routing</td><td>0.192.0</td></tr>
    <tr><td>silk</td><td>2.25.0</td></tr>
    <tr><td>smb-volume</td><td>2.0.4</td></tr>
    <tr><td>syslog</td><td>11.6.0</td></tr>
  </tbody>
</table>


## <a id='intro'></a> About <%= vars.segment_runtime_full %>

The <%= vars.segment_runtime_full %> <%= vars.v_major_version %> tile is available for installation with <%= vars.platform_name %> <%= vars.v_major_version %>.

Isolation segments provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different <%= vars.platform_name %> deployments but avoids redundant management and network complexity. For more information about isolation segments, see [Isolation Segments](https://docs.pivotal.io/platform/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/security.html#isolation-segments) in _<%= vars.app_runtime_abbr %> Security_.

For more information about using isolation segments in your deployment, see [Managing Isolation Segments](https://docs.pivotal.io/platform/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/isolation-segments.html).


## <a id='install'></a> How to Install

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, see [Installing <%= vars.segment_runtime_full %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/installing-pcf-is.html).

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you must first install <%= vars.platform_name %> <%= vars.v_major_version %>.


## <a id='new-features'></a> New Features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following major features:

### <a id='app-graceful-shutdown'></a> Increase App Graceful Shutdown Period

You can increase the graceful shutdown period for your apps.

When <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) requests a shutdown of app instances, the processes in app containers have a period of time to gracefully shut down before the processes are forcefully terminated. The default, minimum graceful shutdown period is 10 seconds. If your apps require a longer period of time to finish in-flight jobs and gracefully shutdown, you can increase the graceful shutdown period in the **Advanced Features** pane of the <%= vars.app_runtime_abbr %> tile.

For more information, see [Shutdown](https://docs.pivotal.io/platform/application-service/2-9/devguide/deploy-apps/app-lifecycle.html#shutdown) in _App Container Lifecycle_ and [Configure Advanced Features](http://docs.pivotal.io/platform/application-service/2-9/operating/installing-pcf-is.html#advanced_features) in _Installing <%= vars.segment_runtime_full %>_.

### <a id='app-log-limit'></a> Configure App Log Rate Limit (Beta)

You can limit the number of log lines each app instance in your isolation segment generates per second by configuring the **App log rate limit (beta)** section in the **App Containers** pane of the <%= vars.segment_runtime_full %> tile.

This feature is disabled by default. Enabling this feature prevents app instances from overloading the Loggregator Agent with logs, so the Loggregator Agent does not drop logs for other app instances. Enabling this feature also prevents apps from reporting inaccurate app metrics in the Cloud Foundry Command Line Interface (cf CLI) or increasing the CPU usage on the Diego Cell VM.

For more information, see [Configure App Containers](http://docs.pivotal.io/platform/application-service/2-9/operating/installing-pcf-is.html#application_containers) in _Installing <%= vars.segment_runtime_full %>_.

### <a id='smoke-tests'></a> Run Smoke Tests for <%= vars.segment_runtime_full %>

A **Smoke Tests** pane is added to the <%= vars.segment_runtime_full %> tile. This pane allows you to specify an org and space where smoke tests are run.

In the org and space that you specify, the Smoke Test errand pushes an app to a <%= vars.platform_name %> org. 
The app runs basic functionality tests against both the <%= vars.app_runtime_abbr %> and <%= vars.segment_runtime_full %> tiles after an installation or update. 

The Smoke Test errand is on by default. You can turn off the Smoke Test errand in the **Errands** pane.

For more information, see [Configure Smoke Tests](https://docs.pivotal.io/platform/application-service/2-9/operating/installing-pcf-is.html#smoke-tests) in _Installing <%= vars.segment_runtime_full %>_.

<p class='note warning'><strong>Warning:</strong> If you configure the <strong>Compute and Networking Isolation</strong> pane and the <strong>Gorouters reject requests for isolation segments</strong> checkbox in the <%= vars.app_runtime_abbr %> tile in a manner other than the use cases <%= vars.recommended_by %> recommends, the smoke tests fail. For more information, see <a href="https://docs.pivotal.io/platform/application-service/2-9/operating/installing-pcf-is.html#compute-networking-isolation-configs">Options for Configuring Compute and Networking Isolation</a> in <em>Installing <%= vars.segment_runtime_full %></em>.</p>

### <a id='errands'></a> Manage Errands in <%= vars.segment_runtime_full %>

The **Errands** pane is added to the <%= vars.segment_runtime_full %> tile. In the **Errands** pane, you can select **On** to always run an errand or **Off** to never run it.

Errands are scripts that <%= vars.ops_manager %> runs automatically when it installs or uninstalls a product, such as a new version of <%= vars.app_runtime_abbr %>. By default, <%= vars.ops_manager %> always runs all errands.  For more information about how <%= vars.ops_manager %> manages errands, see [Managing Errands in <%= vars.ops_manager %>](https://docs.pivotal.io/platform/<%= vars.current_major_version.sub('.', '-') %>/customizing/managing_errands.html).

This pane allows you to configure whether the Smoke Test errand runs. For more information, see [Configure Errands](https://docs.pivotal.io/platform/application-service/2-9/operating/installing-pcf-is.html#errands) in _Installing <%= vars.segment_runtime_full %>_.


## <a id='known-issues'></a> Known Issues

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following known issues:
