---
title: Pivotal Isolation Segment v2.10 Release Notes
owner: Release Engineering
---
<% current_page.data.title = vars.segment_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.10.0-beta.1'></a> 2.10.0-beta.1

**Release Date:** 05/05/2020

* **[Feature Improvement]** Sticky Session Cookie Names Are Configurable
* Bump ubuntu-xenial stemcell to version `621.71`
* Bump cf-networking to version `2.29.0`
* Bump cflinuxfs3 to version `0.178.0`
* Bump loggregator-agent to version `6.0.0`
* Bump routing to version `0.200.0`
* Bump silk to version `2.29.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.71</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.29.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.178.0</td></tr>
    <tr><td>diego</td><td>2.45.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.0</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.9</td></tr>
    <tr><td>nfs-volume</td><td>7.0.2</td></tr>
    <tr><td>routing</td><td>0.200.0</td></tr>
    <tr><td>silk</td><td>2.29.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.0-alpha.5'></a> 2.10.0-alpha.5

**Release Date:** 04/22/2020

* **[Feature]** HAProxy can now be configured with custom certificate authorities
* **[Bug Fix]** Fix `server_name` value to use Common Name as metrics_agent_metrics_tls
* Bump ubuntu-xenial stemcell to version `621.64`
* Bump cflinuxfs3 to version `0.175.0`
* Bump diego to version `2.45.0`
* Bump garden-runc to version `1.19.11`
* Bump haproxy to version `10.0.0`
* Bump mapfs to version `1.2.4`
* Bump nfs-volume to version `7.0.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.64</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.175.0</td></tr>
    <tr><td>diego</td><td>2.45.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.9</td></tr>
    <tr><td>nfs-volume</td><td>7.0.2</td></tr>
    <tr><td>routing</td><td>0.199.0</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.0-alpha.4'></a> 2.10.0-alpha.4

**Release Date:** 04/07/2020

* Bump ubuntu-xenial stemcell to version `621.61`
* Bump cflinuxfs3 to version `0.174.0`
* Bump loggregator-agent to version `5.3.8`
* Bump routing to version `0.199.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.61</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.174.0</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.9</td></tr>
    <tr><td>nfs-volume</td><td>7.0.1</td></tr>
    <tr><td>routing</td><td>0.199.0</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.0-alpha.3'></a> 2.10.0-alpha.3

**Release Date:** 03/13/2020

* Bump ubuntu-xenial stemcell to version `621.59`
* Bump cflinuxfs3 to version `0.169.0`
* Bump metrics-discovery to version `2.0.9`
* Bump nfs-volume to version `7.0.1`
* Bump smb-volume to version `3.0.1`
* Add new release smoke-tests at version `2.0.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.59</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.169.0</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.7</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.9</td></tr>
    <tr><td>nfs-volume</td><td>7.0.1</td></tr>
    <tr><td>routing</td><td>0.198.0</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.10.0-alpha.2'></a> 2.10.0-alpha.2

**Release Date:** 03/05/2020

* **[Feature]** Support Maestro's rotation capability by adding Services TLS CA to all app containers
* **[Feature]** Make app log rate limit configurable
* Bump ubuntu-xenial stemcell to version `621.57`
* Bump bpm to version `1.1.7`
* Bump cflinuxfs3 to version `0.165.0`
* Bump diego to version `2.44.0`
* Bump loggregator-agent to version `5.3.7`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.57</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.165.0</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.7</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>nfs-volume</td><td>7.0.0</td></tr>
    <tr><td>routing</td><td>0.198.0</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>
 
 

### <a id='2.10.0-alpha.1'></a> 2.10.0-alpha.1

**Release Date:** 02/11/2020

* **[Feature Improvement]** Use the Diego logging format for the Garden job
* No release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.55</td></tr>
    <tr><td>bpm</td><td>1.1.6</td></tr>
    <tr><td>cf-networking</td><td>2.28.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.162.0</td></tr>
    <tr><td>diego</td><td>2.43.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>haproxy</td><td>9.8.0</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.6</td></tr>
    <tr><td>mapfs</td><td>1.2.3</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>nfs-volume</td><td>7.0.0</td></tr>
    <tr><td>routing</td><td>0.198.0</td></tr>
    <tr><td>silk</td><td>2.28.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.0</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>


## <a id='intro'></a> About <%= vars.segment_runtime_full %>

The <%= vars.segment_runtime_full %> <%= vars.v_major_version %> tile is available for installation with <%= vars.platform_name %> <%= vars.v_major_version %>.

Isolation segments provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different <%= vars.platform_name %> deployments but avoids redundant management and network complexity. For more information about isolation segments, see [Isolation Segments](https://docs.pivotal.io/platform/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/security.html#isolation-segments) in _<%= vars.app_runtime_abbr %> Security_.

For more information about using isolation segments in your deployment, see [Managing Isolation Segments](https://docs.pivotal.io/platform/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/isolation-segments.html).


## <a id='install'></a> How to Install

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, see [Installing <%= vars.segment_runtime_full %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/installing-pcf-is.html).

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you must first install <%= vars.platform_name %> <%= vars.v_major_version %>.


## <a id='new-features'></a> New Features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following major features:


## <a id='known-issues'></a> Known Issues

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following known issues:
