---
title: Pivotal Isolation Segment v2.10 Release Notes
owner: Release Engineering
---
<% current_page.data.title = vars.segment_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.segment_runtime_full %> <%= vars.v_major_version %>.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2.10.0'></a> 2.10.0

* See [New Features in Isolation Segment v2.10](#new-features)
* See [Breaking Changes](breaking-changes.html)

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>ubuntu-xenial stemcell</td><td>621.76</td></tr>
    <tr><td>bpm</td><td>1.1.7</td></tr>
    <tr><td>cf-networking</td><td>2.30.0</td></tr>
    <tr><td>cflinuxfs3</td><td>0.198.0</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.11</td></tr>
    <tr><td>haproxy</td><td>10.0.0</td></tr>
    <tr><td>loggregator-agent</td><td>6.0.2</td></tr>
    <tr><td>mapfs</td><td>1.2.4</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.0</td></tr>
    <tr><td>nfs-volume</td><td>7.0.3</td></tr>
    <tr><td>routing</td><td>0.203.0</td></tr>
    <tr><td>silk</td><td>2.30.0</td></tr>
    <tr><td>smb-volume</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>syslog</td><td>11.6.1</td></tr>
  </tbody>
</table>


## <a id='intro'></a> About <%= vars.segment_runtime_full %>

The <%= vars.segment_runtime_full %> <%= vars.v_major_version %> tile is available for installation with <%= vars.platform_name %> <%= vars.v_major_version %>.

Isolation segments provide dedicated pools of resources where you can deploy apps and isolate workloads. Using isolation segments separates app resources as completely as if they were in different <%= vars.platform_name %> deployments but avoids redundant management and network complexity. For more information about isolation segments, see [Isolation Segments](https://docs.pivotal.io/platform/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/concepts/security.html#isolation-segments) in _<%= vars.app_runtime_abbr %> Security_.

For more information about using isolation segments in your deployment, see [Managing Isolation Segments](https://docs.pivotal.io/platform/application-service/<%= product_info['local_product_version'].to_s.sub('.','-') %>/adminguide/isolation-segments.html).


## <a id='install'></a> How to Install

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, see [Installing <%= vars.segment_runtime_full %>](https://docs.pivotal.io/platform/<%= product_info['local_product_version'].to_s.sub('.','-') %>/customizing/installing-pcf-is.html).

To install <%= vars.segment_runtime_full %> <%= vars.v_major_version %>, you must first install <%= vars.platform_name %> <%= vars.v_major_version %>.


## <a id='new-features'></a> New Features in <%= vars.segment_runtime_full %> <%= vars.v_major_version %>

<%= vars.segment_runtime_full %> <%= vars.v_major_version %> includes the following major features:

* **[Feature Improvement]** Use the Diego logging format for the Garden job
* **[Feature]** Support Maestro's rotation capability by adding Services TLS CA to all app containers
* **[Feature]** Make app log rate limit configurable
* **[Feature]** HAProxy can now be configured with custom certificate authorities
* **[Bug Fix]** Fix `server_name` value to use Common Name as metrics_agent_metrics_tls
* **[Feature Improvement]** Sticky Session Cookie Names Are Configurable
* **[Feature]** Optionally Converge on Human Readable Timestamps for TAS Component Logs
* **[Feature]** Allow egress traffic from apps to addresses on host via host_tcp_services
* **[Bug Fix]** Migrate `services/intermediate_tls_ca` to `/services/tls_leaf` for Maestro
* **[Bug Fix]** Add a new cache configuration to the NFS service allowing service instances to enable file attribute caching and achieve directory listing performance similar to the nfs-legacy service
* **[Feature Improvement]** Removes metrics by default in aggregate drains
* **[Bug Fix]** Gorouter - Drain timeout always uses configured value
* **[Bug Fix]** Silk - Continue container networking during cell drain
* **[Bug Fix]** Loggregator Agent - Fix certificate issues for all agent metrics
* **[Bug Fix]** Remove invalid characters in hostnames in outgoing application syslog messages to comply with [RFC 5424](https://tools.ietf.org/html/rfc5424)
* **[Security Fix]** Fix for [CVE-2020-15586](https://www.cloudfoundry.org/blog/cve-2020-15586/): Bump golang to version 1.14.5 with a fix in the net/http/httputil package for an issue which could cause the Gorouter to crash if a malicious client sends specially crafted HTTP requests.


### <a id='disable-logs-firehose'></a> Send Only App Metrics to Firehose

You can choose to prevent the Loggregator Firehose from emitting app logs but still allow the Firehose to emit app metrics. Disabling logs in the Firehose helps reduce the load on <%= vars.segment_runtime_full %> by allowing you to scale down Doppler and Traffic Controller VMs.

To configure the Firehose to receive only app metrics, you must select the **Disable logs in Firehose**, **Log Cache syslog ingestion**, **Enable V1 Firehose**, and **Enable V2 Firehose** checkboxes in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. You must also configure **Aggregate log and metric drain destinations** in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. For more information, see [Configure System Logging](http://docs-pcf-staging.cfapps.io/platform/application-service/2-10/operating/configure-pas.html#sys-logging) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='timestamps'></a> Optionally Use Human-Readable Timestamps for Component Logs

<%= vars.app_runtime_abbr %> v2.10 introduces RFC3339 log format support for several <%= vars.app_runtime_abbr %> components. You can configure these components to produce logs with human-readable RFC3339 timestamps with the **Timestamp format for component logs** configuration option in the <%= vars.app_runtime_abbr %> tile. Logs that use human-readable timestamps are often easier to debug.

RFC3339-formatted timestamps follow the RFC3339 spec, include nine points of precision where possible, and are in UTC. For example:

* 2019-11-21T22:16:18.750673404Z
* 2019-11-21T22:16:18.750000000Z 

For more information about configuring the **Timestamp format for component logs** field, see [System Logging](https://docs.pivotal.io/platform/application-service/2-10/operating/configuring-pas.html) in _Configuring <%= vars.app_runtime_abbr %>_.

In <%= vars.app_runtime_abbr %> v2.10.0, if you select the **Converge to human-readable RFC3339 format** option under **Timestamp format for component logs**, then the following components and related jobs use RFC3339 timestamps: 

| Component | Jobs |
| ------------ | ----- |
| `routing` | `gorouter` |
| `silk` | `iptables logger`, `silk-daemon` |
| `diego` | `auctioneer`, `bbs`, `file_server`, `locket`, `rep`, `route_emitter`, `ssh_proxy` |
| `garden-runc` | `garden` |
| `pxc` | `pxc-mysql`, `proxy`, `galera-agent`, `gra-log-purger` |
| `mysql-monitoring` | `mysql-metrics`, `replication-canary` | 

Components not listed in the table above either do not support RFC3339 timestamps in <%= vars.app_runtime_abbr %> v2.10.0 or were already using the RFC3339 timestamp format. Selecting **Converge to human-readable RFC3339 format** ensures that any additional components that add support for RFC3339 timestamps in later releases of <%= vars.app_runtime_abbr %> v2.10 are automatically configured to use RFC3339 timestamps after you upgrade.

To confirm which <%= vars.app_runtime_abbr %> components use RFC3339 timestamps:

1. Go to the `debug/files` endpoint at `https://OPS-MANAGER-FQDN/debug/files`, where `OPS-MANAGER-FQDN` is the fully-qualified domain name of your Ops Manager instance.

1. For each component, confirm that the `logging.format.timestamp` property is set to `rfc3339`.

<p class='note breaking'><strong>Breaking Change:</strong> The <strong>Timestamp format for component logs</strong> feature replaces the <strong>Format of timestamps in Diego logs</strong> feature in the <strong>App Containers</strong> pane of the <%= vars.app_runtime_abbr %> tile. However, when you upgrade to <%= vars.app_runtime_abbr %> v2.10, the option that was selected under <strong>Format of timestamps in Diego logs</strong> in your previous deployment is applied to <strong>Timestamp format for component logs</strong>. For more information, see <a href='breaking-changes.html#timestamps'>Timestamp Format for Component Logs Replaces Timestamp Format for Diego Logs</a> in <em>Ops Manager and Runtime Breaking Changes</em>.</p>

### <a id='sticky-cookies'></a> Configurable Sticky Session Cookie Names

You can supply sticky session cookie names for the Gorouter to use when handling sticky sessions.
The Gorouter uses these cookies to support session affinity, or _sticky sessions_.
For more information, see [Session Affinity](https://docs.pivotal.io/platform/2-10/concepts/http-routing.html#sessions)
in _HTTP Routing_.

By default, the Gorouter uses `JSESSIONID`. Some apps require a different session name.
For example, Spring WebFlux requires `SESSION` for the session cookie name.

To supply cookie names, see [Configure Networking](https://docs.pivotal.io/platform/application-service/2-10/operating/installing-pcf-is.html#networking) in _Installing <%= vars.segment_runtime_full %>_.


## <a id='known-issues'></a> Known Issues

There are no known issues for <%= vars.segment_runtime_full %> <%= vars.v_major_version %> at this time.
