---
title: Pivotal Application Service for Windows Release Notes
owner: Garden Windows
---

<% current_page.data.title = vars.windows_runtime_full + " " + vars.v_major_version + " Release Notes" %>

This topic contains release notes for <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) <%= vars.v_major_version %>. 

<hr>

## <a id='releases'></a> Releases
 
<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>
 
### <a id='2.7.14'></a> 2.7.14

**Release Date:** 05/18/2020

* **[Bug Fix]** Fix scheduling bug in `loggregator agent` by upgrading to Go 1.14.2
* Bump windows2019 stemcell to version `2019.20`
* Bump loggregator-agent to version `3.21.10`
* Bump windowsfs-release to version `2.13.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.20</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.127</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.10</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.13.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.7.13'></a> 2.7.13

**Release Date:** 04/22/2020

* **[Bug Fix]** Loggregator Agent handles deployment with no Dopplers
* Bump windows2019 stemcell to version `2019.19`
* Bump loggregator-agent to version `3.21.9`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.19</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.127</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.9</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.12.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.7.12'></a> 2.7.12

**Release Date:** 04/07/2020

* **[Bug Fix]** garden-runc - bump to latest release in supported versions
* Bump windows2019 stemcell to version `2019.19`
* Bump garden-runc to version `1.19.10`
* Bump windows-utilities to version `0.14.0`
* Bump windowsfs-release to version `2.12.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.19</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.127</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.12.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.7.11'></a> 2.7.11

**Release Date:** 03/19/2020

* Add new release cf-smoke-tests at version `40.0.127`
* Bump windowsfs-release to version `2.10.0`
* Removed cf-windows-smoke-tests release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.17</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.127</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.10.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.7.10'></a> 2.7.10

**Release Date:** 02/27/2020

* **[Bug Fix]** Fix Race Condition in Loggregator Agent
* Bump windows2019 stemcell to version `2019.17`
* Bump cf-windows-smoke-tests to version `40.0.127`
* Bump loggregator-agent to version `3.21.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.17</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.127</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.5.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.7.9'></a> 2.7.9

**Release Date:** 02/07/2020

* Bump windowsfs-release to version `2.5.0`

* Include support for .NET Framework 4.8.0

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.15</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.125</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.5</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.5.0</td></tr>
  </tbody>
</table>
 
 
 
### <a id='2.7.8'></a> 2.7.8

**Release Date:** 01/18/2020

* **[Security Fix]** Addresses CVE 2020-0601: Windows CryptoAPI Spoofing Vulnerability
* Bump windows2019 stemcell to version `2019.15`
* Bump windowsfs-release to version `2.4.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.15</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.125</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.5</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.4.0</td></tr>
  </tbody>
</table>

### <a id='2.7.7'></a> 2.7.7

**Release Date:** 01/16/2020

* Bump cf-windows-smoke-tests to version `40.0.125`
* Removed loggregator release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.14</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.125</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.5</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.3.0</td></tr>
  </tbody>
</table>

### <a id='2.7.6'></a> 2.7.6

**Release Date:** 12/26/2019

* **[Security Fix]** [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596) - Fix panic upon an attempt to process network traffic containing an invalid DSA public key for garden-runc release
* **[Security Fix]** [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596) - Fix panic upon an attempt to process network traffic containing an invalid DSA public key for loggregator releases
* Bump windows2019 stemcell to version `2019.14`
* Bump cf-windows-smoke-tests to version `40.0.124`
* Bump garden-runc to version `1.19.9`
* Bump loggregator-agent to version `3.21.5`
* Bump loggregator to version `105.6.3`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.14</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.124</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.5</td></tr>
    <tr><td>loggregator</td><td>105.6.3</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.3.0</td></tr>
  </tbody>
</table>

### <a id='2.7.5'></a> 2.7.5

**Release Date:** 12/09/2019

* Bump windowsfs-release to version `2.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.13</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.123</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.4</td></tr>
    <tr><td>loggregator</td><td>105.6.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.3.0</td></tr>
  </tbody>
</table>

### <a id='2.7.4'></a> 2.7.4

**Release Date:** 12/02/2019

* Bump windows2019 stemcell to version `2019.13`
* Bump cf-windows-smoke-tests to version `40.0.123`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.13</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.123</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.4</td></tr>
    <tr><td>loggregator</td><td>105.6.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.1.0</td></tr>
  </tbody>
</table>

### <a id='2.7.3'></a> 2.7.3

**Release Date:** 10/31/2019

* **[Security Fix]** Upgrade Go, runc and containerd to latest to include security fixes
* **[Security Fix]** CVE-2019-17596 bump Go
* Bump windows2019 stemcell to version `2019.12`
* Bump garden-runc to version `1.19.8`
* Bump loggregator-agent to version `3.21.4`
* Bump loggregator to version `105.6.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.12</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.4</td></tr>
    <tr><td>loggregator</td><td>105.6.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.1.0</td></tr>
  </tbody>
</table>

### <a id='2.7.2'></a> 2.7.2

**Release Date:** 10/16/2019

* **[Security Fix]** Bump Go to address CVE-2019-16276
* **[Bug Fix]** Increase task result file size to ensure apps with very long start commands stage successfully
* Bump diego to version `2.36.5`
* Bump loggregator-agent to version `3.21.3`
* Bump loggregator to version `105.6.1`
* Bump windowsfs-release to version `2.1.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.11</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>diego</td><td>2.36.5</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.7</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21.3</td></tr>
    <tr><td>loggregator</td><td>105.6.1</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.1.0</td></tr>
  </tbody>
</table>

### <a id='2.7.1'></a> 2.7.1

**Release Date:** 10/08/2019

* **[Security Fix]** Use envoy-nginx-release v0.6.0 to address HTTP2 vulnerabilities
* **[Security Fix]** Upgrade Diego Components to Use grpc v1.23.0 and Go 1.12.9 to Fix HTTP2 CVEs
* **[Security Fix]** Bump garden-runc release to take Go HTTP/2 and containerd gRPC fixes
* **[Feature Improvement]** Docker image applications hosted in AWS ECR continue to run when restarted after the typical AWS ECR credential expiration period
* **[Bug Fix]** Tag system containers with `network.healthcheck` so that 3rd party networking plugins can ignore them.
* Bump windows2019 stemcell to version `2019.11`
* Bump diego to version `2.36.4`
* Bump envoy-nginx to version `0.6.0`
* Bump garden-runc to version `1.19.7`
* Bump winc to version `2.0.0`
* Bump windowsfs-release to version `2.0.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.11</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>diego</td><td>2.36.4</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.7</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21</td></tr>
    <tr><td>loggregator</td><td>105.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.0.0</td></tr>
  </tbody>
</table>

### <a id='2.7.0'></a> 2.7.0

<p class="note breaking"><strong>Breaking Change:</strong> Platform engineers can no longer enable or disable RDP in PASW.</p>

* **[Feature]** Enable TLS connections from Router to Windows Applications [Beta]
* **[Feature Improvement]** Add the ciphers configuration to envoy-nginx-release
* **[Feature Improvement]** Windows Smoke Tests Errand uses windows stack instead of windows2016.
* **[Feature Improvement]** Apps provided 10 seconds to gracefully shutdown
* **[Feature Improvement]** Agent-based syslog egress is enabled by default
* **[Security Fix]** Introduce and trust new Diego "root CA" in advance of existing CA expiration
* **[Bug Fix]** Loggregator agent runs out of file descriptors causing windows diego cells to be unreachable
* **[Feature]** Improve scalability of application syslog drain system with new syslog agent architecture
* **[Bug Fix]** Fix various syslog drain bugs in the Syslog Agent
* Bump windows2019 stemcell to version `2019.9`
* Bump cf-windows-smoke-tests to version `40.0.119`
* Bump diego to version `2.36.0`
* Bump envoy-nginx to version `0.5.0`
* Bump garden-runc to version `1.19.5`
* Bump hwc-offline-buildpack to version `3.1.10`
* Bump loggregator-agent to version `3.21`
* Bump loggregator to version `105.6`
* Bump winc to version `1.14.0`
* Bump windows-utilities to version `0.13.0`
* Bump windowsfs-release to version `1.8.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.9</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.119</td></tr>
    <tr><td>diego</td><td>2.36.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.5.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.5</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>3.21</td></tr>
    <tr><td>loggregator</td><td>105.6</td></tr>
    <tr><td>winc</td><td>1.14.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>1.8.0</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.platform_name %> <%= vars.v_major_version %>. To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile, you must install <%= vars.ops_manager_full %> <%= vars.v_major_version %> or later and <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %> or later.


## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='windows2016'></a> Deprecation of the windows2016 Stack

You should migrate any apps that run on the `windows2016` stack to the `windows` stack.

You can migrate your apps from `windows2016` to `windows` using Stack Auditor, a Cloud Foundry CLI plugin. For more information, see [Using the Stack Auditor Plugin](https://docs.pivotal.io/platform/2-7/adminguide/stack-auditor.html).

### <a id='vcr-libs'></a> Pre-Installed Visual C++ Redistributables

<%= vars.windows_runtime_abbr %> v2.7 includes pre-installed Microsoft Visual C++ Redistributables for Visual Studio 2010, 2015, 2017 and 2019. This change is backported to <%= vars.windows_runtime_abbr %> v2.2.

This update improves the developer experience by making VisualC++ Redistributables readily available for .NET apps. Developers no longer have to manually bin deploy to reference C++ or C++ based libraries.

### <a id='agent-based-syslog-egress'></a> Agent-Based Syslog Egress Is Enabled by Default

<%= vars.windows_runtime_abbr %> v2.7 contains Syslog Agent, an agent that forwards logs to configured syslog drains and Loggregator. Syslog Agent is enabled by default, and the option to enable or disable syslog egress is removed from the <%= vars.app_runtime_abbr %> UI.

Additionally, the instance groups `syslog_adapter` and `syslog_scheduler`, and the property `syslog_metrics_to_syslog_enabled` are removed, as agent-based syslog egress removes the need for VMs dedicated to syslog drains.

For more information about how Syslog Agent functions within Loggregator, see [Loggregator Architecture](https://docs.pivotal.io/platform/2-7/loggregator/architecture.html) and the [Loggregator Agent Release](https://github.com/cloudfoundry/loggregator-agent-release) repository on GitHub.

### <a id='rdp'></a> RDP Support Removed in Favor of BOSH SSH

<p class="note warning"><strong>Warning:</strong> This feature is a breaking change. For more information, see <a href="./breaking-changes.html#rdp">RDP is Not Supported</a> in <em><%= vars.platform_name %> v2.7 Breaking Changes</em>.</p>

The **Enable Remote Desktop Protocol** field is removed from the <%= vars.windows_runtime_abbr %> tile. <%= vars.windows_runtime_abbr %> VMs do not support connection through RDP.

This is part of a larger effort to achieve platform parity with Linux VMs by enabling `bosh ssh` for all actions related to the Windows VMs.

To access Windows VMs, use `bosh ssh`. To enable `bosh ssh` for Windows VM, select **Enable BOSH-native SSH support on all VMs** in the <%= vars.windows_runtime_abbr %> tile.

For more information, see [Configure VMs](https://docs.pivotal.io/platform/application-service-windows/2-7/installing.html#config-vms) in _Installing and Configuring <%= vars.windows_runtime_abbr %>_.  


## <a id='adv-features'></a> New Advanced Features

The **Advanced Features** pane of the <%= vars.windows_runtime_abbr %> tile includes new functionality that may have certain constraints.

Although these features are fully supported, <%= vars.recommended_by %> recommends caution when using them in production.

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following advanced features:

### <a id='beta-tls'></a> (Beta) Enable TLS Connections From Router to Apps

You can enable TLS connections from the router to apps. This feature is available in the **Advanced Features** pane of the <%= vars.windows_runtime_abbr %> tile.

You can select three different options to add route integrity and mTLS (mutual TLS):

* **Disable route integrity and mutual TLS**: This beta feature is disabled by default.
* **Router uses TLS to verify app identity**: This enables route integrity for your apps but not mTLS.
* **Router and apps use mutual TLS to verify each other's identity**: This option enables both route integrity and mTLS.

<p class="note"><strong>Note:</strong> This beta feature checks only that the client certificate is signed by the expected CA using mTLS. It does not include Subject Alternative Name (SAN) checks of the presented client certificates.</p>
