---
title: Pivotal Application Service for Windows v2.8 Release Notes
owner: Garden Windows
---

This topic contains release notes for <%= vars.windows_runtime_full %> (<%= vars.windows_runtime_abbr %>) <%= vars.v_major_version %>.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2.8.14'></a> 2.8.14

**Release Date:** 08/07/2020

* **[Bug Fix]** System Metrics Scraper/Prom Scraper — Fixes a bug that causes excess log volume and increases scrape interval to reduce metric volume
* Bump windows2019 stemcell to version `2019.24`
* Bump cf-smoke-tests to version `40.0.134`
* Bump garden-runc to version `1.19.14`
* Bump windowsfs-release to version `2.16.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.24</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.134</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.14</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.10</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.16.0</td></tr>
  </tbody>
</table>



### <a id='2.8.13'></a> 2.8.13

**Release Date:** 07/09/2020

* Bump windows2019 stemcell to version `2019.23`
* Bump cf-smoke-tests to version `40.0.130`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.23</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.130</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.10</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.15.0</td></tr>
  </tbody>
</table>



### <a id='2.8.12'></a> 2.8.12

**Release Date:** 06/25/2020

* **[Breaking Change]** Incorrect HTTP(S) Proxy configuration breaks CredHub interpolation for apps. For more information, see [<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> Breaking Changes](breaking-changes.html#credhub-interpolate-with-https-win).
* **[Bug Fix]** Remove invalid characters in hostnames in outgoing application syslog messages to comply with [RFC 5424](https://tools.ietf.org/html/rfc5424)
* Bump diego to version `2.47.0`
* Bump loggregator-agent to version `5.2.10`
* Bump windowsfs-release to version `2.15.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.22</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.128</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.10</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.15.0</td></tr>
  </tbody>
</table>



### <a id='2.8.11'></a> 2.8.11

**Release Date:** 06/11/2020

* **[Bug Fix]** Loggregator Agent - Fix certificate issues for all agent metrics
* No release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.22</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.128</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.9</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.14.0</td></tr>
  </tbody>
</table>



### <a id='2.8.10'></a> 2.8.10

**Release Date:** 06/03/2020

* **[Bug Fix]** Migrate `services/intermediate_tls_ca` to `/services/tls_leaf` for Maestro
* Bump windows2019 stemcell to version `2019.22`
* Bump cf-smoke-tests to version `40.0.128`
* Bump windowsfs-release to version `2.14.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.22</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.128</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.9</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.14.0</td></tr>
  </tbody>
</table>



### <a id='2.8.9'></a> 2.8.9

**Release Date:** 05/18/2020

* **[Bug Fix]** Fix scheduling bug in `loggregator agent` by upgrading to Go 1.14.2
* Bump windows2019 stemcell to version `2019.20`
* Bump loggregator-agent to version `5.2.9`
* Bump windowsfs-release to version `2.13.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.20</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.127</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.9</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.13.0</td></tr>
  </tbody>
</table>



### <a id='2.8.8'></a> 2.8.8

**Release Date:** 04/22/2020

* **[Bug Fix]** Fix `server_name` value to use Common Name as metrics_agent_metrics_tls
* Bump windows2019 stemcell to version `2019.19`
* No release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.19</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.127</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.8</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.12.0</td></tr>
  </tbody>
</table>



### <a id='2.8.7'></a> 2.8.7

**Release Date:** 04/07/2020

* **[Bug Fix]** garden-runc - bump to latest release in supported versions
* **[Bug Fix]** Fix a memory leak and go-routine leak related to having multiple aggregate drains in Loggregator
* Bump garden-runc to version `1.19.10`
* Bump loggregator-agent to version `5.2.8`
* Bump windows-utilities to version `0.14.0`
* Bump windowsfs-release to version `2.12.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.15</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.127</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.8</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.12.0</td></tr>
  </tbody>
</table>



### <a id='2.8.6'></a> 2.8.6

**Release Date:** 03/19/2020

* **[Bug Fix]** Fix DNS Interaction between Loggregator Agent and Doppler
* Add new release cf-smoke-tests at version `40.0.127`
* Bump loggregator-agent to version `5.2.7`
* Bump windowsfs-release to version `2.10.0`
* Removed cf-windows-smoke-tests release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.17</td></tr>
    <tr><td>cf-smoke-tests</td><td>40.0.127</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.7</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.10.0</td></tr>
  </tbody>
</table>



### <a id='2.8.5'></a> 2.8.5

**Release Date:** 03/02/2020

* **[Feature]** Support Maestro's rotation capability by adding Services TLS CA to all App containers
* **[Bug Fix]** Log only necessary information when auction scoring fails
* **[Bug Fix]** Fix Race Condition in Loggregator Agent
* Bump windows2019 stemcell to version `2019.17`
* Bump cf-windows-smoke-tests to version `40.0.127`
* Bump diego to version `2.44.0`
* Bump loggregator-agent to version `5.2.6`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.17</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.127</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.6</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.5.0</td></tr>
  </tbody>
</table>



### <a id='2.8.4'></a> 2.8.4

**Release Date:** 02/06/2020

* Bump windowsfs-release to version `2.5.0`

* Include support for .NET Framework 4.8.0

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.15</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.125</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.5.0</td></tr>
  </tbody>
</table>



### <a id='2.8.3'></a> 2.8.3

**Release Date:** 01/18/2020

* **[Security Fix]** Addresses CVE 2020-0601: Windows CryptoAPI Spoofing Vulnerability
* Bump windows2019 stemcell to version `2019.15`
* Bump windowsfs-release to version `2.4.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.15</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.125</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.4.0</td></tr>
  </tbody>
</table>

### <a id='2.8.2'></a> 2.8.2

**Release Date:** 01/16/2020

* Bump cf-windows-smoke-tests to version `40.0.125`
* Removed loggregator release

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.14</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.125</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.1</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.3.0</td></tr>
  </tbody>
</table>

### <a id='2.8.1'></a> 2.8.1

**Release Date:** 12/26/2019

* **[Security Fix]** [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596) - Fix panic upon an attempt to process network traffic containing an invalid DSA public key for garden-runc release
* **[Security Fix]** [CVE-2019-17596](https://nvd.nist.gov/vuln/detail/CVE-2019-17596) - Fix panic upon an attempt to process network traffic containing an invalid DSA public key for loggregator releases
* **[Feature]**  Expose all platform metrics on Prometheus endpoints
* Bump windows2019 stemcell to version `2019.14`
* Bump cf-windows-smoke-tests to version `40.0.124`
* Bump garden-runc to version `1.19.9`
* Bump loggregator-agent to version `5.2.1`
* Add new release metrics-discovery at version `2.0.2`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.14</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.124</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.9</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.2.1</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.3.0</td></tr>
  </tbody>
</table>

### <a id='2.8.0'></a> 2.8.0

**Release Date:** 12/09/2019

* See [New Features in <%= vars.windows_runtime_abbr %> v2.8](#new-features)
* See [Breaking Changes](./breaking-changes.html)
* Bump windowsfs-release to version `2.3.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.13</td></tr>
    <tr><td>cf-windows-smoke-tests</td><td>40.0.123</td></tr>
    <tr><td>diego</td><td>2.39.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.8</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.10</td></tr>
    <tr><td>loggregator-agent</td><td>5.1.0</td></tr>
    <tr><td>loggregator</td><td>106.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.13.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.3.0</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.platform_name %> <%= vars.v_major_version %>. To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile, you must install <%= vars.ops_manager_full %> <%= vars.v_major_version %> or later and <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %> or later.


## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='windows2016'></a> Deprecation of the windows2016 Stack

You should migrate any apps that run on the `windows2016` stack to the `windows` stack.

You can migrate your apps from `windows2016` to `windows` using Stack Auditor, a Cloud Foundry CLI plugin. For more information, see [Using the Stack Auditor Plugin](https://docs.pivotal.io/platform/2-8/adminguide/stack-auditor.html).

### <a id='mtls-unproxed-port-mappings'></a> Mutual TLS Disables Unproxied Port Mappings

When you enable mutual TLS, <%= vars.windows_runtime_abbr %> disables unproxied port mappings. This ensures that unsecure ports are closed and also provides feature parity with <%= vars.app_runtime_abbr %>.

To enable mutual TLS for <%= vars.windows_runtime_abbr %>, go to the **Advanced Features** pane in the <%= vars.windows_runtime_abbr %> tile. Under **TLS connections from Router to apps (beta)**, select **Router and apps use mutual TLS to verify each other's identity**.

For more information, see [TLS Connections from Router to Apps (Beta)](https://docs.pivotal.io/application-service-windows/2-8/installing.html#config-advanced-features) in _Installing and Configuring <%= vars.windows_runtime_abbr %>_.

### <a id='nfs-broker-credhub'></a> NFS Broker Uses CredHub as Backing Store

NFS Broker uses CredHub as its backing store, rather than an internal <%= vars.app_runtime_abbr %> database. Because BOSH Backup and Restore (BBR) no longer backs up NFS Broker, the `nfsbroker-bbr` job is removed.

For more information about CredHub, see [CredHub](https://docs.pivotal.io/platform/2-8/credhub/index.html).

### <a id='mtls-loggregator'></a> Mutual TLS Added to Loggregator Endpoints and Components

Mutual TLS is added to the Loggregator, Loggregator Agent, and Log Cache endpoints. It is also added to the Leadership Election job. This provides additional security between these endpoints and metric scrapers.

For more information about Loggregator components, see [Loggregator Architecture](https://docs.pivotal.io/application-service/2-8/loggregator/architecture.html). For more information about the Leadership Election job and metric scraping, see the [System Metrics](https://github.com/cloudfoundry/system-metrics-release) repository on GitHub.

### <a id='disable-v2-firehose'></a> V2 Firehose Can Be Disabled

You can disable the Loggregator V2 Firehose by deselecting the **Enable V2 Firehose** checkbox in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. This shuts down VMs used for the V2 Firehose, such as Dopplers and Reverse Log Proxies. After you disable the V2 Firehose, you can delete these VMs from your deployment to save resources.

<div class='note warning'><strong>Warning:</strong> If you disable the V2 Firehose, you must select the <strong>Enable Log Cache syslog ingestion</strong> checkbox, or logs and metrics do not appear in Log Cache. <%= vars.recommended_by %> recommends that you do not disable the Firehose if you are dependent on any of the following:
<ul>
    <li>Service tile metrics</li>
    <li>Pivotal Healthwatch or Pivotal App Metrics</li>
    <li>Partner log or metric integrations</li>
</ul>
</div>

<p class="note warning"><strong>Warning:</strong> If you disable the V1 or V2 Firehose, you must disable the Smoke Test Errand or the deploy fails. For more information, see <a href="./runtime-rn.html#disable-firehose-smoke-test-errand">Disable the Smoke Test Errand If You Disable the Firehose</a>.</p>

For more information, see [Configure System Logging](https://docs.pivotal.io/application-service/2-8/operating/configure-pas.html#sys-logging) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='aggregate-drain'></a> Aggregate Drain for Metrics and App Logs

When an aggregate log and metric drain is configured in <%= vars.app_runtime_abbr %>, <%= vars.windows_runtime_abbr %> sends logs and metrics to the Loggregator Log Cache syslog server through the aggregate log and metric drain instead of the Loggregator Firehose. This allows you to disable the Firehose and delete related VMs, such as Dopplers and Reverse Log Proxies. For more information about disabling the Firehose, see [V2 Firehose Can Be Disabled](#disable-v2-firehose).

To enable an aggregate log and metric drain for your foundation, add a comma-separated list of syslog endpoints to the **Aggregate log and metric drain destinations** field in the **System Logging** pane of the <%= vars.app_runtime_abbr %> tile. For more information, see [Configure System Logging](https://docs.pivotal.io/application-service/2-8/operating/configure-pas.html#sys-logging) in _Configuring <%= vars.app_runtime_abbr %>_.

### <a id='web-config-transform-buildpack'></a> Web Config Transform Extension Buildpack

You can use the Web Config Transform Extension Buildpack to externalize .NET Framework configurations in the `web.config` file to external sources such as GitHub, CredHub, or environment variables. The buildpack uses token replacement to ensure that app configurations are not included in the `web.config` build artifact.

For more information about using the buildpack, see the [Web Config Transform Buildpack](https://github.com/cloudfoundry-community/web-config-transform-buildpack) repository on GitHub.


### <a id='dns-search-domains'></a> DNS Search Domains Support

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> supports DNS search domains.
<%= vars.windows_runtime_abbr %> app containers use the domains configured in the
<%= vars.app_runtime_abbr %> **DNS search domains** field as their domain search list.

For more information,
see [(Optional) Configure DNS Search Domains](https://docs-pcf-staging.cfapps.io/application-service-windows/2-8/installing.html#dns-search-domains) 
in _Installing and Configuring <%= vars.windows_runtime_abbr %>_.


## <a id='adv-features'></a> New Advanced Features

The **Advanced Features** pane of the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile includes new functionality that may have certain constraints.

Although these features are fully supported, <%= vars.recommended_by %> recommends caution when using them in production.


## <a id='known-issues'></a> Known Issues

There are currently no known issues in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.
