---
title: VMware Tanzu Application Service for VMs &#91;Windows&#93; v2.9 Release Notes
owner: Garden Windows
---

<% current_page.data.title = vars.windows_runtime_full + " " + vars.v_major_version + " Release Notes" %>

<p class="note"><strong>Note:</strong>
  Pivotal Platform is now part of VMware Tanzu.
  In v2.9 and later, Pivotal Application Service for Windows is renamed to VMware Tanzu Application Service for VMs &#91;Windows&#93;.
</p>

This topic contains release notes for <%= vars.windows_runtime_full %> <%= vars.v_major_version %>.

<hr>

## <a id='releases'></a> Releases

<%# DO NOT DELETE THIS LINE - robots use this to add new release notes %>

### <a id='2.9.8'></a> 2.9.8

**Release Date:** 08/07/2020

* **[Bug Fix]** System Metrics Scraper/Prom Scraper — Fixes a bug that causes excess log volume and increases scrape interval to reduce metric volume
* Bump windows2019 stemcell to version `2019.24`
* Bump garden-runc to version `1.19.14`
* Bump windowsfs-release to version `2.16.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.24</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.14</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.16.0</td></tr>
  </tbody>
</table>



### <a id='2.9.7'></a> 2.9.7

**Release Date:** 07/09/2020

* Bump windows2019 stemcell to version `2019.23`
* No release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.23</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.15.0</td></tr>
  </tbody>
</table>



### <a id='2.9.6'></a> 2.9.6

**Release Date:** 06/25/2020

* **[Breaking Change]** Incorrect HTTP(S) Proxy configuration breaks CredHub interpolation for apps. For more information, see [<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> Breaking Changes](breaking-changes.html#credhub-interpolate-with-https-win).
* **[Bug Fix]** Remove invalid characters in hostnames in outgoing application syslog messages to comply with [RFC 5424](https://tools.ietf.org/html/rfc5424)
* Bump diego to version `2.47.0`
* Bump loggregator-agent to version `5.3.10`
* Bump smoke-tests to version `2.2.0`
* Bump windowsfs-release to version `2.15.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.22</td></tr>
    <tr><td>diego</td><td>2.47.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.10</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.2.0</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.15.0</td></tr>
  </tbody>
</table>



### <a id='2.9.5'></a> 2.9.5

**Release Date:** 06/11/2020

* **[Bug Fix]** Loggregator Agent - Fix certificate issues for all agent metrics
* No release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.22</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.9</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.14.0</td></tr>
  </tbody>
</table>



### <a id='2.9.4'></a> 2.9.4

**Release Date:** 06/03/2020

* **[Bug Fix]** Migrate `services/intermediate_tls_ca` to `/services/tls_leaf` for Maestro
* Bump windows2019 stemcell to version `2019.22`
* Bump metrics-discovery to version `3.0.1`
* Bump windowsfs-release to version `2.14.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.22</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.9</td></tr>
    <tr><td>metrics-discovery</td><td>3.0.1</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.14.0</td></tr>
  </tbody>
</table>



### <a id='2.9.3'></a> 2.9.3

**Release Date:** 05/18/2020

* **[Bug Fix]** Fix scheduling bug in `loggregator agent` by upgrading to Go 1.14.2
* Bump loggregator-agent to version `5.3.9`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.20</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.9</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.13.0</td></tr>
  </tbody>
</table>



### <a id='2.9.2'></a> 2.9.2

**Release Date:** 05/05/2020

* **[Feature Improvement]** NATS TLS server runs alongside NATS server
* **[Feature Improvement]** NATS communication happens securely over TLS for Windows Diego Cells
* Bump windows2019 stemcell to version `2019.20`
* Bump windowsfs-release to version `2.13.0`

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.20</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.13.0</td></tr>
  </tbody>
</table>



### <a id='2.9.1'></a> 2.9.1

**Release Date:** 04/22/2020

* **[Bug Fix]** Fix `server_name` value to use Common Name as metrics_agent_metrics_tls
* Bump windows2019 stemcell to version `2019.19`
* No release bumps

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.19</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.12.0</td></tr>
  </tbody>
</table>



### <a id='2-9-0'></a> v2.9.0

**Release Date:** April 10, 2020

**[Feature]** Make app log rate limit configurable.
  For more information, see [New Features in <%= vars.windows_runtime_abbr %> v2.9](#new-features).

<table border="1" class="nice">
  <thead>
    <tr>
      <th>Component</th>
      <th>Version</th>
    </tr>
  </thead>
  <tbody>
    <tr><td>windows2019 stemcell</td><td>2019.15</td></tr>
    <tr><td>diego</td><td>2.44.0</td></tr>
    <tr><td>envoy-nginx</td><td>0.6.0</td></tr>
    <tr><td>event-log</td><td>0.8.0</td></tr>
    <tr><td>garden-runc</td><td>1.19.10</td></tr>
    <tr><td>hwc-offline-buildpack</td><td>3.1.13</td></tr>
    <tr><td>loggregator-agent</td><td>5.3.8</td></tr>
    <tr><td>metrics-discovery</td><td>2.0.2</td></tr>
    <tr><td>smoke-tests</td><td>2.0.6</td></tr>
    <tr><td>winc</td><td>2.0.0</td></tr>
    <tr><td>windows-utilities</td><td>0.14.0</td></tr>
    <tr><td>windowsfs-release</td><td>2.12.0</td></tr>
  </tbody>
</table>


## <a id='upgrade'></a> How to Upgrade

The <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile is available with the release of <%= vars.platform_name %>
<%= vars.v_major_version %>.
To use the <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> tile,
you must install <%= vars.ops_manager_full %> <%= vars.v_major_version %> or later and <%= vars.app_runtime_full %>
(<%= vars.app_runtime_abbr %>) <%= vars.v_major_version %> or later.


## <a id='new-features'></a> New Features in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>

<%= vars.windows_runtime_abbr %> <%= vars.v_major_version %> includes the following major features:

### <a id='route-emitter-nats-tls'></a> Route Emitters Communicate with NATS Over TLS

Route Emitters for Windows Diego Cells send messages to NATS over TLS. This allows your <%= vars.windows_runtime_abbr %> deployment to meet security compliance requirements while relying less on security policy exceptions or add-ons. TLS encryption from Route Emitters to NATS cannot be disabled.

For more information about Route Emitters and TLS encryption, see [TLS to Apps and Other Back End Services](https://docs.pivotal.io/application-service/2-9/concepts/http-routing.html#tls-to-back-end) in _HTTP Routing_.

### <a id='app-log-limit'></a> Configure App Log Rate Limit (Beta)

You can limit the number of log lines each app instance in your isolation segment generates per second by configuring the **App log rate limit (beta)** section in the **App Containers** pane of the <%= vars.segment_runtime_full %> tile.

This feature is disabled by default. Enabling this feature prevents app instances from overloading the Loggregator Agent with logs, so the Loggregator Agent does not drop logs for other app instances. Enabling this feature also prevents apps from reporting inaccurate app metrics in the Cloud Foundry Command Line Interface (cf CLI) or increasing the CPU usage on the Diego Cell VM.

For more information, see [Assign a Tile to an Isolation Segment](https://docs.pivotal.io/application-service-windows/2-9/isolation.html#assign-isolation) in _Windows Diego Cells in Isolation Segments_.


## <a id='known-issues'></a> Known Issues

There are no known issues in <%= vars.windows_runtime_abbr %> <%= vars.v_major_version %>.
